[2016-04-11 19:33] spaulenoff commented on #63
@toshan2014 Please make changes per Steve's comment

[2016-04-11 19:35] skt2 commented on #19
NOTE: Changing user status(Whitelisted, Blacklisted and Unassigned) does not change photo status(Published, Unpublished and Queued)

[2016-04-11 19:37] skt2 commented on #19
Note for developers:
Important file for most of queries: /third_party/social_aggregator/mcp.social_aggregator.php
Important function: getAllFilesDbObj()

[2016-04-11 19:43] skt2 commented on #19
After discuss(how we want to show list of photos in CMS) with @kylejbertelsen,
now I am showing the list of photos regardless of user status(Whitelisted, Blacklisted and Unassigned), before it was showing photos for Whitelisted users only.
Though you can always filter photos with photo status(Published, Unpublished and Queued)

[2016-04-11 19:48] spaulenoff commented on #63
Could you also make sure the social buttons are center on iphone 5 and 5s
![iphone5 gigya](https://cloud.githubusercontent.com/assets/13648969/14440184/c43110fc-fffc-11e5-9c57-f5cd2563d258.png)

[2016-04-11 20:15] skt2 commented on #7
Sitemap tickets on JIRA: https://akcorg.atlassian.net/issues/?jql=text%20~%20%22sitemap%22

[2016-04-11 20:38] stevepessah commented on #11
Verified on stage.

[2016-04-11 21:22] stevepessah opened #171 "Implement new Author pages"
We'd like to create new Author pages for our writers on AKC.org
## Requirements
- Add schema.org to the page (http://www.seoskeptic.com/structured-data-for-author-pages-and-linked-snippets/)
- Articles from the /content/ and /news/ sections should be pulled into the Recent Posts section
- The Author's name in all content pages (articles, videos, and photo gallery pages) should link to their respec

[2016-04-12 01:58] toshan2014 commented on #63
- Content moved up to reasonable amount so it does not look crammed. Everything is visible on the iphone6 and 6s without scroll.
- Social buttons alignment adjusted for iphone5 and 5s.

Also in order to avoid creating too many screen on Gigya and in an effort to have less redundant ones, "Login-web-2" contains the same things "Login-web-2-new". I will delete "Login-web-2-new" as soon as QA is done

[2016-04-12 08:36] aalattili commented on #161
@spaulenoff , QA testing passed. js files exist and have content in all /learn pages on stage-ng.akc.org.

[2016-04-12 13:05] spaulenoff commented on #170
@kylejbertelsen Please see notes for Desktop. Notes in bold/italicized. Will add notes for mobile after. http://develop2.akc.org/content/dog-breeding/articles/tax-tips-for-dog-breeders/
1. Remove top hero image and place it under the title of the article (this means we only have to create one image size rather than 3 - thumbnail, hero, social).
- **_(Sip Notes) Please remove hero image altogether

[2016-04-12 13:12] spaulenoff commented on #170
## Mobile
1. 320x100 or 320x50 ad unit at the top (position: x10)
- **_(SP Note) This is Good_**
1. Hero image moved below article title
- **_(SP Note) This is Good_**
1. 300x250 ad unit in the article body (should show after the second `<p>` tag) (position: x35)
- _**(SP Note) This is Good**_

[2016-04-12 13:38] spaulenoff commented on #63
@toshan2014 Changes look good. On Mobile however, can we just add back in the line at the bottom of the sign in modal to show that it is separate from the rest of the page

[2016-04-12 14:23] spaulenoff commented on #170
# Tablet Notes
1. Can we remove the right ads sidebar on tablet?

# Desktop Notes
1. Can we please remove the hero image as we spoke about, as there may be pieces of content uploaded in the future that don't have hero images. Currently, articles without hero images show the default category hero in it's place.
2. Can we fix the issue where the ads overlap initially?
   ![ads overlapping](https://c

[2016-04-12 14:23] AKCOsama opened #172 "SEO Friendly Pages"
In order for URLs to be SEO friendly, they should be clearly named for what they are and contain no spaces, underscores or other characters. You should avoid the use of parameters when possible, as they are make URLs less inviting for users to click or share.

@spaulenoff here a list of unfriendly pages:
- http://www.akc.org/register/?pre=breeder&activity=puppy
- http://www.akc.org/register/?pre=b

[2016-04-12 15:49] toshan2014 commented on #63
@spaulenoff Border added back

[2016-04-12 16:07] spaulenoff commented on #161
Verified on Stage. @kylejbertelsen  please make sure this is pushed to develop2 as well

[2016-04-12 16:19] kylejbertelsen commented on #170
Re (https://github.com/akcdotorg/akc.org/issues/170#issuecomment-208931429)
Tablet #1 -- done. Hides when screen width between 625px and 970px
Desktop #1 -- no longer required, remains optional. Does not output unless defined.
Desktop #2 -- I think I have that nailed-down.

[2016-04-12 16:27] skt2 commented on #27
Sitemap link: http://develop2.akc.org/blog/sitemap/

[2016-04-12 17:24] skt2 commented on #164
Example video: http://www.akc.org/news/ace-winner-inspires-creation-of-monument-to-honor-k-9-officers/

[2016-04-12 17:24] spaulenoff commented on #170
@stevepessah Please QA on Dev2 on Mobile and Desktop. I went through first round of QA and on tablet.
http://develop2.akc.org/content/dog-breeding/articles/tax-tips-for-dog-breeders/
http://develop2.akc.org/content/dog-breeding/articles/tips-for-success-with-fresh-chilled-semen-breedings/

[2016-04-12 17:38] skt2 commented on #164
@spaulenoff if you can get support information for **teads** from @elieo then it would be great.

[2016-04-12 18:30] skt2 commented on #164
404: Teads
https://rtd.tubemogul.com/upi/pid/42ypLGPB?redir=https%3A%2F%2Fsync.teads.tv%2Fum%3Feid%3D9%26uid%3D%24%7BTM_USER_ID%7D

REQUEST HEADER:
Host: rtd.tubemogul.com
User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10.11; rv:45.0) Gecko/20100101 Firefox/45.0
Accept: image/png,image/_;q=0.8,_/*;q=0.5
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Referer: http://sync.tea

[2016-04-12 18:35] stevepessah commented on #170
## Desktop
- Ad needs to always be visible on the user's screen. There should not be able lag when the user scrolls, the ad should always be in view (goal here is to increase ad viewability).
- When you scroll to the top, the ad should not jump back to original placement (see previous comment)
- Ad needs to reach the bottom of the grey sidebar per initial comment (Should stop moving once the botto

[2016-04-12 18:38] spaulenoff commented on #170
@kylejbertelsen Please see Steve's comments above

[2016-04-12 19:06] skt2 commented on #164
There are some support articles here but not much helpful: http://support.teads.tv/customer/en/portal/topics/569396-format---infeed/articles

[2016-04-12 19:07] skt2 commented on #164
Support email: http://support.teads.tv/customer/en/portal/emails/new - I have sent email for our problem.

[2016-04-12 19:11] toshan2014 commented on #135
@spaulenoff Please confirm if we need all these fields: Photo     Slide Title     Slide Subtitle     Slide Content     Slide Date ( like in the Mayday photogallery ). I would think we just need Photo and Slide Title but please confirm.

[2016-04-12 19:15] spaulenoff commented on #135
@toshan2014 Only Photo is needed. All other fields can be left out

[2016-04-12 19:59] spaulenoff commented on #27
Verified on Stage

[2016-04-12 22:40] pps2010 commented on #7
Sitemap as of 4/12/2016 uploaded here. I suggest we add this to our source code that would deploy to the site (the XML file) and provide Elie with a link for the same. Then we can update the sitemap on a regular basis. Discuss in the next standup.

[AKC.ORG-sitemap-2016-04-12.xml.txt](https://github.com/akcdotorg/akc.org/files/216072/AKC.ORG-sitemap-2016-04-12.xml.txt)
[AKC.org-sitemap-2016-04-12.

[2016-04-13 12:48] spaulenoff opened #173 "Rearrange mobile ad layout"
Will create subtickets for each page type. This will only be for mobile layouts. Related to #158, #159 and #160

These changes will **_ONLY_** be made to **_MOBILE_** page layouts

Google Doc:https://docs.google.com/spreadsheets/d/1qzg2I9Y040IyGfEMbZZQEeVYMzd26BMdekmXGerxJZY/edit#gid=721441786

[2016-04-13 13:08] spaulenoff opened #174 "Mobile Homepage Ad Redesign"
# Subticket of #173

http://www.akc.org/

Changes:
1. Add 300x250 (x11) between featured Breeds and Featured Stories
2. Remove 320x50 (x10) at very bottom of page

**Ads that will be on the page after change**: x11, x01 (Both run on mobile and desktop)

Mockup:
![homepage new mobile ads](https://cloud.githubusercontent.com/assets/13648969/14494147/4cbb7d44-0157-11e6-99f8-f1f5d8e88e78.png)

[2016-04-13 13:12] spaulenoff opened #175 "Mobile Breed Page Ad Redesign"
Subticket of #173

http://www.akc.org/dog-breeds/labrador-retriever/

Changes:

Move bottom 300x250 (x12) from bottom of page to inbetween the at a glance section and the breed standard section

**Ads that will be on the page after change**: x10, x12, x01 (runs on both mobile and desktop), x11 (runs on both mobile and desktop)

Mockup: http://elieorgel.com/wp-content/uploads/2016/04/Breed-page-mob

[2016-04-13 13:17] spaulenoff opened #176 "Mobile Breed Detail Page Ad Redsign"
Subticket of #173

http://www.akc.org/dog-breeds/welsh-springer-spaniel/detail/

Changes:
Add 300x250 (x01) in between top orange section and history section

**Ads on page after change**: x01 and x09

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/Breed-Detial-Page-Mobile.png

[2016-04-13 13:23] spaulenoff opened #177 "Mobile Breed Care Page Ad Redesign"
Subticket of #173

http://www.akc.org/dog-breeds/pointer/care/

Changes:
Add 300x250 (x01) between top orange section and second purple section

**Ads on page after change**: x01 and x09

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/Breed-Care-Page-Mobile.png

[2016-04-13 13:41] spaulenoff opened #178 "Mobile Browse All Breeds Page Ad Redesign"
Subticket of #173

http://www.akc.org/dog-breeds/

Changes:
1. Add 320x50 (x10) at top of the page between unhero and hero title
2. Add 300x250 (x01) inbetween first and second tile
3. Remove ads at bottom of page (x01 and x05)

**Ads on page after change**: x01 (runs on mobile and desktop) and x10

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/Main-SEO-Breed-Page-Mobile.png

[2016-04-13 13:43] spaulenoff opened #179 "Mobile SEO Page Ad Redesign"
Subticket of #173

http://www.akc.org/dog-breeds/best-dogs-for-apartments/

Changes:
1. Add 320x50 (x10) at top of the page between unhero and hero title
2. Add 300x250 (x01) inbetween first and second tile
3. Remove ads at bottom of page (x01 and x05)

**Ads on page after change**: x01 (runs on mobile and desktop) and x10

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/SEO-Breed-Page-Mob

[2016-04-13 13:46] spaulenoff opened #180 "Mobile Event Category Overview Page Ad Redesign"
Subticket of #173

http://www.akc.org/events/

Changes:
1. Add 320x50 (x10) at top of page between hero/unhero and hero title
2. Remove ads at bottom of page (x01 and x05)

**Ads on page after change**: x10

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/Events-Mobile.png

[2016-04-13 13:58] spaulenoff opened #181 "Mobile Generic 1 Page Ad Redesign"
Subticket of #173

http://www.akc.org/public-education/
http://www.akc.org/public-education/canine-ambassador-program/about-canine-ambassador-program/

Changes:
1. Add 320x50 (x10) between hero/unhero and top h1 Title tag
2. Add 300x250 (x01) after first paragraph
3. Remove ads at bottom of the page (x01, x05, x11)

**Ads on page after change**: x10 and x01 (run on mobile and desktop)

Mockup:
![g

[2016-04-13 14:06] spaulenoff opened #182 "Mobile Generic 2 Page Ad Redesign"
Subticket of #173

http://www.akc.org/downloadable-forms/
http://www.akc.org/events/nohs/nohs-finals/

Changes:
1. Add 320x50 (x10) between hero/unhero and content
2. Add 300x250 (x01) after first paragraph
3. Remove 300x600 (x05) at bottom of page

**Ads on page after change**: x10 and x01 (run on mobile and desktop)

Mockup:
![screenshot-www akc org 2016-04-13 10-03-10](https://cloud.githubuserc

[2016-04-13 14:12] spaulenoff opened #183 "Mobile Video Page Ad Redesign"
Subticket of #173

http://www.akc.org/content/dog-breeding/videos/the-baer-hearing-test-for-dogs/

Change:
Ad 320x50 (x10) between title and video

**Ads on page after change**: x10

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/new_video_page__mobile_ads_720.png

[2016-04-13 14:17] spaulenoff opened #184 "Mobile /News/ article and/Akc-dog-lovers/ article Dog Ad Redesign"
Subticket of #173

http://www.akc.org/news/ace-winner-inspires-creation-of-monument-to-honor-k-9-officers/
http://www.akc.org/akc-dog-lovers/12-spring-essentials/

Changes:
Remove ads at bottom of page (x01, x05, x12)

**Ads on page after change**: x03, x11 , x09

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/mobile-news.png

[2016-04-13 14:24] spaulenoff opened #185 "Mobile Compare Breeds Results Page Ad Redesign"
Subticket of #173

http://www.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C166%7C37%7C177

Changes:
Add 320x50 (x10) between unhero and compare H1 tag (same format as compare breeds selection page: http://www.akc.org/find-a-match/compare-breeds/)

**Ads on page after change**: x10

Mockup:
http://elieorgel.com/wp-content/uploads/2016/04/compare_breeds_result_mobile_ads_1024.png

[2016-04-13 14:26] spaulenoff opened #186 "Mobile You Vs Breed Page Ad Redesign"
Subticket of #173

http://www.akc.org/you-vs-breed/

Change:
Add 320x50 (x10) between orange box at top and the login to compare H1 tag

**Ads on page after change**: x10

Mockup:
![you vs breed mobile ads](https://cloud.githubusercontent.com/assets/13648969/14496741/2c018b1a-0162-11e6-85ed-181ad3c3389c.png)

[2016-04-13 14:30] spaulenoff opened #187 "Mobile Find a Match Pages Ad Redesign"
Subticket of #173

http://www.akc.org/find-a-match/#slide1
http://www.akc.org/find-a-match/#slide2
http://www.akc.org/find-a-match/#slide3
http://www.akc.org/find-a-match/#slide4
http://www.akc.org/find-a-match/#slide5
http://www.akc.org/find-a-match/#slide6
http://www.akc.org/find-a-match/results/

Change:
Add 320x50 (x10) between the top "find a match"  and the line right above the slide

**Ads

[2016-04-13 14:34] spaulenoff commented on #173
**Sub-Tickets:**
1. #174 Homepage
2. #175 Breed Page
3. #176 Breed Detail Page
4. #177 Breed Care Page
5. #178 Browse all Breeds Pages
6. #179 Breed SEO Pages
7. #180 Events Category Overview
8. #181 Generic 1 Pages
9. #182 Generic 2 Pages
10. #183 Content Hub Video Pages
11. #184 /News/ and /Akc-dog-lovers/ article pages
12. #185 Compare Breeds Results Page
13. #186 You vs Breed Page
14. #187 Fin

[2016-04-13 15:38] spaulenoff commented on #158
This will be resolved #173

[2016-04-13 15:44] toshan2014 commented on #135
@kylejbertelsen Please update config.master.php as follows:
`$env_config['structure_listing_subpages'] = array(
        'trigger_words' => array(
            'dog-breeds' => array('detail', 'care', 'pictures')
        )
    );`

[2016-04-13 16:21] stevepessah opened #188 "Updated Breed Pages"
http://dogs.petbreeds.com/l/16/Beagle

[2016-04-13 17:35] spaulenoff commented on #158
Closing as this will be resolved via #173

[2016-04-13 17:35] #158 closed, assigned to nobody

[2016-04-13 17:37] spaulenoff commented on #173
Total Estimated time for this ticket is around 20 hours after adding up estimates from subtickets

[2016-04-13 20:18] toshan2014 commented on #135
@spaulenoff #B : "Click here to view photos and videos from the Czechoslovakian Vlcak community". This will contain html in one part ( "here") and dynamic data on another part- the breed title ("Czechoslovakian Vlcak" in this case). If this line is made editable in the CMS these data will have to be manually added - not a good idea in my opinion as it would be prone to errors - please confirm this

[2016-04-13 20:26] spaulenoff commented on #135
@toshan2014 This line no longer needs to be editable at this time. Please make so the Click Here is html and the rest of the line is dynamic based on the breed page

[2016-04-13 20:47] skt2 commented on #164
wiki: https://akcorg.atlassian.net/wiki/display/BEV/Teads

[2016-04-13 20:47] skt2 commented on #162
wiki: https://akcorg.atlassian.net/wiki/display/BEV/Teads

[2016-04-14 11:55] pps2010 commented on #7
Please use this site map (attached here) and save it on the site as sitemap.xml (can be in the root folder). The URL for this file must be added to Google Search Console.
This file is generated using a link checker - so it only surfaces links to pages on the site.
[AKC.ORG-sitemap-2016-04-12.txt](https://github.com/akcdotorg/akc.org/files/219025/AKC.ORG-sitemap-2016-04-12.txt)

[2016-04-14 13:30] aalattili commented on #11
Title of 'Delegate portal' page is out of page boarders in portrait (Mobile-delegate portal.png)
![mobile-delegate portal](https://cloud.githubusercontent.com/assets/12289479/14529638/26560086-025e-11e6-9803-302df7709c28.png)

[2016-04-14 13:37] aalattili commented on #63
On android (Samsung S6)-Gigya sign up pop up, ‘Confirmation Password’ txt box isn’t aligned with ‘Password’ txt box since (*) is shifted under field title in portrait. (Android-Gigya Sign up-Alignment issue.png)
![android-gigya sign up-alignment issue](https://cloud.githubusercontent.com/assets/12289479/14529864/25c59108-025f-11e6-9f85-2a18fd147448.png)

[2016-04-14 13:41] skt2 commented on #7
@pps2010 I have pushed above sitemap.xml to develop2. As of now I put it under common template group and link for that is: http://develop2.akc.org/common/sitemap
There is also http://develop2.akc.org/sitemap.xml in root folder which generated by EE add-ons(I guess), just in case if we want to compare anything there.

[2016-04-14 13:54] spaulenoff commented on #170
@kylejbertelsen Notes below:

## Desktop
- Ad needs to always be visible on the user's screen. There should not be able lag when the user scrolls, the ad should always be in view (goal here is to increase ad viewability). **Fixed**
- When you scroll to the top, the ad should not jump back to original placement (see previous comment) **Fixed**
- Ad needs to reach the bottom of the grey sidebar per

[2016-04-14 13:59] spaulenoff opened #189 "Mobile Content Hub Category/Subcategory Page Issues"
New issue found on Mobile category/subcategory page: Possibly related to #170
http://develop2.akc.org/content/dog-breeding/
http://develop2.akc.org/content/westminster-dog-show/live-coverage/
- Weird Code showing up in header **Resolved**
- Missing Mobile Navigation
- Not enough space between "featured articles" and Hero
- Tile Format is messed up, Swipeable dots are showing up within the tile its

[2016-04-14 14:18] kylejbertelsen commented on #189
The 'weird code' was indeed related to #170 -- that portion should be fixed now. Otherwise, unrelated to 170

[2016-04-14 14:20] spaulenoff commented on #189
Confirming that I am seeing that first issue resolved

[2016-04-14 16:47] spaulenoff commented on #27
@skt2 Sorry but we found a few additional issues that were not caught on first QA. @aalattili has found the following issues:

http://stage-ng.akc.org/news/oscar-the-dachsie-dazzles/
http://stage-ng.akc.org/news/first-2-canine-officers-recognized/

iPhone - News article, for article with new design, Facebook Comment Section  components are displaying improperly
![iphone-news - facebook comment sec

[2016-04-14 16:53] spaulenoff commented on #63
@toshan2014 Please make this update. Moving back to stage until this is finished.

[2016-04-14 17:04] toshan2014 commented on #63
@spaulenoff Are you OK using "Retype Password" instead of "Confirm Password". That will solve the problem as it's a matter of screen/text size.

The other option would be to reduce the font-size. But then that would mean on mobile devices where it's working fine ( iphones ), the fonts will be smaller.

[2016-04-14 17:14] spaulenoff commented on #63
@stevepessah What do you think per Toshan's comment to the issue Aspire brought up on Android? Another option would be to abbreviate Password to PW. Or we could just leave it how it is as this is only an issue on the Android Sign Up screen.

I personally Retype could be a good fallback option as it conveys the same message and it will fit on one line instead of two how it is in the above screensho

[2016-04-14 17:18] spaulenoff commented on #63
@toshan2014 Confirmed ok to use Retype

[2016-04-14 17:29] toshan2014 commented on #63
Fixed
![13020066_10154030472615761_691201685_n png](https://cloud.githubusercontent.com/assets/6847220/14537398/afb93e20-022b-11e6-8a88-664b643b407c.jpg)

[2016-04-14 18:02] skt2 commented on #27
@spaulenoff Fixed. ^

[2016-04-14 18:19] skt2 commented on #27
@spaulenoff fixed additional issue in the same ticket. you can test it on stage now. Thanks!

[2016-04-14 18:24] kylejbertelsen commented on #189
Time spent:
2016-04-14: kjb: 2 hours - Repaired mobile navigation, restored styling on sliders

[2016-04-14 18:38] spaulenoff commented on #189
Close but still seeing an issue where you are able to drag left and right on whole page. This does not occur on production.

Dev2:
![image](https://cloud.githubusercontent.com/assets/13648969/14539452/70a226de-024e-11e6-9e45-7642e8d0bfcb.png)

Prod:
![image](https://cloud.githubusercontent.com/assets/13648969/14539470/86e8b886-024e-11e6-8827-290cec55f61d.png)

[2016-04-14 19:07] toshan2014 commented on #163
New page "/pictures" created. Example : http://develop2.akc.org/dog-breeds/affenpinscher/pictures/
This page has the following:
- Hero image
- Breadcrumb
- H1
- Photo Gallery
- UGC

Please QA : http://develop2.akc.org/dog-breeds/affenpinscher/pictures/

[2016-04-14 19:16] toshan2014 commented on #163
Time spent: 7h ( two things took longer than expected - 1. ads were not showing 2. this page is special as it lies underneath listing channel pages in Structure and it was initially impossible to create as there was no documentation of how to make such a page ) . Here's the doc I've created in case such new pages have to be built : https://akcorg.atlassian.net/wiki/display/BEV/Allow+the+creation+o

[2016-04-14 19:26] spaulenoff commented on #163
@toshan2014 Some Notes:
When going to each slide, the URL change like so - http://develop2.akc.org/dog-breeds/affenpinscher/pictures/?photo_id=0, http://develop2.akc.org/dog-breeds/affenpinscher/pictures/?photo_id=1, http://develop2.akc.org/dog-breeds/affenpinscher/pictures/?photo_id=2.

This causes the title tag to disappear. can we make so ever slide as well as the ad and end car all have the sa

[2016-04-14 20:15] kylejbertelsen commented on #170
Slider now reaching bottom of column.

[2016-04-14 20:20] toshan2014 commented on #163
@spaulenoff please check again.

[2016-04-14 20:22] toshan2014 commented on #135
Please QA:

To create a new breed gallery:
Content > Edit > Breed > [Breed-Title] > Breed photogallery

To toggle between UGC and gallery:
Content > Edit > Breed > [Breed-Title] > Show Breed Photogallery

[2016-04-14 20:22] toshan2014 commented on #135
Time spent: 9h

[2016-04-14 20:27] spaulenoff commented on #170
@stevepessah Please check as i am now seeing the above issues resolved:
http://develop2.akc.org/content/dog-breeding/articles/john-buddie-on-his-highs-lows-and-the-legacy-of-tartanside-collies/
http://develop2.akc.org/content/dog-breeding/articles/tax-tips-for-dog-breeders/
http://develop2.akc.org/content/dog-breeding/articles/tips-for-success-with-fresh-chilled-semen-breedings/

[2016-04-14 20:45] spaulenoff commented on #135
@stevepessah I checked and I am seeing this as layed out above. please QA on Dev2:
http://develop2.akc.org/dog-breeds/beagle/
http://develop2.akc.org/dog-breeds/affenpinscher

[2016-04-14 20:46] spaulenoff commented on #163
@stevepessah I checked and I am seeing it outlined as above. Please Qa on dev2:
http://develop2.akc.org/dog-breeds/beagle/pictures
http://develop2.akc.org/dog-breeds/affenpinscher/pictures

[2016-04-15 13:20] kylejbertelsen commented on #189
Moved menu + and - slightly left. Could not replicate draggability.

[2016-04-15 13:25] spaulenoff commented on #189
I am still seeing dragging issue? have you checked browserstack or on your actual phone? If you have and still can't replicate, let me know and i will verify the changes are correct

[2016-04-15 14:57] spaulenoff commented on #170
@kylejbertelsen Few Notes:

QA'd on:
http://stage-ng.akc.org/content/dog-breeding/articles/ovulation-in-the-bitch/
http://stage-ng.akc.org/content/dog-breeding/articles/tax-tips-for-dog-breeders/
http://stage-ng.akc.org/content/dog-breeding/articles/john-buddie-on-his-highs-lows-and-the-legacy-of-tartanside-collies/
http://stage-ng.akc.org/content/westminster-dog-show/articles/westminster-group-re

[2016-04-15 15:00] kylejbertelsen commented on #189
Found source of slight side-scroll: Our old friend minimee.

Stage is load-balanced, so minimee comes into play -- and when changing js/css on stage, we need to update the 'Cache-Busting' variable at Extensions > Minimee > Settings > Advanced. Doing so invalidates the server-cached css and js, allowing your changes to show.

This step will also be necessary in Production.

[2016-04-15 15:04] spaulenoff commented on #189
Ok great! confirming it is no longer "bouncing" However can you move the +/- symbols back to their original placement as now they are slightly shifted over vs whats on prod

[2016-04-15 15:05] spaulenoff commented on #189
@kylejbertelsen Please also add a comment with the issue and solution you found

[2016-04-15 17:33] spaulenoff commented on #170
All of the above now seem to be fixed. Verified on Stage. Can you just please update the CMS field with the new recommended hero image info (778px X 585px). All add in "if left blank, article content will be moved up to take its place" or something like that.

-- DONE, kjb

[2016-04-15 18:10] stevepessah commented on #135
@spaulenoff gallery looks good - is it possible to keep the URL as /dog-breeds/affenpinscher/ and only change the URL is the user engages with the gallery? Right now when you land on that page you hit /affenpinscher/?photo_id=0

[2016-04-15 18:12] spaulenoff commented on #135
@toshan2014 Please confirm if you can make the change steve asked for in his comment

[2016-04-15 18:13] stevepessah commented on #163
@spaulenoff same note about the URL as in #135. Also:
- Can we change the H1 to "more photos of the AFFENPINSCHER"
- Add a header above the UGC for "the AFFENPINSCHER COMMUNITY"
- Update the breadcrumb to say "Pictures" instead of "Community"

[2016-04-15 18:14] spaulenoff commented on #163
@toshan2014 Please make the changes outlined above and please confirm if first question is possible

[2016-04-15 19:19] kylejbertelsen opened #190 "JIRA wishlist"
Syntax Highlighter: https://marketplace.atlassian.com/plugins/jira.plugin.syntaxhighlighter.macro.syntaxplugin/versions#b175

To-Do List Custom Field:
https://marketplace.atlassian.com/plugins/ru.mail.jira.plugins.todolist/versions#b180

Some kind of notes plug-in would be good.

Anything that could collapse/hide comments on-click.

[2016-04-15 20:24] toshan2014 commented on #163
@spaulenoff changes made - please check http://develop2.akc.org/dog-breeds/affenpinscher/pictures/

[2016-04-15 20:26] toshan2014 commented on #163
Time spent : +15min

[2016-04-15 20:26] spaulenoff commented on #163
Verified on Dev2

[2016-04-15 20:27] toshan2014 commented on #135
@spaulenoff - please check - http://develop2.akc.org/dog-breeds/affenpinscher/

Note: clear browser cache first

[2016-04-15 20:27] toshan2014 commented on #135
Time spent: +1.5h

[2016-04-15 20:33] spaulenoff commented on #135
Verified on dev2

[2016-04-15 20:43] stevepessah opened #191 "Implement new store landing page"
URL - www.akc.org/akc-store/

Design - https://drive.google.com/folderview?id=0BwbZVJbtZRI5TXVPeVU3NGViakk&usp=sharing

[2016-04-15 20:55] skt2 commented on #164
Reply from teads support, which is very interesting:

I believe the issue on the page where the ad is not displaying is caused by the paragraph on the page being above the fold. Our unit needs to be below the fold in order to be activated. On the second page where the ad is working, there is video content as well, which pushes the paragraph below the fold, allowing our ad to serve. Does that make

[2016-04-15 21:12] toshan2014 commented on #135
Stage: http://stage-ng.akc.org/dog-breeds/affenpinscher/

[2016-04-15 21:14] toshan2014 commented on #163
Stage: http://stage-ng.akc.org/dog-breeds/affenpinscher/pictures/

[2016-04-17 07:40] AKCOsama commented on #27
@spaulenoff @skt2 QA statuses for above mentioned issues:
1. News article, for article with new design, title of some article is partially:
              QA Passed, this issue is fixed and verified on stage.
   See News Articles - Title is fully display.png snapshot
   ![news articles - title is fully display](https://cloud.githubusercontent.com/assets/16208336/14585747/a2cbea82-0488-11e6-90bb-461

[2016-04-17 11:28] AKCOsama opened #192 "Microblog and News Hubs - Articles"
@spaulenoff
Learn - Article size (boxes in main page) isn't standardized, the size of article depends on how long the title is.

See Learn - Articles size.png snapshot:
![learn - articles size](https://cloud.githubusercontent.com/assets/16208336/14586646/a4267954-04a8-11e6-81a0-b51133bf605b.png)

[2016-04-17 11:52] AKCOsama commented on #192
Learn - Drop down list have no style and some options (links/text) are partially hidden, also these options don't redirect to any chosen page.

See Learn - Drop down list.png snapshot:
![learn - drop down list](https://cloud.githubusercontent.com/assets/16208336/14586776/e8281c40-04ab-11e6-9bfe-ce5e1e1a0c10.png)

[2016-04-17 12:30] AKCOsama commented on #192
News article, at end of page in next/previous articles section, ‘year’ of article is shifted to left & text font color is unclear

See Year of article is shifted left & font color is unclear.png snapshot:
![year of article is shifted left font color is unclear](https://cloud.githubusercontent.com/assets/16208336/14586956/4f197688-04b1-11e6-9756-62f3e3878c34.png)

[2016-04-17 12:44] aalattili commented on #63
@spaulenoff , Gigya login in "Learn" pages has different design compared to rest of website,
List of issues in Gigya login in learn pages:
1- Dialog top/caption section is dark violet-colored
2- Background color/ 'OR' appears inside a box with color lighter than background
3- Font color & style
4- Button size (Dimensions)[Learn login button: 180 px \* 56 px, in other pages 180 px \* 40 px)
5- Boar

[2016-04-17 13:02] aalattili commented on #63
@spaulenoff, Opening gigya login dialog will cause articles behind Gigya login dialog to hide/ diappear.
Note: This issue is applicable on mobile web for both sign up/in Gigya dialog.

![learn pages-opening login dialog will cause all articles beneath it to hide](https://cloud.githubusercontent.com/assets/12289479/14587128/bfa9ede8-04b5-11e6-81c3-693190eeb06f.PNG)

[2016-04-17 15:43] elieo commented on #170
@stevepessah  @pps2010

I just checked in on this, and I noticed that the top ad on mobile seems to be getting cut off on the bottom. ( I check my iphone and mobile version on inspect elements)

# currently looks like this

![image](https://cloud.githubusercontent.com/assets/1423008/14588188/03da9596-0491-11e6-8fba-20fe985d7a50.png)

![image](https://cloud.githubusercontent.com/assets/1423008/1458

[2016-04-17 15:48] elieo commented on #173
@stevepessah  @spaulenoff

We need to figure out if we want to do this now, or when we move to DFP.  @spaulenoff  let's reach out to Yourbow and figure out the ads tags we will need for this.

[2016-04-17 18:12] elieo commented on #164
@skt2  @stevepessah @spaulenoff

I suggest that we put the teads ad in middle of the content as shown below. @stevepessah  please let me know if you are okay with this.

![image](https://cloud.githubusercontent.com/assets/1423008/14589028/5eabffa4-04a6-11e6-95e4-4437a91f8fb7.png)

[2016-04-17 18:19] stevepessah commented on #164
@elieo that's fine for an ad spot placement but the Teads placement needs to be above the fold in order for it to work.

[2016-04-17 18:31] elieo commented on #164
@stevepessah to clarify, the Teads ad unit needs to be *_BELOW *_the fold.

I know this is confusing but Teads is different than our regular display ad units, in that it is a “user initiated ad”. (ie after the user scrolls, and ad unit displays).

If you are okay with the Teads placement in my mockup, from a UX / Product perspective,  I recommend we move forward with it.

[2016-04-18 12:26] spaulenoff commented on #170
@kylejbertelsen Please make this one update Elie outlined above.

[2016-04-18 12:27] spaulenoff commented on #164
@skt2 Please make this update on Stage ASAP. Once this is approved we will move stage to preflight.

[2016-04-18 13:38] kylejbertelsen commented on #146
Wrote to Mickey Ledford, Jeff Utley on this on 2016-04-18

[2016-04-18 13:43] skt2 commented on #164
For now it is playing after 2nd breed, the reason behind, this listing is in loop and somehow one of the expression engine functionality loop count doesn't seem to be working as expect so it is hard to specify condition after 3rd. I'll keep looking into this meanwhile.
Tested here: http://stage-ng.akc.org/dog-breeds/hypoallergenic-dogs/

[2016-04-18 14:20] spaulenoff commented on #164
Verified on Stage.

[2016-04-18 14:44] kylejbertelsen opened #193 "Implement Better Workflow"
Implement the Better Workflow plug-in, allowing more granular editing/publishing permissions.

[2016-04-18 14:48] kylejbertelsen opened #194 "Research plan for Learning Management System, for Leslie"
for Leslie Fetzer:

Bridge by Instructure produces guided forms for Judging Operations, where the data is processed (how?) and shared with Legal.

Resources:

Articulate Storyline is a tool Leslie uses to produce the UX for questionnaires
Microsoft Form is a tool which does things similar to what we want
Tom Patterson has Bridge API information, and Jeff Utley has also done some preliminary resear

[2016-04-18 15:09] skt2 commented on #164
Final replay from Teads support when I asked if there is way around to load ads before page fold:
"You are welcome. On that page there is really not a way around since the paragraph does not go below the fold. Part of our ad offering is that our units deliver to that location, so there is not too much we can do on our end. Let me know if you have any other questions."

[2016-04-18 15:11] stevepessah commented on #2
@spaulenoff this is a critical one for the 4/28 push. If there are any issues with the timeline once we review, we need to discuss with Brandi/Davis.

[2016-04-18 15:13] kylejbertelsen commented on #161
Confirmed on pre-flight (stage)

[2016-04-18 15:31] toshan2014 commented on #157
pf please QA
http://develop2.akc.org/media/
http://develop2.akc.org/article/
http://develop2.akc.org/article/akc-training/
http://develop2.akc.org/media/view/test-photo-gallery

[2016-04-18 15:33] toshan2014 commented on #11
pf Please QA : http://develop2.akc.org/delegate/delegates-portal/

[2016-04-18 15:35] toshan2014 commented on #155
pf Please QA : http://develop2.akc.org/find-a-match/

[2016-04-18 15:41] toshan2014 commented on #135
pf : http://develop2.akc.org/dog-breeds/beagle/

[2016-04-18 15:42] toshan2014 commented on #163
pf : http://develop2.akc.org/dog-breeds/beagle/pictures/

[2016-04-18 15:45] spaulenoff commented on #161
@aalattili Please retest on stage to confirm still working correctly

[2016-04-18 15:50] spaulenoff commented on #170
@kylejbertelsen Looks good except for one note on Mobile - seeing extra 300x250 on the bottom of the page under the most popular in section. Can we please remove on mobile? Looks to be x20

http://stage-ng.akc.org/content/dog-breeding/articles/ovulation-in-the-bitch/
http://stage-ng.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-04-18 16:14] stevepessah opened #195 "Update <div id> in a few places to support Marketo Real Time Personalization"
We'd like to implement Marketo's Real Time Personalization so we can serve personalized content to users. In order to do this, we need to update the `<div>` to be unique so Marketo knows to put X content in Y spot.

I have outlined the spots we'd like to implement this in with a proposed `<div id>`.

**NOTE: We cannot use `<div class>` to do this. It must be `<div id>`.
## In Zone Campaign

(https

[2016-04-18 16:21] kylejbertelsen commented on #170
@spaulenoff: extraneous ad removed, confirmed on stage-ng.

[2016-04-18 16:24] spaulenoff commented on #170
Verified on Preflight

[2016-04-18 16:42] spaulenoff commented on #107
Per Ticket #195 We need to update `<div id>` for the carousel. Outlined below:

"We'd like to implement Marketo's Real Time Personalization so we can serve personalized content to users. In order to do this, we need to update the `<div>` to be unique so Marketo knows to put X content in Y spot.

I have outlined the spots we'd like to implement this in with a proposed `<div id>`.

**NOTE: We cannot

[2016-04-18 16:42] kylejbertelsen commented on #140
Cons:
- It's crap
- Can't trust even simple conditionals and variable setting/reading reliably
- It's very niche, and lacks community support
- Hard to find workers familiar with it

Pros:
- It's there, in-place, and much work has been done in it.

[2016-04-18 16:44] stevepessah commented on #140
@kylejbertelsen let's keep this aside for now. There are other things we'll need you to help research into, such as https://github.com/akcdotorg/akc.org/issues/195

[2016-04-18 16:44] kylejbertelsen commented on #141
Pros:
- Very adaptable and powerful
- Large community with support
- Regularly-released security updates
- Relatively easy to find workers
- Third-party add-ons are available for most services and features not natively supplied in core, and these are usually well-tested and well-supported
- Drupal development brings a series of coding standards that would make our internal collaboration considerab

[2016-04-18 16:46] toshan2014 commented on #63
pf:
http://stage-ng.akc.org/learn/
http://stage-ng.akc.org/

[2016-04-18 16:48] kylejbertelsen commented on #141
Cons:
- Getting Drupal coded to the point where we already are with EE would be a significant lift
- Large installed base means that security holes are regularly found and exploited (but are fixed relatively quickly)
- Community is made-up of a very inconsistent userbase with wildly-inconsistent skill levels. Using third-party add-ons needs to be done carefully, to avoid implementing the code of m

[2016-04-18 16:49] kylejbertelsen commented on #142
@stevepessah: they promised that they'd deliver a demo, but we haven't seen that yet. I'll withhold my judgment on this until I've had a chance to dig around in it.

[2016-04-18 17:00] kylejbertelsen commented on #142
Possible concerns, which might be able to be cleared-up by them answering a few questions:
- Workflow -- they spoke of a delay of a day or more in getting our code from our development environments into the development servers, staging servers, etc. If that is the case, I think it's a dealbreaker, since we need to be able to move relatively fast
- Black-boxing -- If, as it sounded from our one mee

[2016-04-18 17:12] #169 closed, assigned to nobody

[2016-04-18 17:15] kylejbertelsen commented on #76
Is not compatible with our needs. Closing.

[2016-04-18 17:17] kylejbertelsen commented on #136
Incompatible with our needs. Closing.

[2016-04-18 17:17] #136 closed, assigned to nobody

[2016-04-18 17:29] kylejbertelsen commented on #141
Pros of running our own instance of Drupal, versus a hosted solution:
- Unfettered level of control. We could do just about anything that is possible with Drupal, which is just about anything web-based. We wouldn't ever have to tell Marketing (or others) that we "can't" do something -- we could partner with them to determine when and how we could do it, with a clear idea of how heavy the lift is,

[2016-04-18 18:00] kylejbertelsen commented on #65
Create a new content type, and allow it to be inserted into various other content types. @spaulenoff: please determine which content-types. Obviously Articles is one, maybe Generics? Etc?

[2016-04-18 18:02] kylejbertelsen commented on #165
Pretty sure this would be a request for ISD. Let's discuss. I'm not opposed to us getting our feet wet with apps.akc.org by taking this over.
(In the future, should we go with our own custom-built Drupal, this would be a pretty easy lift to bring in and customize at-will)

[2016-04-18 18:08] spaulenoff commented on #65
@kylejbertelsen This would mainly be used for Generic 2 templates as well as SEO Pages.

[2016-04-18 18:23] toshan2014 commented on #163
Time spent : +1.5h (social aggregator fix)

[2016-04-18 18:46] kylejbertelsen commented on #193
Never mind. Killed. Incompatible.

[2016-04-18 18:46] #193 closed, assigned to nobody

[2016-04-18 19:25] skt2 commented on #135
More information about moving or adding new UGC section: https://akcorg.atlassian.net/wiki/display/BEV/Load+UGC++on+a+new+section

[2016-04-18 22:28] stevepessah opened #196 "AKC.org Research"
@kylejbertelsen and @pps2010

Could you research the below options to see how much work it would require?

1:
Global domain redirect (ONLY ON PAGES MOVING FORWARD. EXISTING PAGES DO NOT NEED TO BE UPDATED)
We would like to start posting links using akc.com instead of akc.org and have them redirected to the page on .org. So for example, we would like to post this link http://www.akc.com/content/dog

[2016-04-18 23:21] stevepessah commented on #195
@kylejbertelsen could you give me a rough time estimate on this?

[2016-04-18 23:27] stevepessah commented on #76
@kylejbertelsen @spaulenoff can we implement this on the article pages if we can't do the full site?

[2016-04-19 06:18] AKCOsama commented on #161
@spaulenoff , QA testing passed. js files exists and have scripts in all learn pages on stage and working correctly

[2016-04-19 06:39] aalattili commented on #11
QA retest failed on mobile web (Android & iOS).

![failed-delegate portal page](https://cloud.githubusercontent.com/assets/12289479/14629891/7bf139ae-0612-11e6-9b33-6833b12b4b1e.png)

[2016-04-19 13:01] elieo commented on #17
@stevepessah  @spaulenoff We need mobile mockups.

[2016-04-19 13:04] stevepessah commented on #17
@spaulenoff can you reach out to Beth for mobile mockups? Would be good to get them by EOW or early next week.

[2016-04-19 13:31] stevepessah commented on #17
@elieo Beth is no longer working for us so this will need to wait until UX designer comes in.

[2016-04-19 15:59] spaulenoff commented on #2
**Response from Davis and David:**
Game modules are hosted in my dropbox public folder. AKC’s server should host these files.
https://www.dropbox.com/sh/sine2woga1lzf6c/AAAdwz_jWEqk0H5WYwy5Z22Ta?dl=0

Currently, the games are within an iframe that is forced to appear in the full screen and the highest layer. The iframe method works ok on desktop, but it crops the game screen on the iphone and iPad

[2016-04-19 17:27] elieo opened #197 "Add OAS Queries to Ad units on Content Hub"
**Backgruond**
As we are going to be moving the content from the /learn section to the /content section. We need to add OAS queries to each one of the ad units so we can block off certain sections to advertisers.

**Desired outcome**
We are looking to be able to block off ads based on any of the following:
- Content type (article, video, photogallery)
- Category
- Sub Category

**Recommendation**

[2016-04-19 17:30] elieo commented on #197
You can add multiple tag to an AOS query using the following> (& sign breaks up the keywords)

OAS_query = 'events&conformation-dog-shows&getting-started-showing';

[2016-04-19 17:49] spaulenoff commented on #162
Verified on Prod

[2016-04-19 17:51] spaulenoff commented on #155
Verified on Prod

[2016-04-19 17:52] skt2 commented on #162
How to turn On/Off variable:

Add-ons > Module > Republic Variable > Select > rp-breed-pages-teads
While Turning ON:
Parse variable early: Yes
Variable value: Yes

While Turning OFF:
Parse variable early: No
Variable value: No

[2016-04-19 17:53] spaulenoff commented on #157
Verified on Prod

[2016-04-19 17:53] #157 closed, assigned to nobody

[2016-04-19 17:53] #155 closed, assigned to nobody

[2016-04-19 17:53] #162 closed, assigned to nobody

[2016-04-19 17:56] spaulenoff commented on #11
Verified on Prod

[2016-04-19 17:56] #11 closed, assigned to nobody

[2016-04-19 18:25] skt2 commented on #27
Tested Article: http://www.akc.org/news/police-dogs-protecting-their-humans/

[2016-04-19 18:54] spaulenoff commented on #63
Verified on Prod

[2016-04-19 18:54] #63 closed, assigned to nobody

[2016-04-19 19:01] spaulenoff commented on #164
Verified on Prod

[2016-04-19 19:01] #164 closed, assigned to nobody

[2016-04-19 19:02] stevepessah opened #198 "Implement new top banner for Sign Up, Login, Search"
Mockup below includes the following requirements:
- New top grey banner that needs to go on all AKC.org pages (including apps, so this will need to be coordinated).
- A Sign Up and Log In button, which should open the appropriate Gigya screen.
- A Search button next to Log In, which should include the current search functionality (search bar displays when clicked). The triangle that points to the

[2016-04-19 19:23] spaulenoff commented on #198
Assign to Shailesh once description is added

[2016-04-19 19:26] spaulenoff commented on #191
Kyle will assign when ready

[2016-04-19 19:30] stevepessah commented on #29
@spaulenoff can this one be removed?

[2016-04-19 20:19] stevepessah commented on #195
@kylejbertelsen below is the Marketo Real Time Personalization snippet. We currently have it running on production in the google tag manager, but not on stage. Can we add the below on stage? It should be the first script in the header (between the `<head></head>` tags).

[code]

[Documentation link](https://docs.marketo.com/display/public/DOCS/Deploy+the+RTP+JavaScript) if needed

[2016-04-19 20:41] spaulenoff commented on #27
Verified on Prod

[2016-04-19 20:41] #27 closed, assigned to nobody

[2016-04-19 20:42] spaulenoff commented on #148
verified on prod

[2016-04-19 20:42] #148 closed, assigned to nobody

[2016-04-19 20:42] spaulenoff commented on #163
verified on prod

[2016-04-19 20:42] #163 closed, assigned to nobody

[2016-04-19 20:44] spaulenoff commented on #189
Verified on Prod

[2016-04-19 20:44] #189 closed, assigned to nobody

[2016-04-19 20:47] spaulenoff commented on #135
Verified on Prod

[2016-04-19 20:47] #135 closed, assigned to toshan2014

[2016-04-19 20:48] spaulenoff commented on #170
Verified on Prod

[2016-04-19 20:48] #170 closed, assigned to nobody

[2016-04-19 21:14] stevepessah opened #199 "Update mobile nav functionality"
Display the top nav when the user scrolls up (mimic Marketplace experience).

[2016-04-19 21:16] stevepessah opened #200 "MOBILE: Highlight where the user is in the nav sidebar"
So if I'm on a breed page for example, it should show where I am.
![screen shot 2016-04-19 at 5 16 11 pm](https://cloud.githubusercontent.com/assets/1063028/14655882/79828a66-0652-11e6-8899-57fb753e43ff.png)

[2016-04-20 13:17] skt2 commented on #135
While using Photogallery and Video together, there is JavaScript conflict.
@toshan2014 please go ahead and add more details about it, either in ticket or as wiki page.

[2016-04-20 14:03] spaulenoff commented on #166
Sprint Recap can be found here: https://docs.google.com/document/d/1LvXTil8UCwOQjzz7iPmTvuFnBeA7vfbJ_RNhrVCiWIg/edit#

[2016-04-20 14:03] #166 closed, assigned to nobody

[2016-04-20 14:04] #19 closed, assigned to nobody

[2016-04-20 14:04] #161 closed, assigned to nobody

[2016-04-20 14:45] skt2 commented on #198
Time Spent: 7h(20th Apr)
Time Spent: 1h(21st Apr)
Time Spent: 1h(22nd Apr)

@kylejbertelsen: do we want this in a way so that is available in common header wrapper as well or just for akc.org site?

[2016-04-20 15:08] skt2 commented on #3
So what I have understand so far is we want to add new channel with name something like "Sidebar Navigation"
Then one can add any number of menu items in it with Navigation title and navigation links under it.
e.g. Menu1 title: AENC and links under it is: Back to AENC Homepage
e.g. Menu2 title:  2015 AENC Results and link under it: Best in Show, Reserve Best in Show, Show Summary etc...
Then on ar

[2016-04-20 15:18] #134 closed, assigned to nobody

[2016-04-20 15:23] toshan2014 commented on #63
Total Time spent : 15h

[2016-04-20 15:24] spaulenoff commented on #3
@skt2 Please see some examples of how we want this to function (Sidebars on the left):
http://www.akc.org/downloadable-forms/
http://www.akc.org/events/aenc/

[2016-04-20 15:38] toshan2014 commented on #135
The conflict comes from JS file : "public_html/js/plugins.js"
If the slider gallery has to be added somewhere else, use the original JS meant for the slider which is: "public_html/js/slick.js"

[2016-04-20 15:40] toshan2014 commented on #135
Total time spent : 13h

[2016-04-20 18:35] skt2 commented on #198
@stevepessah: can you please confirm that this changes are only for desktop, we don't want to show top nav on mobile?

[2016-04-20 19:35] skt2 commented on #198
@stevepessah @spaulenoff: do we want to implement this on /learn page as well? It's different header and might take more time so if want to get rid of /learn in near future then better not to waste time in this.

[2016-04-20 19:39] skt2 commented on #198
New top grey banner that needs to go on all AKC.org pages (including apps, so this will need to be coordinated). -- Can you please explain "including apps"?

[2016-04-20 20:05] toshan2014 commented on #173
@spaulenoff @elieo

**ISSUE: An ad can only be called once per page**

The same ad cannot be used in two different positions on the same template.
Example (referring to #174 Homepage):  When i use say x11 for desktop and mobile in two different positions, it would only display in one position - Whichever position is higher in the html ( meaning once it gets called, it does not get called a second

[2016-04-20 20:19] spaulenoff commented on #173
@toshan2014 I am ok with this solution

[2016-04-20 20:23] toshan2014 commented on #173
@spaulenoff

The suggested solution will work for #174 - I will only be able to let you know if there will be alternative ads for the other tickets as I work through them.

Also please note that time-wise it will be a bit more time costly with the new solution.

[2016-04-20 20:28] kylejbertelsen commented on #173
Make sure that any ad documentation is updated whenever you change which positions go on which pages.

[2016-04-20 20:49] kylejbertelsen commented on #2
Response to David and Davis' response: no. It'll be hosted on our CDN. I've got a process that you can use to get the files there, though. Incoming.

[2016-04-21 12:44] stevepessah commented on #198
@skt2 this is something that needs to be coordinated with ISD that @spaulenoff can manage.

We're also phasing out the current /learn section so we don't need to place it on there.

[2016-04-21 13:38] spaulenoff commented on #198
Just sent email to ISD. included @skt2 @stevepessah and @kylejbertelsen

[2016-04-21 14:11] spaulenoff commented on #198
@skt2 Seeing all things except for the shop tab in the navigation. @stevepessah Can you please provide the URL that the Shop Tab should link to? or will this just be added via the CMS?

[2016-04-21 15:29] spaulenoff opened #201 "Content Hub Articles title tags not working"
Some new articles do not have working title tags and SEO:
http://www.akc.org/content/entertainment/articles/7-fun-things-to-do-with-your-dog-in-atlanta/
http://www.akc.org/content/entertainment/articles/7-fun-things-to-do-with-your-dog-in-dallas/
http://www.akc.org/content/entertainment/articles/7-fun-things-to-do-with-your-dog-in-chicago/

It is working correctly here:
http://www.akc.org/content/

[2016-04-21 15:33] spaulenoff commented on #201
Also when Viewed source on the articles that aren't working correctly, the category part of the URL is in square brackets:
![image](https://cloud.githubusercontent.com/assets/13648969/14714875/baee29b6-07b4-11e6-8f17-20fcaf96dc9e.png)

When working correctly, the content title is in brackets:
![image](https://cloud.githubusercontent.com/assets/13648969/14714909/df8c7124-07b4-11e6-96f6-d23e2d9ac752

[2016-04-21 15:38] stevepessah commented on #198
@spaulenoff the link will be added to the CMS once we have the proper URL. We should still be able to add the tab there with a link placeholder.

[2016-04-21 15:46] spaulenoff commented on #198
@skt2 Please make sure Mobile doesn't change from what is currently on production. Otherwise, desktop functionality looks good.

[2016-04-21 15:58] spaulenoff commented on #198
the URL will be akc.org/akc-store/

[2016-04-21 16:24] toshan2014 commented on #174
Please QA : http://develop2.akc.org/

Mobile Ad units on page: x01,x35

Time: 1.5h

[2016-04-21 16:32] spaulenoff commented on #174
Looks good just one note:
![mobile homepage ads edit1](https://cloud.githubusercontent.com/assets/13648969/14716903/0e52ff0c-07bd-11e6-8bf5-efb8ea60a3a7.png)

[2016-04-21 16:47] toshan2014 commented on #174
please check again

[2016-04-21 17:42] skt2 commented on #3
**CMS Changes**
**STEP: 1**
CMS > Channels > Create New Channel
Name: Sidebar Navigation
Short Name: sidebar_navigation

**STEP: 2**
CMS > Channels > Channel Fields > Create a new group
Name: Sidebar Navigation

**STEP: 3**
CMS > Channels > Sidebar Navigation > Edit Group Assignments
Channel Field Group: Sidebar Navigation

**STEP: 4**
CMS > Channels > Channel Fields > Sidebar Navigation > Create

[2016-04-21 18:18] skt2 commented on #3
Tested here: http://develop2.akc.org/downloadable-forms/

[2016-04-21 18:43] toshan2014 commented on #175
Please QA : http://develop2.akc.org/dog-breeds/beauceron/

Time : 1.5h

[2016-04-21 19:06] toshan2014 commented on #176
Please QA: http://develop2.akc.org/dog-breeds/welsh-springer-spaniel/detail/

Mobile ad units: x01 and x09

Time spent: 20min

[2016-04-21 19:53] spaulenoff commented on #175
@toshan2014 I am seeing the ad in emulation but not on the actual device. Can you please check browserstack?
http://develop2.akc.org/dog-breeds/beauceron/
http://develop2.akc.org/dog-breeds/collie/

[2016-04-21 20:08] toshan2014 commented on #175
#175
@spaulenoff I can see it on emulator, my mobile and browserstack. Please check again, could have been cache on the site, which I just cleared again.

<img width="403" alt="mobile-ad-detail" src="https://cloud.githubusercontent.com/assets/6847220/14722777/2e4bb5c4-07c2-11e6-9e62-30d4c5da12de.PNG">

[2016-04-21 20:31] spaulenoff commented on #175
seeing it now

[2016-04-22 02:37] toshan2014 commented on #178
Please QA :
http://develop2.akc.org/dog-breeds/
http://develop2.akc.org/dog-breeds/?letter=B

Mobile ad units: x10, x35

Time spent: 2.5h

[2016-04-22 03:06] toshan2014 commented on #179
Please QA: http://develop2.akc.org/dog-breeds/best-dogs-for-apartments/
Mobile ad units: x10, x35
Time spent: 30min

[2016-04-22 13:33] skt2 commented on #65
@stevepessah @spaulenoff do We want this for SEO Overview pages as well? http://www.akc.org/dog-breeds/

[2016-04-22 13:41] spaulenoff commented on #65
That ability will be helpful yes.

[2016-04-22 13:56] spaulenoff opened #202 "Featured Story Templates - Capitalize the month"
The month is not currently capitalized in featured story templates. Can we fix it so it will be: http://www.akc.org/news/obedience-dog-co-therapist/

[2016-04-22 14:10] spaulenoff commented on #179
@toshan2014 Close but can you please center the top banner on mobile SEO Pages?
http://develop2.akc.org/dog-breeds/smartest-dogs/
http://develop2.akc.org/dog-breeds/best-dogs-for-kids/

![center mobile banner seo pages](https://cloud.githubusercontent.com/assets/13648969/14743945/5a35365a-0872-11e6-8e82-913f3e40305f.png)

[2016-04-22 14:25] spaulenoff opened #203 "4/28 Sprint Log"
**Planned for Sprint:**
#2
#3
#7
#65
#159
#173
#174
#175
#176
#178
#179
#180
#181
#182
#183
#184
#185
#186
#187
#191
#195
#197
#198
#201 (added 4/21 fix to certain SEO and social title tags not showing up properly)
#202 (added 4/22 small/quick design fix to featured story pages)
#204 (added 4/22)
#206 (added 4/25)

**Needs Attention:**

**In Progress:**

**On Develop2:**

**Verified on Develop2:**

[2016-04-22 14:25] kylejbertelsen commented on #2
Ready for feedback from Davis and David.

Instructions:
1. Go to Add-Ons > Modules > Assets > File Manager
2. Locate 'kids-corner' on left, control-click, select 'New subfolder'
3. Give subfolder a useful name (Use only letters, numbers and dashes in name. Capitalization counts, so be aware of your capitalization.)
   For the rest of this example, we'll use 'coloring-book'
4. Locate and select 'co

[2016-04-22 14:26] skt2 commented on #65
NOTE: http://develop2.akc.org/dog-breeds/ -- This page is cached so every time you change menu, you need to clear the cache. @spaulenoff

[2016-04-22 14:39] kylejbertelsen commented on #2
Time tracking:
2016-04-20 - kjb - 3 hours
2016-04-21 - kjb - 3 hours
2016-04-22 - kjb - 1 hour

[2016-04-22 14:59] skt2 commented on #202
Time Spent: 30m(22 Apr)

Tested here: http://develop2.akc.org/news/worlds-unofficial-oldest-dog-dies-at-30/

[2016-04-22 15:34] kylejbertelsen commented on #197
Notes:
Current OAS setup is in templates/snippets/default_site/snip-OAS-setup.snip
Category pages will be required.
In snip-OAS-setup, you'll need to load a category page to get the field Elie wants. ex: templates/default_site/embeds.group/.content-headers.html~213 ({exp:channel:entries channel="category_hero")
You'll want to talk to Elie about a fallback position -- what if a page isn't one of th

[2016-04-22 15:37] spaulenoff commented on #2
Awaiting feedback from David and Davis

[2016-04-22 16:40] kylejbertelsen commented on #201
time-tracking:
2016-04-22 -- kjb -- 2 hours

[2016-04-22 16:42] kylejbertelsen commented on #201
Notes:
- there was a minor logic error, which caused this error when a title started with a digit, which is now fixed.
- it probably would have been harder to find this error, but there was also an editorial error, which this highlighted: there are several 'category_pages' taxonomy terms which have not had a Category Page piece of content created.

[2016-04-22 16:55] elieo commented on #201
@kylejbertelsen  can you please clarify what you mean; "it probably would have been harder to find this error, but there was also an editorial error, which this highlighted: there are several 'category_pages' taxonomy terms which have not had a Category Page piece of content created."

[2016-04-22 16:58] spaulenoff commented on #201
@kylejbertelsen @elieo veriffied that this is now working correctly on dev2
http://develop2.akc.org/content/entertainment/articles/7-testing-new-title-tag/

[2016-04-22 17:07] elieo commented on #197
We are doing this right now only for the content section, so we don't need to worry about this for anything else.

Every piece of content will have a category so a fall back is not necessary.

I would also like to add the article name in the OAS query. SO for each ad we would have the following OAS queries:

Page type, Category , Sub category, Article name

Thanks

[2016-04-22 17:10] elieo commented on #7
@kylejbertelsen  what is the hold up on this?

[2016-04-22 17:42] toshan2014 commented on #173
@spaulenoff

please confirm which type of ad is preferred under the hero/unhero  image. Either with margin or without. See screenshots:

<img width="404" alt="ad-margin" src="https://cloud.githubusercontent.com/assets/6847220/14749893/e7a5606a-0876-11e6-855e-0bf009b9da8a.PNG">
<img width="385" alt="ad-no-margin" src="https://cloud.githubusercontent.com/assets/6847220/14749896/e9683116-0876-11e6-93

[2016-04-22 17:49] pps2010 commented on #7
we have decided that there is already a sitemap available http://www.akc.org/sitemap.xml - this lists all pages built via ExpressionEngine - and should be used as-is….

if we need to remove some of the sections from the sitemap (e.g. /news) then that will be a change made by Kyle’s team to make that happen…..

[2016-04-22 17:50] spaulenoff commented on #173
@elieo @stevepessah Please confirm which option you would rather use. I personally like without the margin

[2016-04-22 17:51] skt2 commented on #197
Thanks @elieo. Changes are on dev2, Please have look once you get chance. http://develop2.akc.org/content/westminster-dog-show/

[2016-04-25 07:39] AKCOsama commented on #174
@toshan2014 @spaulenoff what is the range of screen sizes to be applicable on mobile?

[2016-04-25 08:16] toshan2014 commented on #174
@AKCOsama @spaulenoff I've noticed that the range that Mayday used and the one that was on the site initially are different. The one from Mayday is more uptodate as it caters for the Iphone 6Plus. I've made the range uniform (using Mayday's range) on the site (max-width 767px) but let's discuss it further in the scrum.

@AKCOsama do you see any issues with the new range?

[2016-04-25 11:44] aalattili commented on #198
@spaulenoff,
In Mobile web, sign in banner in develop2 is different than what's in prod site. (Mobile web-Sign in banner.png).
Tested on iPhone 6 plus & Samsung Tablet.

![mobile web-sign in banner](https://cloud.githubusercontent.com/assets/12289479/14782801/232227a2-0af4-11e6-8274-f63b546eb5f0.png)

[2016-04-25 12:28] aalattili commented on #175
@spaulenoff,
Testing was applied on iPhone 6 plus
1-    Empty Ad box between ‘at glance’ section & ‘the breed standard’ (empty Ad box.PNG)
![empty ad box](https://cloud.githubusercontent.com/assets/12289479/14783683/ebc07e2a-0af9-11e6-968a-a56902759b29.PNG)

2-  Landscape, Ad at top page gets smaller and not centralized (Ad gets smaller in Landscape.PNG)
![ad gets smaller in landscape](https://clo

[2016-04-25 12:30] aalattili commented on #179
@spaulenoff, Ad isn't centralized & doesn't have boarders
![ad doesn t have boarders](https://cloud.githubusercontent.com/assets/12289479/14783783/a9f2caf6-0afa-11e6-9af9-b3a4bc5a090a.PNG)

[2016-04-25 13:13] spaulenoff commented on #198
@skt2 Please make the change @aalattili outlined above

[2016-04-25 13:27] elieo commented on #197
@skt2  look like we are missing the sub category in the OAS query.

![image](https://cloud.githubusercontent.com/assets/1423008/14785253/dea5c4e8-0ac7-11e6-9acd-5128abf6c6b7.png)

[2016-04-25 14:02] spaulenoff opened #204 "Add OAS Queries to Ad units on the whole site"
Related to #197
Need to be able to query units by URL and directory.

The Goal is to be able to control what ads appear on each page type via the ad server.

[2016-04-25 14:51] kylejbertelsen commented on #195
@stevepessah : in the description above, there is the phrase '(the div id should equal the spot the content is)' -- could you explain that?

Also "For the below, we need to implement this using their Rich Media Recommendation Engine" -- if I'm reading that correctly, all we need is the snippet from your comment of 04/19 @4:19PM, and the remainder falls to whomever is administering our Marketo inte

[2016-04-25 14:53] skt2 commented on #197
@elieo on article pages, I have generated OAS Query based on URL.

[2016-04-25 15:17] spaulenoff commented on #7
@elieo Please see Purvi's comment above

[2016-04-25 15:25] spaulenoff commented on #191
@stevepessah Will provide today (4/25)

[2016-04-25 15:26] elieo commented on #7
@pps2010  that is exactly what I was looking for. Thanks

[2016-04-25 15:26] stevepessah commented on #195
@kylejbertelsen so the content is displayed in two rows of 3, so let's name them

1 2 3
4 5 6

So the div could be < div id="most-popular-1"> and so on.

Yes, that's correct.

[2016-04-25 15:26] elieo commented on #7
@kylejbertelsen  we need to remove the old media pages. For example: http://www.akc.org/media/article/7-fun-things-to-do-with-your-dog-in-los-angeles/

[2016-04-25 15:27] stevepessah commented on #173
@spaulenoff let's do the second option without margin.

[2016-04-25 15:30] stevepessah commented on #146
@kylejbertelsen if we bring this into the CMS we would need to support both versions of the calendar (desktop and mobile) in a full width page.

[2016-04-25 15:34] skt2 commented on #204
Longest possible url segments: http://www.akc.org/dog-owners/canine-partners/spotlight/wanna-be-english-setter-earns-agility-championship-at-english-setter-trial/

[2016-04-25 15:39] spaulenoff commented on #173
@toshan2014 see above

[2016-04-25 16:08] elieo opened #205 "Create Categories based on AKC Vocabulary"
We would like the ability to create content categories in this section akc.org/content/ based on articles that are tagged with AKC vocabulary.

This category should be able to pull in content from one tag or multiple tags.

[2016-04-25 16:25] stevepessah commented on #205
@elieo do we want this to be involved in a larger discussion around content tagging?

[2016-04-25 18:14] kylejbertelsen commented on #195
See my **edit, kb:** notes in the above comments for notes.

[2016-04-25 18:15] kylejbertelsen commented on #195
Time-tracking:
2016-04-25 - kjb - 3 hours (research and implementation)

[2016-04-25 18:24] spaulenoff opened #206 "Add Teads In-Content Video code to Browse all breeds page"
Related to #164

We want to add the teads code with an ability to turn on and off to the browse all breeds page:
http://www.akc.org/dog-breeds/
http://www.akc.org/dog-breeds/?letter=B
http://www.akc.org/dog-breeds/?letter=L
ETC...

[2016-04-25 18:51] skt2 commented on #197
@elieo Added sub-category in the OAS Query, Please have a look.
Tested here: http://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-04-25 18:59] spaulenoff commented on #195
@stevepessah Please verifiy on dev2

[2016-04-25 20:18] skt2 commented on #204
Tested Here: http://develop2.akc.org/dog-owners/canine-partners/spotlight/make-your-life-easier-teach-your-dog-some-self-control/

[2016-04-25 20:22] skt2 commented on #202
Tested Here: http://stage-ng.akc.org/news/worlds-unofficial-oldest-dog-dies-at-30/

[2016-04-25 20:28] skt2 commented on #65
Tested here: http://stage-ng.akc.org/dog-breeds/smartest-dogs/

[2016-04-25 20:59] toshan2014 commented on #179
please check : http://develop2.akc.org/dog-breeds/best-dogs-for-apartments/

[2016-04-25 21:18] elieo commented on #204
@skt2  this looks good to me, but I'm going to check with YourBow that this is good.

[2016-04-25 21:18] stevepessah commented on #195
Elihn to verify this on 4/26.

[2016-04-25 22:02] toshan2014 commented on #181
Please QA :
http://develop2.akc.org/public-education/canine-ambassador-program/about-canine-ambassador-program/
http://develop2.akc.org/public-education/

Time spent : 1.5h

[2016-04-25 22:21] toshan2014 commented on #177
Please QA : http://develop2.akc.org/dog-breeds/pointer/care/

[2016-04-25 22:21] toshan2014 commented on #177
Time spent: 1h

[2016-04-25 22:23] toshan2014 commented on #180
Please QA : http://develop2.akc.org/events/

Time spent: 25min

[2016-04-25 22:31] elieo commented on #204
@skt2  I checked with Yourbow and we want to change

OAS_sitepage = 'health.akc.org'; // OAS Site page

should change to be:

OAS_sitepage = 'web.akc.org'; // OAS Site page

The OAS site page is another way on top of queries to block off sections of the site, but the health.akc.org section is already used so we want to remove that.

[2016-04-26 00:47] elieo commented on #204
We also want to remove the keyword "squeezed", apparently that was used to describe ads that are being resized on this page http://www.akc.org/learn/.

Also, sorry to be annoying. Would it be possible to add the AKC vocabulary in the OAS query ?

For example http://develop2.akc.org/dog-owners/canine-partners/spotlight/make-your-life-easier-teach-your-dog-some-self-control/

OAS_query = 'dog-owners

[2016-04-26 02:49] toshan2014 commented on #182
Please QA:
http://develop2.akc.org/downloadable-forms/
http://develop2.akc.org/events/nohs/nohs-finals/

Time spent : 1.5h

[2016-04-26 03:46] toshan2014 commented on #183
Please QA: http://develop2.akc.org/content/dog-breeding/videos/the-baer-hearing-test-for-dogs/

Time : 1h

[2016-04-26 04:03] toshan2014 commented on #185
Please QA : http://develop2.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C166%7C37%7C177

Time spent: 20min

[2016-04-26 04:28] toshan2014 commented on #186
Please QA : http://develop2.akc.org/you-vs-breed/
Time spent: 15min

[2016-04-26 04:59] toshan2014 commented on #187
Please QA:
http://develop2.akc.org/find-a-match/

Time spent: 30min

[2016-04-26 05:29] toshan2014 commented on #184
Please QA :
http://develop2.akc.org/news/ace-winner-inspires-creation-of-monument-to-honor-k-9-officers/
http://develop2.akc.org/akc-dog-lovers/12-spring-essentials/

Time spent: 15min

[2016-04-26 05:31] toshan2014 commented on #173
Please QA
Time spent ( all sub-tickets ) : 18h

[2016-04-26 07:45] AKCOsama commented on #174
@toshan2014 , Ads don't show up on mobiles/tablets which have screen resolution grater than or equal  962 x 601px, so that because the max-width is 767px?

[2016-04-26 11:56] aalattili commented on #198
QA passed in develop2.

[2016-04-26 12:00] aalattili commented on #198
Stage-ng, Mobile web.
1- Sign in banner is displaying as what's in desktop browsers
2- background isn't white
![stage-sign in banner](https://cloud.githubusercontent.com/assets/12289479/14817365/89a6e58c-0bbf-11e6-93fe-1ecbc4228ec2.PNG)

[2016-04-26 12:54] spaulenoff commented on #2
Talked to Davis and Brandy. They want to move forward with this in this push, and revisit with David after it is pushed.

[2016-04-26 13:10] AKCOsama commented on #179
@spaulenoff @toshan2014 :
Top ad (between unhero and hero title) is not centralized and has no boarder only in 'Browse All Breeds' page. See ad not centralized.png snapshot:
![ad not centralized](https://cloud.githubusercontent.com/assets/16208336/14819143/63dce9dc-0bc9-11e6-9612-c740be2c6893.png)

[2016-04-26 13:20] skt2 commented on #198
@aalattili on which device you tested this?

[2016-04-26 13:21] AKCOsama commented on #178
@toshan2014 @spaulenoff :
There is no ad located inbetween first and second tile. See missed ad.png snapshot:
![missed ad](https://cloud.githubusercontent.com/assets/16208336/14819277/0615ee24-0bca-11e6-8328-bff835d29ef2.png)

[2016-04-26 13:21] aalattili commented on #198
@skt2 on both iPhone 6 plus & Samsung tablet

[2016-04-26 14:32] spaulenoff commented on #178
@toshan2014 Please look into this

[2016-04-26 14:34] spaulenoff commented on #204
@skt2 Please make changes per Elie's notes if possible. Or add comment if not possible within this ticket

[2016-04-26 14:36] skt2 commented on #198
@aalattili I pushed fixed for this. you can test on dev2 and stage.

[2016-04-26 14:41] skt2 commented on #204
@elieo Adding [AKC-Vocabulary-1]&[AKC-Vocabulary-2] other then /content pages might take long so not sure that will make in this sprint but I will keep looking into this. other points are fine.

[2016-04-26 14:47] spaulenoff opened #207 "Mobile Breed Page Learn More Button"
We need to resolve the issue on mobile breed pages where the learn more button is being overlapped by the individual arrow buttons.:

![image](https://cloud.githubusercontent.com/assets/13648969/14822174/95de8108-0b9b-11e6-9a39-51a164bf19a5.png)

http://www.akc.org/dog-breeds/staffordshire-bull-terrier/
http://www.akc.org/dog-breeds/american-staffordshire-terrier

[2016-04-26 14:49] aalattili commented on #198
@skt2, QA retesting passed on both dev2 & stage

[2016-04-26 15:11] skt2 commented on #204
We also want to remove the keyword "squeezed".
OAS_sitepage = 'web.akc.org'; // OAS Site page
This changes are pushed to dev2.

[2016-04-26 15:30] spaulenoff opened #208 "Add AKC Vocabulary to OAS Query"
Related to #204 and #197

Would it be possible to add the AKC vocabulary in the OAS query ?

For example http://develop2.akc.org/dog-owners/canine-partners/spotlight/make-your-life-easier-teach-your-dog-some-self-control/

OAS_query = 'dog-owners&canine-partners&spotlight&make-your-life-easier-teach-your-dog-some-self-control&[AKC-Vocabulary-1]&[AKC-Vocabulary-2]';

[2016-04-26 15:31] spaulenoff commented on #204
Added ticket #208 regarding Elie's point for AKC Vocabulary in the OAS Query

[2016-04-26 15:36] spaulenoff commented on #195
This is verified on Dev2

[2016-04-26 15:46] toshan2014 commented on #178
@spaulenoff please check

[2016-04-26 15:46] toshan2014 commented on #179
@spaulenoff please check

[2016-04-26 15:50] spaulenoff commented on #179
not verified, i am now not seeing the 300x250 working correctly after the first tile. Could you maybe use another 300x250 ad tag?

[2016-04-26 16:04] toshan2014 commented on #179
@spaulenoff  Replaced x35 by x11 - that seems to be working well. Please verify:
http://develop2.akc.org/dog-breeds/best-dogs-for-apartments/

[2016-04-26 16:10] spaulenoff commented on #179
This is now working correctly but now #178 is not working correctly. There seems to be a conflict between these pages

[2016-04-26 17:03] toshan2014 commented on #174
@AKCOsama - as from 768px it's changes tablet mode

[2016-04-26 17:04] toshan2014 commented on #174
@spaulenoff please QA on stage:  http://stage-ng.akc.org/

[2016-04-26 17:05] toshan2014 commented on #175
stage: http://stage-ng.akc.org/dog-breeds/beauceron/

[2016-04-26 17:08] toshan2014 commented on #176
stage: http://stage-ng.akc.org/dog-breeds/welsh-springer-spaniel/detail/

[2016-04-26 17:10] kylejbertelsen commented on #2
On stage: http://stage-ng.akc.org/kids-corner/coloring-book/

[2016-04-26 17:11] toshan2014 commented on #177
stage: http://stage-ng.akc.org/dog-breeds/pointer/care/

[2016-04-26 17:13] skt2 commented on #206
Getting error for teads, I will follow up with support about this:
Resource interpreted as Document but transferred with MIME type image/gif: "http://ums.adtechjp.com/mapuser?providerid=1053;userid=nWrfmZ4_18uFb4yczD7Dzs1p3M6FZdnIm2U8QUjw&cfp".

Font from origin 'http://cdn.teads.tv' has been blocked from loading by Cross-Origin Resource Sharing policy: No 'Access-Control-Allow-Origin' header is p

[2016-04-26 17:16] toshan2014 commented on #180
stg: http://stage-ng.akc.org/events/

[2016-04-26 17:16] spaulenoff commented on #195
@stevepessah @elieo Please QA on stage

[2016-04-26 17:18] toshan2014 commented on #181
stg:
http://stage-ng.akc.org/public-education/canine-ambassador-program/about-canine-ambassador-program/
http://stage-ng.akc.org/public-education/

[2016-04-26 17:27] toshan2014 commented on #182
stg:
http://stage-ng.akc.org/downloadable-forms/
http://stage-ng.akc.org/events/nohs/nohs-finals/

[2016-04-26 17:29] toshan2014 commented on #183
stg: http://stage-ng.akc.org/content/dog-breeding/videos/the-baer-hearing-test-for-dogs/

[2016-04-26 17:31] spaulenoff commented on #182
@toshan2014 Not verified seeing 300x600 (x05) at the bottom of the page. This should have been removed

[2016-04-26 17:31] toshan2014 commented on #184
stg:
http://stage-ng.akc.org/akc-dog-lovers/12-spring-essentials/
http://stage-ng.akc.org/news/ace-winner-inspires-creation-of-monument-to-honor-k-9-officers/

[2016-04-26 17:35] toshan2014 commented on #186
stg:
http://stage-ng.akc.org/you-vs-breed/

[2016-04-26 17:37] skt2 commented on #7
@spaulenoff  You can test it here: http://develop2.akc.org/sitemap.xml/
Removed all /news, /media and /1 pages
Please confirm with @elieo

[2016-04-26 18:13] spaulenoff commented on #7
@pps2010 @elieo can you check this on dev2 and stage

[2016-04-26 18:47] toshan2014 commented on #182
please check again on stg

[2016-04-26 19:08] kylejbertelsen commented on #205
We definitely want a broader discussion about this. What is the current Category Pages taxonomy _not_ doing that you want to be able to do?

Blocked by Kyle until we get a clear picture of that.

[2016-04-26 19:20] kylejbertelsen commented on #111
Questions that need to be answered before adding to a sprint:
-- These photogalleries are of the currently-existing photo gallery type, yes?
-- They should be selected on (a) an article-by-article basis, or (b) by Content Pages category?
-- Embedded gallery chosen by this field is ignored when the photo gallery grid fields in the article are populated, yes?

Can be done as follows:
-- create a Rel

[2016-04-26 19:51] toshan2014 commented on #178
please check http://develop2.akc.org/dog-breeds/

[2016-04-26 19:52] toshan2014 commented on #179
please check : http://develop2.akc.org/dog-breeds/best-dogs-for-apartments/

[2016-04-26 20:34] kylejbertelsen commented on #140
@stevepessah: this ticket been just a notepad -- there hasn't been any research time poured into it, just jotting down observations as they come up.

[2016-04-27 13:02] aalattili commented on #175
QA retest failed on both dev2 & stage-ng.
- The Ad box under “at a Glance” section is still empty
- Ads still not centralized

[2016-04-27 13:04] aalattili commented on #178
QA retesting passed on dev2

[2016-04-27 13:19] spaulenoff commented on #195
@stevepessah @elieo Please QA on Stage again (this time its preflight)

[2016-04-27 13:25] aalattili commented on #183
@spaulenoff
Ad displays without borders ,moreover, there is no breathing area between videos and descriptive text. (content_videos.jpg)
![content_videos](https://cloud.githubusercontent.com/assets/12289479/14853475/513edd1e-0c94-11e6-8f6c-2d3d7c6ca314.jpg)

[2016-04-27 13:32] kylejbertelsen opened #209 "Get dev.akcwinners.com stable and in testing"
We need for everything to work on that dev site, and for Antoinelle and David to sign-off on it.

After this forthcoming sprint, we'll want Winners to become a part of our normal workload.

[2016-04-27 13:36] kylejbertelsen commented on #112
Define 'sticky'. By this, do you mean the sliding ad, like on the Articles?

Blocked until answered.

[2016-04-27 13:36] spaulenoff commented on #175
@toshan2014 Please resolve above. It seems the first issue is only occurring on iphone 6plus (and 6s plus)

[2016-04-27 13:37] kylejbertelsen commented on #208
What is desired here? What is the goal? Is this related to the request in #205? We need to nail-down those questions before adding this.

[2016-04-27 13:38] spaulenoff commented on #183
@toshan2014 Can you update per Alaa's comment?

[2016-04-27 13:47] skt2 commented on #7
Tested here: http://stage-ng.akc.org/sitemap.xml/

[2016-04-27 13:49] spaulenoff commented on #7
@elieo Can you please glance over this to make sure it looks correct to you? Please check per Shailesh's note above

[2016-04-27 13:49] stevepessah commented on #195
@spaulenoff verified on preflight.

[2016-04-27 13:51] skt2 commented on #202
Pre-flight: Tested Here: http://stage-ng.akc.org/news/worlds-unofficial-oldest-dog-dies-at-30/

[2016-04-27 14:04] kylejbertelsen commented on #146
All progress to-date is in branch AKC3-146, to be recreated in this next sprint.

[2016-04-27 14:07] kylejbertelsen commented on #28
Blocked until at least 3 sample links are provided.

[2016-04-27 14:08] spaulenoff commented on #205
@elieo Please advise on the above comments

[2016-04-27 14:08] kylejbertelsen commented on #29
Closing as invalid.

[2016-04-27 14:08] #29 closed, assigned to spaulenoff

[2016-04-27 14:08] spaulenoff commented on #208
@elieo Please advise per Kyle's questions above

[2016-04-27 14:10] spaulenoff commented on #111
My answers and notes below in bold. @elieo please advise as well
-- These photogalleries are of the currently-existing photo gallery type, yes? **Yes**
-- They should be selected on (a) an article-by-article basis, or (b) by Content Pages category? **@elieo please confirm**
-- Embedded gallery chosen by this field is ignored when the photo gallery grid fields in the article are populated, yes? **@

[2016-04-27 14:11] spaulenoff commented on #112
@kylejbertelsen Confirmed, please make the sidebar sliding like it is on Articles

[2016-04-27 14:11] kylejbertelsen commented on #36
Most-likely that FF is reporting the dimensions of the window incorrectly. Please record your findings (and any solution) in the wiki.

[2016-04-27 14:13] kylejbertelsen commented on #37
Blocked until the issue is either described, or a good screenshot is attached.

[2016-04-27 14:17] kylejbertelsen commented on #38
I can't seem to locate this link. Please screenshot it.

[2016-04-27 14:19] kylejbertelsen commented on #39
The only way to do this is to use a monospaced font. Do we have a monospaced font we use? We should have one, but I think we don't have one that we've standardized-on. Courier or Andale Mono are choices. Please pick one, and we'll move ahead.

[2016-04-27 14:23] kylejbertelsen commented on #112
Note: current implementation is in /public_html/src/js/components/ads.js, starting with "/\* Vertical dynamically-floating div within another div */"

You can do this by adjusting the jQuery selector for the page to include the pages you're targeting.

[2016-04-27 14:25] kylejbertelsen commented on #41
Probably do this in-conjunction with #40

[2016-04-27 14:32] kylejbertelsen commented on #82
@spaulenoff: can we get a meeting w/ stakeholders about this? I'd like to get the wishlist here gelled into something more well-defined. I'm sure we can deliver whatever they want, but let's get that settled once-and-for-all.

[2016-04-27 14:39] kylejbertelsen commented on #6
Need confirmation on the names of the GA variables -- are 'dimension1' and 'dimension2' the actual, for-real names we'd be sending to GA?

[2016-04-27 15:05] kylejbertelsen commented on #8
@spaulenoff : Still a problem, or invalid?

[2016-04-27 15:07] kylejbertelsen commented on #9
@spaulenoff: still valid? Maybe a project to rebuild this, mobile-first?

[2016-04-27 15:08] kylejbertelsen commented on #10
@spaulenoff: still valid?

[2016-04-27 15:08] spaulenoff commented on #10
Nope closing

[2016-04-27 15:08] #10 closed, assigned to nobody

[2016-04-27 15:10] spaulenoff commented on #9
Still Valid. But yes we need to rebuild the mobile version of this

[2016-04-27 15:13] kylejbertelsen commented on #1
@spaulenoff: still valid? I've done some exact-phrase searches against some of the text on the example link, and reliam URLs are not returned.

[2016-04-27 15:32] elieo commented on #7
@skt2  the /content/ pages are missing from the sitemap

[2016-04-27 15:32] toshan2014 commented on #174
pf : http://stage-ng.akc.org/

[2016-04-27 15:34] toshan2014 commented on #176
pf: http://stage-ng.akc.org/dog-breeds/welsh-springer-spaniel/detail/

[2016-04-27 15:35] toshan2014 commented on #177
pf : http://stage-ng.akc.org/dog-breeds/pointer/care/

[2016-04-27 15:37] toshan2014 commented on #178
pf: http://stage-ng.akc.org/dog-breeds/

[2016-04-27 15:38] toshan2014 commented on #179
pf : http://stage-ng.akc.org/dog-breeds/best-dogs-for-apartments/

[2016-04-27 15:38] skt2 commented on #7
Okay. I am looking into this.

[2016-04-27 15:39] toshan2014 commented on #180
pf : http://stage-ng.akc.org/events/

[2016-04-27 15:41] toshan2014 commented on #181
pf:
http://stage-ng.akc.org/public-education/canine-ambassador-program/about-canine-ambassador-program/
http://stage-ng.akc.org/public-education/

[2016-04-27 15:44] toshan2014 commented on #182
pf:
http://stage-ng.akc.org/downloadable-forms/
http://stage-ng.akc.org/events/nohs/nohs-finals/

[2016-04-27 15:46] toshan2014 commented on #184
pf:
 http://stage-ng.akc.org/akc-dog-lovers/12-spring-essentials/
http://stage-ng.akc.org/news/ace-winner-inspires-creation-of-monument-to-honor-k-9-officers/

[2016-04-27 15:47] toshan2014 commented on #186
pf:
http://stage-ng.akc.org/you-vs-breed/

[2016-04-27 15:50] toshan2014 commented on #187
pf : http://stage-ng.akc.org/find-a-match/

[2016-04-27 16:46] kylejbertelsen commented on #12
See #168. This should be a parent ticket for that.

[2016-04-27 16:47] kylejbertelsen commented on #168
Subticket of #12

[2016-04-27 16:58] toshan2014 commented on #175
@spaulenoff Are you OK using a 300x50 ad instead. There might be a limit to the amount of 300x250 ads which could explain it not showing at all times. Not 100% sure though. We can inquire with the ad agency to know the exact cause

[2016-04-27 16:59] spaulenoff commented on #175
Use the 300x50 for now and we can discuss this more later

[2016-04-27 17:20] toshan2014 commented on #175
x09 seems to be working better -
pf:
http://stage-ng.akc.org/dog-breeds/collie/

[2016-04-27 17:24] spaulenoff commented on #175
Verified. Please add a note as to why we changed ads here

[2016-04-27 17:30] toshan2014 commented on #175
x12 (300x250) replaced by x09 (300x50) as x12 was not displaying for no apparent reason. I can only suspect a limit to the amount of ads of a specific size per page given we are already using three 300x250 on that page.
This however need to be verified with ad supplier.

[2016-04-27 17:39] toshan2014 commented on #183
@spaulenoff
I've left out the borders on purpose as in this case the ad blends better without them. Otherwise it creates sort of a separation between the title and the video.
For the spacing issue, I've added some space between the video and text.

pf: http://stage-ng.akc.org/content/dog-breeding/videos/the-baer-hearing-test-for-dogs/

[2016-04-27 18:34] toshan2014 commented on #185
pf:
http://stage-ng.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C166%7C37%7C177

[2016-04-27 18:36] toshan2014 commented on #173
All sub-tickets in pre-flight

[2016-04-27 19:09] skt2 commented on #7
Talked with @kylejbertelsen and revert the changes as we want to generate sitemap using channel entries instead of structure.

[2016-04-27 19:37] toshan2014 commented on #185
Time spent : +2.5h ( due to this not working on stg. Alternative calling method applied )
Total: 3h

[2016-04-27 19:39] toshan2014 commented on #175
Time spent: +1.5h ( due to above issues )
Total : 3h

[2016-04-27 19:40] toshan2014 commented on #183
Time spent: 1.5h

[2016-04-27 19:43] toshan2014 commented on #173
Time spent : +9h ( due to issues with some ads not showing up for no apparent reason on stage )
Total: 27h

[2016-04-27 20:04] toshan2014 commented on #167
@kylejbertelsen
My understanding : Make Delegates Portal page coherent with other pages on mobile
Estimate : 3h

[2016-04-27 20:07] toshan2014 commented on #207
@kylejbertelsen
My understanding : Prevent overlap of button and arrow
Estimate : 1.5h

[2016-04-27 20:13] toshan2014 commented on #171
@stevepessah
Will that wireframe content be replacing the existing Author pages:
ex http://www.akc.org/author/Phil%20Guidry/

[2016-04-27 20:24] toshan2014 commented on #112
@kylejbertelsen
My understanding:
- @spaulenoff I don't see a sign-up on this page for example, unless I'm missing something: http://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-1/
- Implement ad similar to http://www.akc.org/content/dog-breeding/articles/tax-tips-for-dog-breeders/

Note: I don't see ad x37 functioning on the page above. It will need to be l

[2016-04-27 20:30] spaulenoff commented on #112
This Will only need to be updated on Photo Gallery and Video Pages:
http://www.akc.org/content/dog-breeding/videos/the-baer-hearing-test-for-dogs/
http://www.akc.org/content/dog-training/photo-galleries/teach-your-dog-to-give-you-a-high-five/

I will edit the ticket title to better represent this

[2016-04-27 20:51] skt2 commented on #206
Reply from Teads Support: @elieo @stevepessah @spaulenoff
I'll have an updated tag for you soon that will be able to serve to that page.
Our tag looks for slots within a page as a location to deliver to. If there is a page that has a different layout than the pages that the tag has been created for, it will likely not deliver because there is no location for the ad to display. That is the case wit

[2016-04-28 00:52] elieo commented on #197
@skt2  this looks good.

[2016-04-28 00:57] elieo commented on #208
@kylejbertelsen

I want to get the AKC Vocabulary keywords into the OAS query.  The reason is because I will eventually want to target campaigns based on keywords that are not defined in the category / sub category. (as an example, content that would fall into the puppy timeline)

The date from here:
![image](https://cloud.githubusercontent.com/assets/1423008/14872462/848d91da-0cba-11e6-9412-e416a

[2016-04-28 00:59] elieo commented on #111
@spaulenoff @kylejbertelsen   I don't fully understand all your questions. can we please set up a time to review this in person.

[2016-04-28 01:02] elieo commented on #82
This is low priority. Please hold for now.

[2016-04-28 13:41] skt2 commented on #203
Snippets: Newly Added and Updated.
snip-my-akc-link — new
snip-top-nav - new
snip-header - updated
snip-OAS-setup - updated

[2016-04-28 17:57] spaulenoff opened #210 "Remove Mandatory Header Fields in Header Nav Template in CMS"
We want to make the header fields Not Required in cms for Header Nav Templates.

![image](https://cloud.githubusercontent.com/assets/13648969/14895892/1231240a-0d49-11e6-83f1-d6fb092ea142.png)

If header fields are not filled out and left blank, we want to make it so the header nov does not open and you can just click the header nav button to go to the link. If links are filled out, please keep th

[2016-04-28 18:55] spaulenoff opened #211 "Rearrange Desktop Ad Layouts"
Related to #173

These Changes will **_ONLY_** be made on **_DESKTOP_**

https://docs.google.com/spreadsheets/d/1qzg2I9Y040IyGfEMbZZQEeVYMzd26BMdekmXGerxJZY/edit#gid=162269446

[2016-04-28 18:58] spaulenoff opened #212 "Desktop Homepage Ad Redesign"
Subticket of #211

http://elieorgel.com/wp-content/uploads/2016/04/Homepage.png

Changes:
Add 728x90 (x03) inbetween Featured Breeds and featured stories section
Remove 728x90 (x03) from bottom of the page

Adds on page after changes x01 (300x250), x11 (300x250), x03 (728x90)

[2016-04-28 19:01] spaulenoff opened #213 "Desktop Breed Page Ad Redesign"
Subticket of #211

http://www.akc.org/dog-breeds/labrador-retriever/

Changes: Remove 728x90 (x13) ad call at the bottom of the page

Ads on Page after Update - x01, x03 and x11

[2016-04-28 19:05] spaulenoff opened #214 "Desktop Breed Detail Page Ad Redesign"
Subticket of #211

http://www.akc.org/dog-breeds/pug/detail/

Changes:
Add 728x90 (x13) at the top of the page

http://elieorgel.com/wp-content/uploads/2016/04/breed-detail-page.png

Ads on Page after Update -  x03 and x13

[2016-04-28 19:06] spaulenoff opened #215 "Desktop Breed Care Page Ad Redesign"
Subticket of #211

http://www.akc.org/dog-breeds/french-bulldog/care/

Changes:
Add 728x90 (x13) at the top of the page

http://elieorgel.com/wp-content/uploads/2016/04/breed-care-page.png

Ads on Page after Update - x03 and x13

[2016-04-28 19:08] spaulenoff opened #216 "Desktop Breed Picture Page Ad Redesign"
Subticket of #211

http://www.akc.org/dog-breeds/parson-russell-terrier/pictures/

Changes add 728x90 (x03) to page between breadcrumb and H1 tag

http://elieorgel.com/wp-content/uploads/2016/04/breed-pictures-page.png

Ads on Page after Update - x03

[2016-04-28 19:10] spaulenoff opened #217 "Desktop Browse All Breed Page Ad Redesign"
Subticket of #211

http://www.akc.org/dog-breeds/

Changes: Move up 300x600 (x05) to between 300x250 (x01) and news and updates

http://elieorgel.com/wp-content/uploads/2016/04/bog-breeds-sub-page.png

Ads on Page after Update - x01, x03 and x05

[2016-04-28 19:11] spaulenoff opened #218 "Desktop SEO Page Ad Redesign"
Subticket of #211

http://www.akc.org/dog-breeds/hairless-dog-breeds/

Changes: Move up 300x600 (x05) to between 300x250 (x01) and news and updates

http://elieorgel.com/wp-content/uploads/2016/04/bog-breeds-sub-page.png

Ads on Page after Update - x01, x03 and x05

[2016-04-28 19:15] spaulenoff opened #219 "Desktop Events Category Overview Page Ad Redesign"
Subticket of #211

http://www.akc.org/events/

Changes:
Add 728x90 (x03) between hero/unhero and breadcrumb

http://elieorgel.com/wp-content/uploads/2016/04/Events-Category-Overview.png

Ads on Page after Update - x01, x03 and x05

[2016-04-28 19:19] spaulenoff opened #220 "Desktop Generic 1 Page Ad Redesign"
Subticket of #211

http://www.akc.org/public-education/

Changes:
add 728x90 (x03) between hero/unhero and breadcrumb
Remove bottom 300x250 (x11)

http://elieorgel.com/wp-content/uploads/2016/04/Generic-1.png

Ads on Page after Update - x01, x03 and x05

[2016-04-28 19:19] toshan2014 commented on #174
prod: http://www.akc.org/

[2016-04-28 19:21] spaulenoff opened #221 "Desktop Content Hub Category/Subcateogry Page Ad Redesign"
Subticket of #211

http://www.akc.org/content/entertainment/
http://www.akc.org/content/entertainment/trending/

Changes: Widen the side nav and add 300x250 (x36) above the side nav

http://elieorgel.com/wp-content/uploads/2016/04/content-category-page.png

Ads on Page after Update - x36

[2016-04-28 19:22] toshan2014 commented on #176
prod: http://www.akc.org/dog-breeds/welsh-springer-spaniel/detail/

[2016-04-28 19:23] spaulenoff opened #222 "Desktop Compare Breeds Results Page"
Subticket of #211

http://www.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C71%7C204

Changes: Add 728x90 (x03) between hero/unhero and bread crumb, match format on http://www.akc.org/find-a-match/compare-breeds/

Ads on Page after Update - x03

[2016-04-28 19:24] toshan2014 commented on #179
prod: http://www.akc.org/dog-breeds/best-dogs-for-apartments/

[2016-04-28 19:26] spaulenoff opened #223 "You Vs Breed Page Ad Redesign"
Subticket of #211

http://www.akc.org/you-vs-breed/

Changes:
Add 728x90 above orange box
Move "you Vs. Breed H1 to Orange box
Add 728x90 (x13) Below Breadcrumb

http://elieorgel.com/wp-content/uploads/2016/04/Your-Vs-breed-2ads-b.png

Ads on Page after Update - x03 and x13

[2016-04-28 19:28] spaulenoff opened #224 "Desktop Find a Match App Ad Redesign"
Subticket of #211

http://www.akc.org/find-a-match/#slide1
http://www.akc.org/find-a-match/#slide2
http://www.akc.org/find-a-match/#slide3
http://www.akc.org/find-a-match/#slide4
http://www.akc.org/find-a-match/#slide5
http://www.akc.org/find-a-match/#slide6
http://www.akc.org/find-a-match/results/

Change:
Add 728x90 (x03) between header nav and breadcrumb

Mockup:
http://elieorgel.com/wp-content

[2016-04-28 19:28] toshan2014 commented on #177
prod: http://www.akc.org/dog-breeds/pointer/care/

[2016-04-28 19:30] spaulenoff commented on #202
Verified on Prod

[2016-04-28 19:30] #202 closed, assigned to nobody

[2016-04-28 19:33] toshan2014 commented on #178
prod: http://www.akc.org/dog-breeds/

[2016-04-28 19:34] spaulenoff commented on #3
Verified on Prod

[2016-04-28 19:34] #3 closed, assigned to nobody

[2016-04-28 19:34] spaulenoff commented on #65
Verified on Prod

[2016-04-28 19:34] #65 closed, assigned to nobody

[2016-04-28 19:36] spaulenoff commented on #204
Verified on Prod

[2016-04-28 19:36] #204 closed, assigned to nobody

[2016-04-28 19:36] spaulenoff commented on #197
Verified on Prod

[2016-04-28 19:36] #197 closed, assigned to nobody

[2016-04-28 19:37] spaulenoff commented on #201
Verified on Prod

[2016-04-28 19:37] #201 closed, assigned to nobody

[2016-04-28 19:38] toshan2014 commented on #180
prod: http://www.akc.org/events/

[2016-04-28 19:41] spaulenoff commented on #195
@stevepessah @elieo Can either of you or Elihn confirm they are seeing this on production now?

[2016-04-28 19:41] toshan2014 commented on #181
prod:
http://www.akc.org/public-education/canine-ambassador-program/about-canine-ambassador-program/
http://www.akc.org/public-education/

[2016-04-28 19:41] spaulenoff commented on #174
Verified on Prod

[2016-04-28 19:41] #174 closed, assigned to nobody

[2016-04-28 19:42] spaulenoff commented on #176
Verified on Prod

[2016-04-28 19:42] #176 closed, assigned to nobody

[2016-04-28 19:44] spaulenoff commented on #177
Verified on Prod

[2016-04-28 19:44] #177 closed, assigned to nobody

[2016-04-28 19:45] toshan2014 commented on #182
prod:
http://www.akc.org/public-education/
http://www.akc.org/events/nohs/nohs-finals/

[2016-04-28 19:45] spaulenoff commented on #178
Verifed on Prod

[2016-04-28 19:45] #178 closed, assigned to nobody

[2016-04-28 19:46] spaulenoff commented on #179
Verifed on Prod

[2016-04-28 19:46] #179 closed, assigned to nobody

[2016-04-28 19:47] spaulenoff commented on #180
Verifeid on Prod

[2016-04-28 19:47] #180 closed, assigned to nobody

[2016-04-28 19:48] spaulenoff commented on #182
Verified on Prod

[2016-04-28 19:48] #182 closed, assigned to nobody

[2016-04-28 19:48] spaulenoff commented on #181
Verified on Prod

[2016-04-28 19:48] #181 closed, assigned to nobody

[2016-04-28 19:49] toshan2014 commented on #183
prod : http://www.akc.org/content/dog-breeding/videos/the-baer-hearing-test-for-dogs/

[2016-04-28 19:52] toshan2014 commented on #184
prod:
http://www.akc.org/news/ace-winner-inspires-creation-of-monument-to-honor-k-9-officers/
http://www.akc.org/akc-dog-lovers/12-spring-essentials/

[2016-04-28 19:54] toshan2014 commented on #186
prod: http://www.akc.org/you-vs-breed/

[2016-04-28 19:54] spaulenoff commented on #183
Verified on Prod

[2016-04-28 19:54] #183 closed, assigned to nobody

[2016-04-28 19:55] spaulenoff commented on #184
Verified on Prod

[2016-04-28 19:55] #184 closed, assigned to nobody

[2016-04-28 19:56] spaulenoff commented on #186
Verified on Prod

[2016-04-28 19:56] #186 closed, assigned to nobody

[2016-04-28 19:57] toshan2014 commented on #185
prod  :  http://www.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C166%7C37%7C177

[2016-04-28 19:59] spaulenoff commented on #185
Verified on Prod

[2016-04-28 19:59] #185 closed, assigned to nobody

[2016-04-28 20:00] toshan2014 commented on #175
prod: http://www.akc.org/dog-breeds/labrador-retriever/

[2016-04-28 20:02] spaulenoff commented on #175
Verified on Prod

[2016-04-28 20:02] #175 closed, assigned to nobody

[2016-04-28 20:06] toshan2014 commented on #187
prod:
http://www.akc.org/find-a-match/

[2016-04-28 20:10] spaulenoff commented on #187
Verified on Prod

[2016-04-28 20:10] #187 closed, assigned to nobody

[2016-04-28 20:33] spaulenoff commented on #210
This will help with #191

Time Spent: 3h 30m

[2016-04-28 20:35] #165 closed, assigned to stevepessah

[2016-04-28 20:37] stevepessah commented on #191
https://drive.google.com/folderview?id=0BwbZVJbtZRI5TXVPeVU3NGViakk&usp=sharing

@kylejbertelsen just making a note here that the top nav is missing on the mockup, but we should keep the same nav on this page.

[2016-04-28 20:38] spaulenoff commented on #191
Related to #210

[2016-04-28 20:56] spaulenoff commented on #198
Verified on Prod

[2016-04-28 20:56] #198 closed, assigned to nobody

[2016-04-28 20:56] #173 closed, assigned to nobody

[2016-04-28 20:57] #159 closed, assigned to nobody

[2016-04-29 13:49] spaulenoff commented on #208
Can we also add the following OAS Query for the homepage?  OAS_query = 'homepage';

[2016-04-29 16:20] skt2 commented on #3
Total Time Spent: 9h

[2016-04-29 16:40] skt2 commented on #197
Total Time Spent: 4h

[2016-04-29 16:41] skt2 commented on #204
Total Time Spent: 2h

[2016-04-29 18:35] stevepessah opened #225 "Caching"
- Look into enabling browser caching.
- Have QA team find any images that are not in the CDN (and not being cached by the CDN).
- Determine if we have the right interval for CE cache and Varnish.

[2016-04-29 19:09] spaulenoff opened #226 "Fix Desktop Ad Placements for /Learn/ Articles"
Subticket of #211

We need to fix the / Learn/ Articles so that x01, x05, and x11 serve how they should be serving. They were serving correctly a few days ago.

https://web.archive.org/web/20160408235307/http://www.akc.org/learn/dog-health/choosing-the-right-edible-chew-for-your-dog/
https://web.archive.org/web/20160405215814/http://www.akc.org/learn/akc-training/akc-training-good-dog/

[2016-05-02 13:23] skt2 commented on #207
Time Spent: 1h

[2016-05-02 13:24] kylejbertelsen opened #227 "Explore removal of Structure plugin"
Evidence seems to point towards Structure as being a big part of our performance problems with EE.

[2016-05-02 13:25] kylejbertelsen commented on #227
Time tracking:
2016-04-29 - kjb - 2 hours

[2016-05-02 13:26] skt2 commented on #206
Time Spent: 3h

Tested Here: http://develop2.akc.org/dog-breeds/

[2016-05-02 13:31] spaulenoff commented on #203
Sprint Recap can be found here: https://docs.google.com/document/d/1LvXTil8UCwOQjzz7iPmTvuFnBeA7vfbJ_RNhrVCiWIg/edit#

[2016-05-02 13:31] #203 closed, assigned to nobody

[2016-05-02 13:48] spaulenoff opened #228 "5/5 Sprint Log"
**Planned for Sprint:**
#7
#112
#191
#206
#207
#210
#211
#212
#213
#214
#215
#216
#217
#218
#219
#220
#221
#222
#223
#224
#226
#227
#229 (Added as it should be a quick fix)
#232 (Added so that Facebook videos work properly on Mobile)
#233 (added to fix Gigya Safari issue)

**Needs Attention:**

**In Progress:**
#112
#191
#227

**On Develop2:**

**Verified on Develop2:**
#206
#207

**On Stage:**

*

[2016-05-02 15:02] #2 closed, assigned to nobody

[2016-05-02 15:38] skt2 commented on #210
NOTE: There is snippet update: snip-header
**CMS Changes**
CMS > Admin > Channel Fields > Header Navigation
Edit Column 1, Column 2, Column 3, Column 4 and Uncheck required field checkbox in grid

CMS > Admin > Channel Fields > Header Navigation > Create New Field
Field Type: Select Dropdown
Field Label: Secondary Menu
Field Name: is_secondary_menu
Populate the menu manually:
Yes
No

[2016-05-02 15:42] skt2 commented on #210
How to test: @spaulenoff
Go to CMS > Edit > Header Navigation
Choose the entry you want to edit(on dev2 I have created new Menu called STORE)
Scroll bottom of the edit page
Secondary Menu: Set to No(By default it will be Yes) -- By Setting it to No, It will only act as link instead of dropdown menu.

[2016-05-02 16:09] skt2 commented on #228
There is snippet Update for #210 : snip-header
[snip-header.txt](https://github.com/akcdotorg/akc.org/files/247349/snip-header.txt)

[2016-05-02 16:33] skt2 commented on #141
Pros:
- Rich in content types. Very easy to create new content type and layout
- Well organized Users, Permissions and User Roles management

Cons:
- Large learning curves
- Module dependencies

[2016-05-02 17:09] kylejbertelsen commented on #191
@spaulenoff: Couple of things, please find out ASAP:
1. the included image is only 1280px wide -- is there a larger version available from whomever did this design? As big as possible would be good.
2. In the left and right columns, there are the icons: do each of those go to a specific link (if so, what are they), or should the left and right columns be linked as a whole to somewhere? If so, wher

[2016-05-02 17:25] spaulenoff commented on #191
@stevepessah Please advise per Kyle's comments above

[2016-05-02 17:29] stevepessah commented on #191
@kylejbertelsen
1. the included image is only 1280px wide -- is there a larger version available from whomever did this design? As big as possible would be good.

**Yes, we are getting a new image also as Alexandra wanted a different one. Still getting this approved along with a couple other changes..**
1. In the left and right columns, there are the icons: do each of those go to a specific link (

[2016-05-02 18:03] toshan2014 commented on #212
dev2: http://develop2.akc.org/

[2016-05-02 18:07] toshan2014 commented on #213
dev2 :  http://develop2.akc.org/dog-breeds/labrador-retriever/

[2016-05-02 18:14] toshan2014 commented on #214
dev 2 http://develop2.akc.org/dog-breeds/pug/detail/

[2016-05-02 18:16] toshan2014 commented on #215
dev2: http://develop2.akc.org/dog-breeds/french-bulldog/care/

[2016-05-02 18:30] toshan2014 commented on #216
dev2 : http://develop2.akc.org/dog-breeds/beagle/pictures/

[2016-05-02 18:47] spaulenoff opened #229 "300x600 on articles pages is getting resized"
http://www.akc.org/content/dog-breeding/articles/ovulation-in-the-bitch/

The 300x600 unit (x37) is being resized on article pages, we need it so the ad does not resize

On the example, the ad is resized to 284x568

[2016-05-02 19:01] toshan2014 commented on #217
dev2 http://develop2.akc.org/dog-breeds/

[2016-05-02 19:02] toshan2014 commented on #218
dev2 http://develop2.akc.org/dog-breeds/hairless-dog-breeds/

[2016-05-02 19:04] toshan2014 commented on #219
dev2 http://develop2.akc.org/events/

[2016-05-02 19:42] toshan2014 commented on #220
dev2: http://develop2.akc.org/public-education/

[2016-05-02 20:07] spaulenoff opened #230 "Add Donate Now Button to Government Relations Page"
Can we please add the Donate now button on Government Relations Page: http://www.akc.org/government-relations/

![image](https://cloud.githubusercontent.com/assets/13648969/14966570/2e8d82ac-1081-11e6-9d56-277a89e8f6eb.png)

It needs to link to http://www.akc.org/government-relations/donations/

[2016-05-02 20:12] toshan2014 commented on #222
dev2:
http://develop2.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C71%7C204

[2016-05-02 20:13] spaulenoff commented on #230
Please note this is currently live being served through Optimizely. We want to make it so this is no longer an optimizely experiment

[2016-05-02 20:44] stevepessah opened #231 "Facebook Instant Articles RSS Feed"
https://developers.facebook.com/docs/instant-articles

[2016-05-02 21:08] skt2 commented on #112
Time Spent: 7h

Test Gallery and Video are here: http://develop2.akc.org/content/westminster-dog-show/

[2016-05-03 06:39] toshan2014 commented on #223
dev2:
http://develop2.akc.org/you-vs-breed/

[2016-05-03 06:48] toshan2014 commented on #224
dev2:
http://develop2.akc.org/find-a-match/

[2016-05-03 06:55] toshan2014 commented on #224
Are we removing the H1 title "find a MATCH" from that page? I don't see it in the mockup. @spaulenoff

[2016-05-03 07:17] toshan2014 commented on #212
stg:
http://stage-ng.akc.org/

[2016-05-03 07:19] toshan2014 commented on #213
stg:
http://stage-ng.akc.org/dog-breeds/labrador-retriever/

[2016-05-03 07:20] toshan2014 commented on #214
stg:
http://stage-ng.akc.org/dog-breeds/pug/detail/

[2016-05-03 07:21] toshan2014 commented on #215
stg:
http://stage-ng.akc.org/dog-breeds/french-bulldog/care/

[2016-05-03 07:41] toshan2014 commented on #216
stg:
http://stage-ng.akc.org/dog-breeds/beagle/pictures/

[2016-05-03 07:44] toshan2014 commented on #217
stg:
http://stage-ng.akc.org/dog-breeds/

[2016-05-03 07:53] toshan2014 commented on #218
stg:
http://stage-ng.akc.org/dog-breeds/hairless-dog-breeds/

[2016-05-03 07:55] toshan2014 commented on #219
stg:
http://stage-ng.akc.org/events/

[2016-05-03 07:56] toshan2014 commented on #220
stg:

http://stage-ng.akc.org/public-education/

[2016-05-03 07:57] toshan2014 commented on #222
stg:
http://stage-ng.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C71%7C204

[2016-05-03 08:20] toshan2014 commented on #226
This looks like someone made a change directly on the CMS. It's fine on the production branch - therefore develop2 and stage are fine. I've restored the CMS change. Should be fine on production too now. Please check.

Also I don't see an existing call for x05 on the learn section. Please clarify if we need it somewhere.

http://www.akc.org/learn/dog-health/cephalexin-for-dogs/

[2016-05-03 12:39] spaulenoff commented on #226
@toshan2014 I still am only seeing x11 show up on desktop. I am not seeing x05 or x01 anywhere

[2016-05-03 12:40] spaulenoff commented on #226
Also, I am seeing another issue on Develop2:
http://develop2.akc.org/learn/akc-training/akc-training-good-dog/
http://develop2.akc.org/learn/dog-health/cephalexin-for-dogs/

![image](https://cloud.githubusercontent.com/assets/13648969/14983356/bc58e980-110a-11e6-9a67-19938c4c720d.png)

[2016-05-03 12:53] aalattili commented on #212
@spaulenoff
Develop2: Ads (x01 , x11 , x03) are verified
![develop2-home page ads](https://cloud.githubusercontent.com/assets/12289479/14983445/2480bee4-1146-11e6-9b67-2a290b5d732b.jpg)

Stage:
- Ads (x01 , x11) are verified
- Ad (x03) not verified:
  1. Displays as (728x91) instead of (728x90)
  2. Doesn't have an iframe id ("oas_frame_x03")
     ![stage-home page ads](https://cloud.githubusercon

[2016-05-03 13:00] aalattili commented on #213
@spaulenoff
Develop2: Ads (x01, x03 and x11) are verified
![develop2-breed page ads](https://cloud.githubusercontent.com/assets/12289479/14983794/01f72eec-1148-11e6-819b-a49e79b3f240.jpg)

Stage:
- Ads (x01and x11) are verified
- Ad (x03) not verified:
  1. Displays as (729x90) instead of (728x90)
     ![stage-breed page ads](https://cloud.githubusercontent.com/assets/12289479/14983807/199bcbf2-11

[2016-05-03 13:02] spaulenoff commented on #212
@toshan2014 Please update per Alaa's comments above

[2016-05-03 13:02] spaulenoff commented on #213
@toshan2014 Please update per Alaa's comments above

[2016-05-03 13:07] aalattili commented on #215
@spaulenoff
Ads (x03 and x13) are verified on both Stage & Develop2

[2016-05-03 13:08] aalattili commented on #216
@spaulenoff
Ad (x03) is verified on both stage & develop2

[2016-05-03 13:11] aalattili commented on #214
@spaulenoff
Develop2:
- Ad (x03 ) is verified
- Ad (x13) isn't verified. Ad displays as (729x90) instead of (728x90)
  ![develop2-breed details page ads](https://cloud.githubusercontent.com/assets/12289479/14984075/956975e4-1149-11e6-9fd4-373a1a839944.jpg)

Stage: Ads (x03 and x13) are verified
![stage-breed details page ads](https://cloud.githubusercontent.com/assets/12289479/14984091/a8ec8f48-11

[2016-05-03 13:12] AKCOsama commented on #191
QA passed, Secondary Menu setted to 'No' and act as link instead of dropdown menu.

[2016-05-03 13:12] aalattili commented on #217
@spaulenoff
Ads are verified on both stage & develop2

[2016-05-03 13:13] aalattili commented on #218
@spaulenoff
Ads ( x01, x03 and x05) are verified on both stage & develop2

[2016-05-03 13:17] AKCOsama commented on #112
QA passed, Applied on Stage and develop2 and only on Photo Gallery and Video Pages.

[2016-05-03 13:22] stevepessah commented on #191
@kylejbertelsen see final approved mockup below. The nav should go on top of the grey area. Text in grey area should match AKC.org style.

[Store Landing Page2.pdf](https://github.com/akcdotorg/akc.org/files/246928/Store.Landing.Page2.pdf)

Image for landing page below (width is 2,122 px so it should be good to go - let me know if you need larger image):
![thinkstockphotos-483149369](https://cloud

[2016-05-03 13:29] aalattili commented on #219
@spaulenoff
General issues:
- No proper breathing area between x01 & 05 Ads
- Ad x03 doesn't have an ifram id ("oas_frame_x03")

Develop2:
- Ads x01 and x03 are verified
- Ad x05 isn't verified:
  1. Ad box size is verified
  2. Ad image size isn't verified, since it doesn't proper fit in Ad box.
     ![develop2-event page ads](https://cloud.githubusercontent.com/assets/12289479/14984501/b9188f82-

[2016-05-03 13:35] skt2 commented on #210
@spaulenoff: restore the right arrow icon on mobile even if there is no secondary menu as we spoke.

[2016-05-03 13:41] AKCOsama commented on #207
@spaulenoff I don't see the "Learn More" Button, Should it be removed to resolve overlapping issue?

see snapshots:
![learn more button landscape](https://cloud.githubusercontent.com/assets/16208336/14984894/b84c0082-114d-11e6-8a84-3656dc27f430.PNG)
![learn more button portrait](https://cloud.githubusercontent.com/assets/16208336/14984895/b8506780-114d-11e6-82b8-25f10d1aa6a8.PNG)

[2016-05-03 13:42] spaulenoff commented on #207
yes confirmed

[2016-05-03 13:52] AKCOsama commented on #210
QA passed on dev2 and stage, the header fields are Not Required in CMS

[2016-05-03 14:03] spaulenoff commented on #229
The 728x90 also seems to be resizing itself http://www.akc.org/content/entertainment/articles/untrainable-basset-hound-competes-in-agility/
![image](https://cloud.githubusercontent.com/assets/13648969/14985629/4fc56ec2-1116-11e6-898f-f0bbec0d07cd.png)

[2016-05-03 14:11] spaulenoff opened #232 "Facebook Video embeds Resizing Issue"
Facebook Video embeds are not working properly on Mobile http://www.akc.org/content/entertainment/articles/untrainable-basset-hound-competes-in-agility/
http://www.akc.org/content/entertainment/articles/his-owner-has-been-away-for-7-months/
http://stage-ng.akc.org/facebook-video/
http://stage-ng.akc.org/content/entertainment/articles/testing-mobile-facebook-video/

Right now, the videos are not cl

[2016-05-03 14:17] spaulenoff commented on #232
I can confirm that YouTube Videos are working correctly on mobile: http://www.akc.org/content/entertainment/articles/youll-laugh-out-loud-when-you-see-how-this-puppy-uses-his-water-bowl/
http://www.akc.org/content/entertainment/articles/great-dane-cant-figure-out-how-to-act/

[2016-05-03 14:20] spaulenoff commented on #232
Some research on the issue: https://www.facebook.com/help/community/question/?id=10201533483311527
https://developers.facebook.com/docs/plugins/embedded-video-player

[2016-05-03 14:23] kylejbertelsen commented on #229
Time tracking:
2016-05-02: kjb: 1 hour

[2016-05-03 14:25] AKCOsama commented on #220
@toshan2014 @spaulenoff : There is no enough space between 728x90 (x03) and 300x250 (x11)
Caused:
when refresh page couples time.
Applicable:
applicable only on stage environment

see snapshot:
![generic ads](https://cloud.githubusercontent.com/assets/16208336/14986315/fec99e24-1153-11e6-8304-5e2b1ca05126.png)

[2016-05-03 14:29] aalattili commented on #224
@spaulenoff
Verified on both develop2 & stage starting from step 1 to results page

[2016-05-03 14:36] AKCOsama commented on #223
@spaulenoff @toshan2014 QA passed on develop2 and stage-ng

[2016-05-03 14:40] aalattili commented on #222
@spaulenoff
Ad is verified on both develop2 & stage

note that Ad doesn't have an iframe id on both environments.
![develop2 stage-compare breeds ads](https://cloud.githubusercontent.com/assets/12289479/14986831/1cf0ee6e-1156-11e6-8203-eb21c7f0d505.jpg)

[2016-05-03 15:39] toshan2014 commented on #212
@spaulenoff
This is due to some images supplied by the ad server having inconsistencies in size. Some are perfectly cut 728x90, others are not. See attached screenshot. Best to keep this this way rather than resize on our end.

<img width="960" alt="ad-size" src="https://cloud.githubusercontent.com/assets/6847220/14988836/77a92f20-110a-11e6-86a8-82c0f9fa15b7.png">

[2016-05-03 15:39] spaulenoff commented on #212
Ok Verified on Stage

[2016-05-03 15:44] toshan2014 commented on #213
@spaulenoff
This is due to some images supplied by the ad server having inconsistencies in size. Some are perfectly cut 728x90, others are not. See attached screenshot in #212 for example. Best to keep this this way rather than resize on our end.

[2016-05-03 15:45] spaulenoff commented on #213
OK Verified on Stage

[2016-05-03 16:15] spaulenoff commented on #232
@skt2 Please add the solution and what the original issue was

[2016-05-03 16:48] kylejbertelsen commented on #191
@stevepessah: if you can provide the URLs for each of the links here, I can fill 'em in. Otherwise, they'll have the href="#" until you fill 'em in later

[2016-05-03 16:58] stevepessah commented on #191
@kylejbertelsen yes just keep them as placeholders now while I work with Elihn on the links. Can we make it so that we can add additional links below if we want or should we include that in a different request?

[2016-05-03 17:02] kylejbertelsen commented on #191
Different request.

[2016-05-03 17:03] toshan2014 commented on #226
Please check:
http://develop2.akc.org/learn/dog-health/akc-program-gives-breeders-the-opportunity-to-keep-learning/
http://develop2.akc.org/learn/dog-health/

[2016-05-03 17:06] skt2 commented on #232
Time Spent: 1h

We did change style for facebook comment widget on the media pages and set min-width on that, same style was affecting facebook video so I fixed the style(by defining specific selector) without loosing style for facebook comment page.

[2016-05-03 17:08] spaulenoff commented on #226
@toshan2014 Verified that i am seeing both ads now, howeverm please check the rest of the template as the middlelink and articleformat has been messed up somehow
http://develop2.akc.org/learn/dog-health/akc-program-gives-breeders-the-opportunity-to-keep-learning/
![image](https://cloud.githubusercontent.com/assets/13648969/14991604/2894d292-1130-11e6-8034-2173d438b6e6.png)

[2016-05-03 17:11] toshan2014 commented on #226
@spaulenoff that's browser cache. please refresh

Please note that users on prod don't face this "clear cache" issue as the site cache and asset version is updated with every release

[2016-05-03 17:16] spaulenoff commented on #226
Verified on dev2 @toshan2014

[2016-05-03 17:27] toshan2014 commented on #224
stg:
http://stage-ng.akc.org/find-a-match/

[2016-05-03 17:28] toshan2014 commented on #223
stg:
http://stage-ng.akc.org/you-vs-breed/

[2016-05-03 17:31] toshan2014 commented on #226
stg:
http://stage-ng.akc.org/learn/family-dog/what-does-it-mean-to-be-a-family-dog/

[2016-05-03 17:31] stevepessah commented on #191
@spaulenoff can you add the above to a different ticket?

[2016-05-03 18:17] kylejbertelsen commented on #191
Will require c&p of entry from dev2 to stage, stage to prod.

[2016-05-03 18:23] spaulenoff commented on #191
@stevepessah Please QA on Dev2

[2016-05-03 18:39] stevepessah commented on #191
@kylejbertelsen looks good, couple fixes:
- the grey bar should be full width and right up against the top white nav
- the content in the columns don't look like they're centered correctly
- mobile is not correct also, see [mockup](https://drive.google.com/file/d/0B44uj-KiCIEEWkJSeVItdzZsTm8/view?usp=sharing)

[2016-05-03 18:40] kylejbertelsen opened #233 "Gigya script edits, per Jeff Utley"

[2016-05-03 19:50] toshan2014 commented on #221
x35 added instead of x36 which is not of appropriate size.

dev2:
http://develop2.akc.org/content/entertainment/
http://develop2.akc.org/content/entertainment/trending/

[2016-05-03 19:58] kylejbertelsen commented on #191
Ah! I don't recall having seen the mobile mockup. My bad.

[2016-05-03 20:03] spaulenoff opened #234 "Ability to add additional links to /akc-store/"
Related to #191

Can we make it so that we can add additional links to /akc-store/ through CMS

[2016-05-03 20:05] spaulenoff commented on #191
Per Steve's comment above regarding additional links. #234

[2016-05-03 20:11] toshan2014 commented on #221
stg:
http://stage-ng.akc.org/content/entertainment/trending/
http://stage-ng.akc.org/content/entertainment/

[2016-05-03 21:17] skt2 commented on #7
Time Spent: 5h

How to test: @spaulenoff
Go to: http://develop2.akc.org/sitemap.xml/
Find for /content/

[2016-05-03 21:19] toshan2014 commented on #233
Malformed redirectURL in script below  fixed on stage - awaiting news from Jeff
`<script>
                function loginHandler(res){
                    gigya.setSSOToken({redirectURL: "http://http://stage-ng.akc.org/"});
                };
                gigya.socialize.addEventHandlers({
                        onLogin: 'loginHandler'
                     }
                );
        </script>

[2016-05-03 21:23] toshan2014 commented on #221
Time spent: 2.5h

[2016-05-03 21:26] toshan2014 commented on #214
Time spent: 45min

[2016-05-03 21:27] toshan2014 commented on #226
Time spent: 1.5h

[2016-05-03 21:28] toshan2014 commented on #215
Time spent: 40min

[2016-05-03 21:29] toshan2014 commented on #216
Time spent: 40min

[2016-05-03 21:29] toshan2014 commented on #217
Time spent: 40min

[2016-05-03 21:29] toshan2014 commented on #218
Time spent: 40min

[2016-05-03 21:30] toshan2014 commented on #219
Time spent: 40min

[2016-05-03 21:30] toshan2014 commented on #220
Time spent: 40min

[2016-05-03 21:31] toshan2014 commented on #222
Time spent: 40min

[2016-05-03 21:31] toshan2014 commented on #213
Time spent: 40min

[2016-05-03 21:32] toshan2014 commented on #224
Time spent: 40min

[2016-05-03 21:32] toshan2014 commented on #223
Time spent: 40min

[2016-05-03 21:34] toshan2014 commented on #211
Total time spent: 13h

[2016-05-04 07:25] AKCOsama commented on #226
@toshan2014 @spaulenoff Varified on dev2 and stg

[2016-05-04 08:56] AKCOsama commented on #229
@spaulenoff Verified on dev2 and stg, ad does not resize.

Note: 300x600 ad scrolled down along with other page's content when scrolling page down
see screencast:
https://onedrive.live.com/redir?resid=57D3F61CBD8EDBE9!960&authkey=!AE4AUoFRj9Om4lg&ithint=video%2cmp4

[2016-05-04 13:55] AKCOsama commented on #191
@stevepessah @spaulenoff store is redirect to /akc-store on dev2 and doesn't on stg

[2016-05-04 14:00] aalattili commented on #232
@spaulenoff
Verified on preflight.
Tested on Samsung S6 and iPhone 6s plus

[2016-05-04 14:06] aalattili commented on #7
@spaulenoff
Verified on Dev2
![dev2-xml sitemap](https://cloud.githubusercontent.com/assets/12289479/15016592/930ba8e0-121a-11e6-8d4a-318d7644b59b.jpg)

[2016-05-04 14:07] aalattili commented on #212
Verified on preflight

[2016-05-04 14:08] aalattili commented on #224
@spaulenoff , verified on preflight

[2016-05-04 14:09] aalattili commented on #223
@spaulenoff , verified on preflight

[2016-05-04 14:13] elieo commented on #7
Looks good. Thanks

[2016-05-04 14:18] aalattili commented on #229
@spaulenoff , verified on preflight

[2016-05-04 14:21] spaulenoff commented on #7
@skt2 Please privde a URL to check

[2016-05-04 14:22] spaulenoff commented on #191
@stevepessah Please QA once again on dev2

[2016-05-04 14:23] kylejbertelsen commented on #191
Time tracking:
2016-05-03: kjb - 4 hours
2016-05-04: kjb - 2 hours, mobile

[2016-05-04 14:25] aalattili commented on #222
@spaulenoff , verified on preflight

[2016-05-04 14:25] aalattili commented on #221
@spaulenoff , verified on preflight

[2016-05-04 14:25] aalattili commented on #213
@spaulenoff , verified on preflight

[2016-05-04 14:26] aalattili commented on #215
@spaulenoff , verified on preflight

[2016-05-04 14:28] aalattili commented on #227
@spaulenoff how to test this ticket?

[2016-05-04 14:29] spaulenoff commented on #227
@aalattili No need to test this ticket right now

[2016-05-04 14:30] aalattili commented on #216
@spaulenoff , verified on preflight

[2016-05-04 14:34] aalattili commented on #217
@spaulenoff , verified on preflight

[2016-05-04 14:34] AKCOsama commented on #233
is there a need to test this ticket right now, or migrate to next sprint?

[2016-05-04 14:34] aalattili commented on #220
@spaulenoff , verified on preflight

[2016-05-04 14:35] aalattili commented on #218
@spaulenoff , verified on preflight

[2016-05-04 14:36] aalattili commented on #226
@spaulenoff , verified on preflight

[2016-05-04 14:37] skt2 commented on #7
http://stage-ng.akc.org/sitemap.xml/

[2016-05-04 14:39] aalattili commented on #7
@spaulenoff , verified on stage
![stage-xml sitemap](https://cloud.githubusercontent.com/assets/12289479/15017662/20876890-121f-11e6-8dbe-11c723398e62.jpg)

[2016-05-04 14:47] aalattili commented on #219
@spaulenoff , verified on preflight

[2016-05-04 14:50] aalattili commented on #207
@spaulenoff , verified on preflight

[2016-05-04 14:51] aalattili commented on #214
@spaulenoff , verified on preflight

[2016-05-04 15:01] AKCOsama commented on #206
@spaulenoff I cannot understand what teads code should be added and how to test?

[2016-05-04 15:02] spaulenoff commented on #206
That is fine @AKCOsama I have already verified this ticket

[2016-05-04 15:03] stevepessah commented on #191
@kylejbertelsen desktop looks good. On the mobile side can we add that same grey bar at top?

[2016-05-04 15:32] stevepessah commented on #191
@spaulenoff can you also update the nav now so it doesn't have both of those tabs?

[2016-05-04 15:38] spaulenoff commented on #191
Updated

[2016-05-04 15:42] stevepessah commented on #191
@kylejbertelsen I'm actually still seeing the content in the columns not centered.

[2016-05-04 15:43] toshan2014 commented on #233
It seems loginHandler function  is not executing when logging in on stage-ng. Will contact Gigya regarding this. Referencing old ticket :  https://gigya.my.salesforce.com/5004000000tR9mEAAS

[2016-05-04 16:35] kylejbertelsen commented on #191
Centering repaired, grey-bar at top abandoned per Steve.

[2016-05-04 19:43] toshan2014 commented on #214
pf: http://stage-ng.akc.org/dog-breeds/pug/detail/

[2016-05-04 19:47] toshan2014 commented on #223
pf: http://stage-ng.akc.org/you-vs-breed/

[2016-05-04 19:53] toshan2014 commented on #224
pf: http://stage-ng.akc.org/find-a-match/results/
http://stage-ng.akc.org/find-a-match/

[2016-05-04 19:55] toshan2014 commented on #213
pf: http://stage-ng.akc.org/dog-breeds/labrador-retriever/

[2016-05-04 19:57] toshan2014 commented on #215
pf:
http://stage-ng.akc.org/dog-breeds/labrador-retriever/care/

[2016-05-04 19:59] toshan2014 commented on #216
pf:
http://stage-ng.akc.org/dog-breeds/beagle/pictures/

[2016-05-04 20:05] toshan2014 commented on #217
pf:
http://stage-ng.akc.org/dog-breeds/

[2016-05-04 20:07] toshan2014 commented on #218
pf : http://stage-ng.akc.org/dog-breeds/hairless-dog-breeds/

[2016-05-04 20:09] toshan2014 commented on #219
pf :
http://stage-ng.akc.org/events/

[2016-05-04 20:11] toshan2014 commented on #220
pf :
http://stage-ng.akc.org/public-education/

[2016-05-04 20:12] toshan2014 commented on #222
pf: http://stage-ng.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C71%7C204

[2016-05-04 20:15] toshan2014 commented on #212
pf: http://stage-ng.akc.org/

[2016-05-04 20:23] toshan2014 commented on #226
pf: http://stage-ng.akc.org/learn/family-dog/what-does-it-mean-to-be-a-family-dog/

[2016-05-04 20:58] kylejbertelsen commented on #191
@stevepessah : we should probably have the URLs all filled-in before we release this page tomorrow. On the plus side, we've got the css in, so we could activate the page later in the day, if necessary.

[2016-05-04 21:20] toshan2014 commented on #221
pf:
http://stage-ng.akc.org/content/dog-breeding/
http://stage-ng.akc.org/content/dog-breeding/best-practices/

[2016-05-04 21:22] toshan2014 commented on #221
Total time spent: 4h ( extra fixes were required for tablet )

[2016-05-04 21:30] stevepessah commented on #191
@kylejbertelsen Elihn will be sending @spaulenoff the URLs directly in a couple mins.

[2016-05-05 12:38] spaulenoff commented on #191
**Toys & Treats**
https://shop.akc.org/collections/woofipedia-packs
backup link
https://shop.woofipedia.com/collections/woofipedia-packs

**Breed Specific Merchandise**
https://shop.akc.org/collections/dog-breed-products
backup link
https://shop.woofipedia.com/collections/dog-breed-products

**Training & Books**
https://shop.akc.org/collections/dog-training-products
backup link
https://shop.woofip

[2016-05-05 14:28] toshan2014 commented on #214
prod:
http://www.akc.org/dog-breeds/pug/detail/

[2016-05-05 14:30] toshan2014 commented on #223
prod:
http://www.akc.org/you-vs-breed/

[2016-05-05 14:32] toshan2014 commented on #224
prod :
http://www.akc.org/find-a-match/

[2016-05-05 14:35] toshan2014 commented on #213
prod http://www.akc.org/dog-breeds/labrador-retriever/

[2016-05-05 14:36] aalattili commented on #7
@spaulenoff , verified on prod

[2016-05-05 14:36] aalattili commented on #112
@spaulenoff , verified on prod

[2016-05-05 14:37] toshan2014 commented on #215
prod:
http://www.akc.org/dog-breeds/french-bulldog/care/

[2016-05-05 14:38] spaulenoff commented on #232
Verified on Prod

[2016-05-05 14:38] #232 closed, assigned to nobody

[2016-05-05 14:41] aalattili commented on #207
@spaulenoff , verified on prod

[2016-05-05 14:41] toshan2014 commented on #217
prod: http://www.akc.org/dog-breeds/

[2016-05-05 14:43] aalattili commented on #212
@spaulenoff , verified on prod

[2016-05-05 14:44] aalattili commented on #213
@spaulenoff , verified on prod

[2016-05-05 14:44] toshan2014 commented on #221
prod:
http://www.akc.org/content/entertainment/trending/
http://www.akc.org/content/entertainment/

[2016-05-05 14:44] AKCOsama commented on #221
@spaulenoff , verified on prod

[2016-05-05 14:44] aalattili commented on #214
@spaulenoff , verified on prod

[2016-05-05 14:46] aalattili commented on #215
@spaulenoff , verified on prod

[2016-05-05 14:47] toshan2014 commented on #226
prod http://stage-ng.akc.org/learn/family-dog/what-does-it-mean-to-be-a-family-dog/

[2016-05-05 14:47] spaulenoff commented on #207
Verified on Prod

[2016-05-05 14:47] #207 closed, assigned to nobody

[2016-05-05 14:48] AKCOsama commented on #224
@spaulenoff , verified on prod:
http://www.akc.org/find-a-match/#slide1
http://www.akc.org/find-a-match/#slide2
http://www.akc.org/find-a-match/#slide3
http://www.akc.org/find-a-match/#slide4
http://www.akc.org/find-a-match/#slide5
http://www.akc.org/find-a-match/#slide6
http://www.akc.org/find-a-match/results/

[2016-05-05 14:48] aalattili commented on #217
@spaulenoff , verified on prod

[2016-05-05 14:48] spaulenoff commented on #214
Verified on Prod

[2016-05-05 14:48] #214 closed, assigned to nobody

[2016-05-05 14:48] aalattili commented on #216
@spaulenoff , verified on prod

[2016-05-05 14:49] toshan2014 commented on #222
prod http://www.akc.org/find-a-match/compare-breeds/results/?breedcompare=125%7C71%7C204

[2016-05-05 14:49] aalattili commented on #218
@spaulenoff , verified on prod

[2016-05-05 14:49] AKCOsama commented on #223
QA passed and Verified on prod as well

[2016-05-05 14:50] spaulenoff commented on #215
Verified on Prod

[2016-05-05 14:50] #215 closed, assigned to nobody

[2016-05-05 14:50] aalattili commented on #219
@spaulenoff , verified on prod

[2016-05-05 14:50] toshan2014 commented on #212
prod http://www.akc.org/

[2016-05-05 14:51] aalattili commented on #220
@spaulenoff , verified on prod

[2016-05-05 14:51] spaulenoff commented on #223
Verified on Prod

[2016-05-05 14:51] #223 closed, assigned to nobody

[2016-05-05 14:51] spaulenoff commented on #206
Verified on Prod

[2016-05-05 14:51] #206 closed, assigned to nobody

[2016-05-05 14:52] spaulenoff commented on #224
Verified on Prod

[2016-05-05 14:52] #224 closed, assigned to nobody

[2016-05-05 14:52] AKCOsama commented on #222
QA passed, verified on production:
http://www.akc.org/find-a-match/compare-breeds
http://www.akc.org/find-a-match/compare-breeds/results/

[2016-05-05 14:53] toshan2014 commented on #219
prod http://www.akc.org/events/

[2016-05-05 14:53] spaulenoff commented on #213
Verified on Prod

[2016-05-05 14:53] #213 closed, assigned to nobody

[2016-05-05 14:53] spaulenoff commented on #217
Verified on Prod

[2016-05-05 14:53] #217 closed, assigned to nobody

[2016-05-05 14:55] spaulenoff commented on #221
Verified on Prod

[2016-05-05 14:55] #221 closed, assigned to nobody

[2016-05-05 14:55] toshan2014 commented on #216
prod : http://www.akc.org/dog-breeds/parson-russell-terrier/pictures/

[2016-05-05 14:56] spaulenoff commented on #222
Verified on Prod

[2016-05-05 14:56] #222 closed, assigned to nobody

[2016-05-05 14:56] toshan2014 commented on #218
prod: http://www.akc.org/dog-breeds/hairless-dog-breeds/

[2016-05-05 14:56] spaulenoff commented on #212
Verified on Prod

[2016-05-05 14:56] #212 closed, assigned to nobody

[2016-05-05 14:57] spaulenoff commented on #229
Verified on Prod

[2016-05-05 14:57] #229 closed, assigned to nobody

[2016-05-05 14:58] toshan2014 commented on #220
prod http://www.akc.org/public-education/

[2016-05-05 14:59] AKCOsama commented on #226
QA passed and verified on production

[2016-05-05 14:59] spaulenoff commented on #219
Verified on Prod

[2016-05-05 14:59] #219 closed, assigned to nobody

[2016-05-05 14:59] spaulenoff commented on #216
Verified on Prod

[2016-05-05 14:59] #216 closed, assigned to nobody

[2016-05-05 15:01] spaulenoff commented on #218
Verified on  prod

[2016-05-05 15:01] #218 closed, assigned to nobody

[2016-05-05 15:02] spaulenoff commented on #220
Verified on Prod

[2016-05-05 15:02] #220 closed, assigned to nobody

[2016-05-05 15:03] spaulenoff commented on #226
Verified on Prod

[2016-05-05 15:03] #226 closed, assigned to nobody

[2016-05-05 15:05] spaulenoff commented on #210
Verified on Prod

[2016-05-05 15:05] #210 closed, assigned to nobody

[2016-05-05 15:05] spaulenoff commented on #112
Verified on Prod

[2016-05-05 15:05] #112 closed, assigned to nobody

[2016-05-05 15:06] spaulenoff commented on #7
@elieo Please confirm the sitemap looks good to you on Production

[2016-05-05 15:06] #211 closed, assigned to toshan2014

[2016-05-05 15:26] spaulenoff commented on #35
Closed and resolved as part of #214

[2016-05-05 15:26] #35 closed, assigned to nobody

[2016-05-05 16:17] kylejbertelsen opened #235 "Sprint Log 05-12-2016"
**Planned for Sprint:**
#167
#242
#208
#240
#239
#209
#231
#230
#243
#244
#248 (added to fix broken OAS query on /learn/ articles

**Needs Attention:**

**In Progress:**

**On Develop2:**

**Verified on Develop2:**

**On Stage:**

**Verified on Stage:**

**On Preflight:**

**Verified on Preflight:**

**On Production:**

**Pushed to Production through 5/10 Hotfix:**
#243
#244

**Removed:**
#241 (Re

[2016-05-05 16:18] kylejbertelsen opened #236 "Sprint Sign-Off 05-12-2016"
1. Templates to test. Test a **_different_** page than the example I provide (except for homepage, You Vs Breed, Compare Breeds, Find a Match, News/Akc Dog Lovers Hubs, and AKC Shop).
2. Please test on Stage-NG
3. Please check on multiple devices if you have the time.
4. In your comment, please add the page URL you checked for each page template.

Please let me know if any of you have any addition

[2016-05-05 16:22] kylejbertelsen commented on #231
In the Quick Start instructions (https://developers.facebook.com/docs/instant-articles/quickstart), in step 7, use the RSS option rather than the API option. Seems like it'd be the lightest lift.

[2016-05-05 16:27] kylejbertelsen commented on #234
You already can, as it's a WYSIWYG (Wygwam) field in the CMS.

If there's anything to be done here, I think it'd be gathering additional icons you'd like to use some day, and making sure they end up in our assets. Each should be available in both white and orange.

And I recommend that you balance the left and right columns somewhat.

[2016-05-05 16:31] kylejbertelsen commented on #225
Regarding CDN, I think I'd like to look into ways to move our js and css into CDN automatically upon update.

[2016-05-05 16:33] kylejbertelsen commented on #146
Let's pull this for now, until we know where this project is at on the ISD side. We just don't have the information we need in order to not flush this time down the toilet.

And, in fact, when we push ahead with this task, let's start a new ticket with the new requirements.

[2016-05-05 17:06] stevepessah opened #237 "Prepare WOOFipedia content migration"
We need to move content from WOOFipedia to the /content section.

Not all content will be moved but Elie will determine which content will move over. Since we are moving 100 articles I believe it will be much more efficient to do a content import. There must be a way to import the content in bulk.

Elie to provide CSV for every field type for every article (start with example of 15 articles).

[2016-05-05 17:18] toshan2014 commented on #233
`	<script src="https://cdns.gigya.com/js/gigya.js?apiKey={exp:akc_member:getGigyaApiKey}">
		{
			'bypassCookiePolicy':'always',
			'enableSSOToken': true
		}
	</script>
	<script>
		function loginHandler(res){
		    gigya.setSSOToken({redirectURL: "{site_url}"});
		};
		gigya.socialize.addEventHandlers({
		        onLogin: loginHandler
		     }
		);
	</script>`

[2016-05-05 17:20] toshan2014 commented on #233
Replace
`<script src="https://cdns.gigya.com/js/gigya.js?apiKey={exp:akc_member:getGigyaApiKey}">
        {bypassCookiePolicy:'always'}
    </script>`
By
`<script src="https://cdns.gigya.com/js/gigya.js?apiKey={exp:akc_member:getGigyaApiKey}">
        {
            'bypassCookiePolicy':'always',
            'enableSSOToken': true
        }
    </script>
    <script>
        function loginHandler(r

[2016-05-05 18:07] spaulenoff commented on #191
AKC Services
-   AKC Certified Pedigrees (https://www.apps.akc.org//apps/store/index.cfm?view=category&cde_category=PED&cde_product=PEDX04)
-   DNA Testing (https://www.apps.akc.org//apps/store/index.cfm?view=category&cde_category=DNA)
-   AKC Reunite Microchips (https://www.akcreunite.org/products/?utm_source=akc%20website&utm_medium=link&utm_campaign=microchips)

AKC Reports
-   Breeder Reports

[2016-05-05 18:23] skt2 commented on #208
@spaulenoff are you sure we want to add OAS_query on homepage? by adding OAS_query will add entire script.

[2016-05-05 18:25] stevepessah opened #238 "Prepare AKC.org Content Migration"
- We need to move content from the /learn section to the /content section.
- We need to move content from WOOFipedia to the /content section.

Not all content will be moved but Elie will determine which content will move over. Since we are moving ~1,000 articles I believe it will be much more efficient to do a content import.  There must be a way to import the content in bulk.

Elie to provide CSV

[2016-05-05 18:25] stevepessah opened #239 "FB API Alert"
Elie found this alert in FB Admin. We are not sure what the issue is but we need to investigate.

Your Webhooks subscription for callback URL (https://updates.gigya.com/updates/facebook/3_Lj3tvb7hiyZc-gMQzdPPjDtkzed-My4IbPS_nnWd_dGSIk93QMKAyhZaIDmhQsll) has not been accepting updates for the past 7 days. We have disabled this subscription at this time. To reactivate the subscription, make a POST r

[2016-05-05 18:43] kylejbertelsen commented on #208
@skt2: could you explain that? How does that add an entire other script?

[2016-05-05 18:48] skt2 commented on #208
We are using snippet to add OAS_query, to add OAS_query to home page, I need include {snip-OAS-setup} in home page layout and it will add entire snippet code({snip-OAS-setup}) on home page which include OAS_ad calls. like:
`OAS_url = 'http://oascentral.akc.org/RealMedia/ads/';
    OAS_sitepage = 'web.akc.org'; // OAS Site page
    OAS_query = 'dog-breeds&afghan-hound';
    OAS_target = '_blank';

[2016-05-05 18:48] skt2 commented on #208
so just confirming that we are okay with this. @kylejbertelsen

[2016-05-05 19:04] #234 closed, assigned to nobody

[2016-05-05 19:06] spaulenoff opened #240 "Update AKC Store Mobile Landing Page"
Related to #191

http://www.akc.org/akc-store/

Needs to be able to include "Treats, Toys, & Accessories" in the right Orange Button on mobile

![image](https://cloud.githubusercontent.com/assets/13648969/15053897/d911cc8a-12d2-11e6-9c2f-e1bca1a071cc.png)

[2016-05-05 19:06] stevepessah opened #241 "Make AKC.org changes to support deep-linked calendar"
- CTA on Event Pages
- Breed-Specific Event Search on Breed Pages
- CTA on main Dog Owner page

[2016-05-05 19:06] #146 closed, assigned to kylejbertelsen

[2016-05-05 19:08] spaulenoff commented on #191
Added ticket #240 to fix mobile Layout

[2016-05-05 19:17] spaulenoff commented on #241
Once Steve provides additional info, ticket will be assigned to Shailesh @skt2

[2016-05-05 19:19] spaulenoff commented on #236
Kyle to assist

[2016-05-05 19:30] toshan2014 commented on #239
@stevepessah @elieo
I'd like to see how the other webhooks are setup within the Facebook account, can I have the login info?
Also when is this alert message dated?

[2016-05-05 20:27] skt2 commented on #167
@spaulenoff: is there any markup for this or simply make it like this:
![screen shot 2016-05-05 at 4 25 05 pm](https://cloud.githubusercontent.com/assets/16002526/15056118/1c4ed8fc-12de-11e6-8537-5c018435217f.png)

[2016-05-05 20:30] skt2 commented on #230
@spaulenoff: Please note this is currently live being served through Optimizely. We want to make it so this is no longer an optimizely experiment -- Can you please explain this?

[2016-05-05 20:30] spaulenoff opened #242 "shop.akc.org links are being redirected to www.akc.org links when used in the cms"
http://www.akc.org/akc-store/

For example **Toys & Treats** should link to https://shop.akc.org/collections/woofipedia-packs but instead its linking to http://www.akc.org/collections/woofipedia-packs/

[2016-05-05 20:31] spaulenoff commented on #167
Simply make it like mockup above

[2016-05-05 20:37] skt2 commented on #230
According to @spaulenoff we want to add field(Event category overview channel) in CMS where user can add title and link, if this is filled(not empty) then need to show it as button in front side.

[2016-05-05 20:40] spaulenoff commented on #230
Confirmed

[2016-05-05 20:46] skt2 commented on #240
@kylejbertelsen is there anything else I need to do other then updating DB to see it locally?

[2016-05-06 15:38] skt2 commented on #167
Time spent: 2h 30m

[2016-05-06 16:31] spaulenoff opened #243 "Conditional List Pos"
Need to add conditional to listpos so that only desktop ads are served on desktop and only mobile ads are served on mobile

[2016-05-06 16:35] spaulenoff opened #244 "Ads Reloading on certain pages"
We see ads reloading on several pages after a few second and we need to figure out why this is occurring and resolve this issue:

Examples:
http://www.akc.org/learn/dog-health/cephalexin-for-dogs/
http://www.akc.org/content/health/
http://www.akc.org/content/dog-breeding/articles/ovulation-in-the-bitch/
http://www.akc.org/content/health/videos/yogurt-popsicles-treats-for-dogs/

[2016-05-06 16:48] skt2 commented on #240
@spaulenoff, @kylejbertelsen: We might need to change the layout a little as "Treats, Toys & Accessories" is not adjustable on mobile with mockup. Here is suggested one:
![screen shot 2016-05-06 at 12 45 36 pm](https://cloud.githubusercontent.com/assets/16002526/15079800/b9515a3a-1388-11e6-940b-ce72dcae1d57.png)

[2016-05-06 16:50] skt2 commented on #240
This is how it looks with current layout:
![screen shot 2016-05-06 at 12 49 35 pm](https://cloud.githubusercontent.com/assets/16002526/15079873/15916b1e-1389-11e6-9595-a976a67591af.png)

[2016-05-06 17:09] toshan2014 commented on #242
dev2 http://develop2.akc.org/akc-store/

[2016-05-06 17:16] toshan2014 commented on #212
Time spent : 40min

[2016-05-06 17:28] spaulenoff commented on #228
Sprint Recap found here: https://docs.google.com/document/d/1LvXTil8UCwOQjzz7iPmTvuFnBeA7vfbJ_RNhrVCiWIg/edit#

[2016-05-06 17:28] #228 closed, assigned to nobody

[2016-05-06 17:41] skt2 commented on #240
This is how it can be adjusted if we still want to go as per mockup:
![screen shot 2016-05-06 at 1 39 32 pm](https://cloud.githubusercontent.com/assets/16002526/15081276/321cbc5a-1390-11e6-8f5a-8ad89cfdf193.png)

[2016-05-06 17:43] spaulenoff commented on #240
@stevepessah Please advise on how you would like to move forward here:

Mockup one:
![image](https://cloud.githubusercontent.com/assets/13648969/15081339/866ceee2-1390-11e6-8929-8195a61b53ee.png)

Mockup Two:
![image](https://cloud.githubusercontent.com/assets/13648969/15081349/8e611830-1390-11e6-9b64-15d181f2aac3.png)

[2016-05-06 17:50] skt2 commented on #240
Mockup 3: @stevepessah
![screen shot 2016-05-06 at 1 48 46 pm](https://cloud.githubusercontent.com/assets/16002526/15081534/6a6ccb80-1391-11e6-9648-65bb282d013b.png)

[2016-05-06 18:20] spaulenoff commented on #240
@skt2 Should look like this but with text being vertically aligned
![screen shot 2016-05-06 at 2 15 49 pm](https://cloud.githubusercontent.com/assets/13648969/15082426/a42b197c-1395-11e6-9b54-a9da1abf43b3.png)

[2016-05-06 18:21] skt2 commented on #208
Tested on:
http://develop2.akc.org/ -- Home page
http://develop2.akc.org/news/bloodhound-finds-senior-citizen/ -- News
http://develop2.akc.org/content/entertainment/articles/dog-in-video-keeps-disappearing/ -- Article

[2016-05-06 18:40] spaulenoff commented on #208
Not verified on dev2 please check again

[2016-05-06 18:45] skt2 commented on #208
This is what I am seeing in here: http://develop2.akc.org/news/bloodhound-finds-senior-citizen/ -- News
![screen shot 2016-05-06 at 2 44 26 pm](https://cloud.githubusercontent.com/assets/16002526/15083058/2935c43e-1399-11e6-879d-a3f09eeb25ee.png)

[2016-05-06 18:52] skt2 commented on #230
Time Spent: 2h
*_CMS Changes: *_
CMS > Admin > Channel Admin > Channel Fields > Event Category Overview > Add new
Type: Grid
Label: External Link Button
Name: external_link_button
Field1:
Label: Title
Name: title
Field2:
Label: Link
Name: link
Field3:
Label: Target
Name: target
Instruction: Use: _blank to open in new window/tab

[2016-05-06 19:03] skt2 commented on #230
Tested: http://develop2.akc.org/government-relations/

[2016-05-06 19:04] spaulenoff commented on #239
@stevepessah Please advise per Toshan's question above

[2016-05-06 19:41] skt2 commented on #240
@spaulenoff: final confirmation?
![screen shot 2016-05-06 at 3 40 36 pm](https://cloud.githubusercontent.com/assets/16002526/15084371/f882f75a-13a0-11e6-8148-e125c73fd255.png)

[2016-05-06 19:54] spaulenoff commented on #240
mockup looks good

[2016-05-06 19:54] skt2 commented on #240
**CMS Changes:**
Update the akc-store content

[2016-05-06 20:31] spaulenoff commented on #240
@stevepessah Please verify on dev2. I checked and it looks good to me

[2016-05-09 09:28] toshan2014 commented on #244
It seems that this was due to the naming convention used for some ads in certain pages were conflicting and they were being loaded. Should be fixed now. Please QA:

http://develop2.akc.org/learn/akc-gazette/the-akc-gazette-celebrating-the-sport-of-dogs/
http://develop2.akc.org/content/dog-breeding/
http://develop2.akc.org/content/dog-breeding/tips-from-experts/
http://develop2.akc.org/content/dog-

[2016-05-09 09:57] toshan2014 commented on #243
Condition added and all pages which call "OAS_listpos" variable have been modified to separate mobile to desktop ads as codewise any ad can be for both mobile and desktop. Meaning for ex:
`{exp:stash:set name="adscalled"}x20,x35{/exp:stash:set}`
has been changed to
`{exp:stash:set name="adscalled_mob"}x20{/exp:stash:set}
{exp:stash:set name="adscalled_desk"}x35{/exp:stash:set}`

To verify the "OAS

[2016-05-09 12:51] kylejbertelsen commented on #237
@elieo: the sooner I can get a true sample from you, the sooner I can get this moving forward. I know we have a meeting later today, so I'm not expecting this today, but tomorrow (Tues., 05/10) would be good.

[2016-05-09 13:37] spaulenoff commented on #244
Sent to Yourbow to check over

[2016-05-09 13:37] spaulenoff commented on #243
Sent to Yourbow to check over

[2016-05-09 14:07] spaulenoff commented on #240
Verified on dev 2 per Steve

[2016-05-09 14:40] spaulenoff opened #245 "Ability to add captions to hero images on /news/ article and featured story templates"

[2016-05-09 15:14] skt2 commented on #208
1. view-source:http://develop2.akc.org/dog-breeds/affenpinscher/
2. view-source:http://develop2.akc.org/dog-owners/canine-partners/spotlight/make-your-life-easier-teach-your-dog-some-self-control/
3. view-source:http://develop2.akc.org/content/entertainment/articles/dog-in-video-keeps-disappearing/
4. view-source:http://develop2.akc.org/news/bloodhound-finds-senior-citizen/
5. view-source:http://d

[2016-05-09 15:23] spaulenoff commented on #244
Verified per Yourbow's Email

[2016-05-09 15:24] spaulenoff commented on #243
Response from Yourbow:

We did notice that there are some tweaks needed re listpos part (this page as example):
http://develop2.akc.org/learn/akc-gazette/the-akc-gazette-celebrating-the-sport-of-dogs/
x01 ad is not serving at all regardless of platform but it is still in Listpos line, so if it should not be serving at all then it should be removed from listpos line (or ad call added for it to star

[2016-05-09 16:26] spaulenoff commented on #239
I provided Toshan with admin access to look into this

[2016-05-09 17:09] skt2 commented on #208
**CMS Changes:**
Snippets Update: snip-OAS-setup

[2016-05-09 18:36] skt2 commented on #231
Do we have any ref site/urls where I can see the instant articles? @spaulenoff

[2016-05-09 19:04] toshan2014 commented on #243
Changes made in Learn section per Yourbow:
x01,x11 only on list pages ( mobile and dekstop ) [ ex http://develop2.akc.org/learn/dog-health/care/page/P20/ ]
x25 (mobile only) & x11,x05 ( desktop only ) [ ex http://develop2.akc.org/learn/dog-health/probiotics-for-dogs/ ]

Please QA / see console.log

Note: Because the 'squeeze' keyword was decided to be removed in one of the previous tickets, the ad

[2016-05-09 19:38] toshan2014 commented on #242
stg:
http://stage-ng.akc.org/akc-store/

[2016-05-09 19:47] spaulenoff commented on #243
Verified by yourbow:

Yes, coding in place is making right ad calls and we are seeing all called ads serving now.
Note that there is only one ad serving on mobile now (x25 300x50), so if there is need for more ads on mobile (like 300x250 pehaps) it can be added as well

[2016-05-09 19:49] spaulenoff commented on #233
Verified in prod by dev team and ISD

[2016-05-09 19:49] #233 closed, assigned to nobody

[2016-05-09 19:56] toshan2014 commented on #242
Time spent: 1h

[2016-05-09 20:12] kylejbertelsen commented on #209
Waiting on information (Percona credentials) from Tim Pursell (for the dev.akcwinners.com server)

[2016-05-10 04:29] toshan2014 commented on #244
Stage:
http://stage-ng.akc.org/content/dog-breeding/articles/ovulation-in-the-bitch/
http://stage-ng.akc.org/content/dog-breeding/videos/the-baer-hearing-test-for-dogs/
http://stage-ng.akc.org/content/dog-care/photo-galleries/common-dangerous-foods-for-your-dog/
http://stage-ng.akc.org/content/dog-breeding/tips-from-experts/
http://stage-ng.akc.org/content/dog-breeding/

http://stage-ng.akc.org/le

[2016-05-10 05:56] toshan2014 commented on #243
Email sent to Yourbow to cross verify changes :

[2016-05-10 12:16] aalattili commented on #167
@spaulenoff
QA testing passed on dev2 & stage, tested on iPhone 6s & Samsung S6

[2016-05-10 12:17] aalattili commented on #242
@spaulenoff
QA retesting passed on dev2 & stage

[2016-05-10 12:18] aalattili commented on #208
@spaulenoff
QA retesting passed on dev2 & stage

[2016-05-10 12:21] aalattili commented on #240
@spaulenoff
Testing was applied on Samsung S6 & iPhone 6s
QA retesting passed on dev2 & stage, akc-store displays as in the latest mokup

One minor issue was found:
Shop main page-In landscape, ‘Toys, Treats & Accessories’ txt is not centralized in box (Shop-Treats, Toys & Accessories txt isn't centralized.jpg)
![shop-treats toys accessories txt isn t centralized](https://cloud.githubusercontent.c

[2016-05-10 12:23] aalattili commented on #239
@spaulenoff , we need more details on how to test this ticket

[2016-05-10 12:24] aalattili commented on #231
@spaulenoff , we need more details on how/where to test this ticket

[2016-05-10 12:29] aalattili commented on #230
@spaulenoff

develop2: Events page, ‘Improper txt is displaying’ in button (All Events page-Improper txt in btn.jpg)
![all events page-improper txt in btn](https://cloud.githubusercontent.com/assets/12289479/15146435/0078fb5a-16c4-11e6-8ab8-01dc98f69d3a.jpg)

QA retesting passed on dev2 & stage (http://develop2.akc.org/government-relations/ & http://stage-ng.akc.org/government-relations/)

[2016-05-10 12:30] aalattili commented on #243
@spaulenoff
QA retesting passed on dev2 & stage, ‘OAS_listpos’ is found on dev2 & stage (checked on some pages)

[2016-05-10 12:31] aalattili commented on #244
@spaulenoff
QA retesting passed on dev2 & stage

[2016-05-10 14:04] skt2 commented on #240
found issue on table portrait:
![tablet-issue](https://cloud.githubusercontent.com/assets/16002526/15149162/7ab7a480-1696-11e6-9497-e70aa1104934.png)

Possible Fix:
![tablet-fix](https://cloud.githubusercontent.com/assets/16002526/15149173/87ddddd2-1696-11e6-9cd3-f7f405e6d217.png)

@spaulenoff Let me know if want to apply this.

[2016-05-10 15:28] spaulenoff commented on #231
Connect with Elie about further conversation regarding this ticket

[2016-05-10 16:12] spaulenoff opened #246 "Add Teads In-Content Video code to Generic Page Templates"
We want to add the option to have teads in content video adds to generic 1 and generic 2 templates: Set it on a page-by-page basis, not as a global.

Generic:
http://www.akc.org/clubs/how-to-form-club/
http://www.akc.org/clubs/promote/

Generic 2:
http://www.akc.org/clubs/

Mockup:
![clubs-events-ads-with-gumgum 3](https://cloud.githubusercontent.com/assets/13648969/15153702/3fbd06c4-16a8-11e6-98f

[2016-05-10 17:17] spaulenoff commented on #240
@stevepessah Please QA on dev2 on tablet. I've checked it and i am seeing the buttons you have asked for

[2016-05-10 17:18] elieo opened #247 "Ability to create categories based off of AKC Vocabulary"
We would like the ability to create new content categories in this /content section that will pull specific article, video and slideshows. The content the categories should be based on the keywords in AKC vocabulary.

For example, "category A" we can specify to pull content tagged with "puppy" and "category A" would pull content that is tagged in AKC Vocabulary as "puppy".

[2016-05-10 19:04] toshan2014 commented on #243
Verified in prod:
http://www.akc.org/content/entertainment/
http://www.akc.org/content/entertainment/trending/
http://www.akc.org/content/entertainment/articles/man-calls-dogs-over/
http://www.akc.org/content/entertainment/photo-galleries/diy-dog-paw-towel/

[2016-05-10 19:46] toshan2014 commented on #244
Found out that this issue was due to ids such as `<span id="oas_x10">` were making two calls. It's likely that this naming format is being used for other purposes internally. Changing the format to `<span id="ad-oas-x10">` resolved the problem.

Time spent: 2.5h

[2016-05-10 19:52] toshan2014 commented on #243
Time spent: 5h

[2016-05-10 20:03] spaulenoff commented on #243
Verified on Prod per Yourbow

[2016-05-10 20:03] #243 closed, assigned to nobody

[2016-05-10 20:03] spaulenoff commented on #244
Verified on Prod per Yourbow

[2016-05-10 20:03] #244 closed, assigned to nobody

[2016-05-10 20:23] toshan2014 commented on #239
I have contacted Gigya on 05/10/2016 regarding this issue -
Case ID: #90532

[2016-05-10 21:28] toshan2014 commented on #239
Reply from Gigya:

[2016-05-10 21:40] toshan2014 commented on #239
Response:

[2016-05-10 22:07] toshan2014 opened #248 "Modify OAS_query for learn section"
Modify OAS_query in learn section per YourBow email:

[2016-05-10 22:26] stevepessah commented on #247
Duplicate of #205 so closing.

[2016-05-10 22:26] #247 closed, assigned to nobody

[2016-05-10 22:45] toshan2014 commented on #248
Develop2 :
view-source:http://develop2.akc.org/learn/dog-health/4-tips-to-help-keep-your-dog-safe-from-fleas-and-ticks/

[2016-05-11 13:33] spaulenoff commented on #248
@toshan2014 I am seeing it work correctly now on dev 2 Please confirm if this is ready to push.

Please also let us know what caused this issue

[2016-05-11 14:00] spaulenoff commented on #240
Verified on dev2. Please push to stage and production now that we are in preflight

[2016-05-11 14:04] spaulenoff opened #249 "Ipad Pro Portrait Nav"
We need to fix the header nav on Ipad Pro Portrait orientation. We need to fit all nav items on one line.
Please note: This refers only to the TOP NAV (Note how Shop is shifted to the next line in the screenshot.)

![screen shot 2016-05-11 at 9 55 26 am](https://cloud.githubusercontent.com/assets/13648969/15183589/a83dc8fc-175f-11e6-8e08-aceffc8b4bda.png)

[2016-05-11 16:16] toshan2014 commented on #242
pf: http://stage-ng.akc.org/akc-store/

[2016-05-11 16:33] toshan2014 commented on #248
Tested on preflight :
view-source:http://stage-ng.akc.org/learn/family-dog/what-does-it-mean-to-be-a-family-dog/

On 4/22/2016 the condition for that section was removed. I'm not sure what the reasoning was behind but that's what caused this.

[2016-05-11 16:33] toshan2014 commented on #248
Time spent: 1.5h

[2016-05-11 16:37] toshan2014 commented on #239
Reply from Gigya:

[2016-05-11 16:40] toshan2014 commented on #239
According to Gigya, only thing we can do on our end is the following in the console:  'Site Settings > Providers Configurations > Save Settings'. And they already have done so for us.

No changes required from our side at this stage.

Note: I've checked the Webhooks section on the fb app as per Shirley's note above and I do see the Gigya subscription.

[2016-05-11 16:49] toshan2014 commented on #239
Time spent: 2h

[2016-05-11 16:53] toshan2014 commented on #236
verified 248, 242 on pf

[2016-05-11 16:58] skt2 commented on #236
verified #167 #230 #240 and #208 on pre-flight.

[2016-05-11 17:15] toshan2014 commented on #236
@kylejbertelsen @spaulenoff

Regarding the process - One thing that would help is to move the unique URLs (homepage, shop, find a match etc) on top of the list

[2016-05-11 17:36] toshan2014 opened #250 "Unformatted chars"
http://stage-ng.akc.org/dog-breeds/?letter=B

See attachment:
<img width="862" alt="unformatted_chars" src="https://cloud.githubusercontent.com/assets/6847220/15190332/35e68762-1764-11e6-9774-ca53fbaab366.PNG">

[2016-05-11 17:52] toshan2014 opened #251 "Issue with dropdown in zipcode field"
http://www.akc.org/find-a-match/#slide1

If the zipcode is clicked/selected from the dropdown, "Continue" does not activate ( ie. it does not turn orange ). See screenshot:

<img width="960" alt="zip-code-issue" src="https://cloud.githubusercontent.com/assets/6847220/15190715/4dac961e-1766-11e6-9e84-30bcc21fafd7.png">

[2016-05-11 18:16] skt2 opened #252 "Breed details page - Style issue on Tablet"
http://stage-ng.akc.org/dog-breeds/affenpinscher/ - Hero Image and other content is messed up.

![screen shot 2016-05-11 at 2 15 35 pm](https://cloud.githubusercontent.com/assets/16002526/15191473/dee8c488-1782-11e6-90b6-8ad21ed043ad.png)

[2016-05-11 18:20] toshan2014 opened #253 "Investigate JS error"
A JS error appears in the console for certain pages. Needs investigation:

http://stage-ng.akc.org/dog-breeds/neapolitan-mastiff/care/
<img width="576" alt="js-error2" src="https://cloud.githubusercontent.com/assets/6847220/15191494/c8f74744-1769-11e6-926c-6f17e4e5cb7a.PNG">

[2016-05-11 18:35] toshan2014 opened #254 "Learn Section - no padding"
It seems there's no ( or not enough ) padding in the learn section. See screenshot:
http://stage-ng.akc.org/learn/family-dog/glucosamine-for-dogs/

<img width="652" alt="learn-no-paddig" src="https://cloud.githubusercontent.com/assets/6847220/15192074/7f06d50c-176c-11e6-8779-3bdb73753fdb.PNG">

[2016-05-11 18:43] toshan2014 opened #255 "Video partly hidden on smaller screens desktops"
http://stage-ng.akc.org/content/dog-breeding/videos/canine-health-testing/

The video is partly hidden. I have to scroll down to see the video. See screenshot:

<img width="865" alt="small-screen-video" src="https://cloud.githubusercontent.com/assets/6847220/15192324/89c9f004-176d-11e6-8539-3aed4248f4b9.PNG">

These videos are uploaded through JW Player

[2016-05-11 18:49] skt2 commented on #236
Issues:
#252 - http://stage-ng.akc.org/dog-breeds/affenpinscher/ - on tablet

Tested URLs:
http://stage-ng.akc.org/dog-breeds/affenpinscher/
http://stage-ng.akc.org/dog-breeds/affenpinscher/detail/
http://stage-ng.akc.org/dog-breeds/affenpinscher/care/
http://stage-ng.akc.org/dog-breeds/smartest-dogs/
http://stage-ng.akc.org/public-education/resources/
http://stage-ng.akc.org/events/agility/invita

[2016-05-11 18:50] toshan2014 commented on #236
Tested on stage:

Unique URLS
http://stage-ng.akc.org/
http://stage-ng.akc.org/you-vs-breed/
http://stage-ng.akc.org/find-a-match/compare-breeds/
http://stage-ng.akc.org/find-a-match/
http://stage-ng.akc.org/find-a-match/results/
http://stage-ng.akc.org/news/
http://stage-ng.akc.org/akc-dog-lovers/
http://stage-ng.akc.org/akc-store/
http://stage-ng.akc.org/dog-breeds/
http://stage-ng.akc.org/dog-b

[2016-05-11 18:57] skt2 commented on #251
@toshan2014 somehow I don't see any dropdown while typing zipcode but I found this:
![screen shot 2016-05-11 at 2 56 44 pm](https://cloud.githubusercontent.com/assets/16002526/15192757/9c2872aa-1788-11e6-910b-fcca6a444540.png)

[2016-05-11 20:14] spaulenoff commented on #236
**AKC Homepage, Header Nav and Footer Nav:** http://stage-ng.akc.org/

**Browse All Breeds Page:** http://stage-ng.akc.org/dog-breeds/

**SEO Pages:** http://stage-ng.akc.org/dog-breeds/best-dogs-for-apartments/

**Breed Pages:** http://stage-ng.akc.org/dog-breeds/wire-fox-terrier/

**Breed Detail Page:** http://stage-ng.akc.org/dog-breeds/wire-fox-terrier/detail/

**Breed Care Page:** http://stag

[2016-05-11 22:23] toshan2014 commented on #251
@skt2
1) The drop-down is cached in the browser once it's used before. It's chrome/firefox autofill.
2) Yeah we need to make that "This value...." text smaller or move "Continue" a bit down

[2016-05-12 14:10] spaulenoff commented on #231
@skt2 Please research best practices on how to implement this and please return any findings you may come across

[2016-05-12 15:40] toshan2014 commented on #242
prod http://www.akc.org/akc-store/

[2016-05-12 15:42] toshan2014 commented on #248
prod:
view-source:http://www.akc.org/learn/dog-health/4-tips-to-protect-your-dog-from-heartworm/
view-source:http://www.akc.org/learn/dog-health/4-tips-to-help-keep-your-dog-safe-from-fleas-and-ticks/

please inform Rebecca that this is resolved

[2016-05-12 15:45] spaulenoff commented on #242
Verified on prod

[2016-05-12 15:45] #242 closed, assigned to nobody

[2016-05-12 15:46] spaulenoff commented on #167
Verified on Prod

[2016-05-12 15:46] #167 closed, assigned to nobody

[2016-05-12 15:47] skt2 commented on #240
Time spent: 4h
Spent more time than estimation as there was new change request for tablet.

[2016-05-12 15:49] spaulenoff commented on #230
Verified on Prod

[2016-05-12 15:49] #230 closed, assigned to nobody

[2016-05-12 15:51] spaulenoff commented on #248
Verified on Prod

[2016-05-12 15:51] #248 closed, assigned to nobody

[2016-05-12 16:03] skt2 commented on #231
So, I have created a sample page and developed rss feed page for news articles which help upload the rss feed for news articles(as of now I have uploaded 20 articles for testing). I uploaded those articles in development environment of Facebook instant article page but these article do not have publish option available for development environment so I guess we need to test this on live page only.

[2016-05-12 16:09] skt2 commented on #208
@spaulenoff tested on couple pages where AKC vocabulary already set.
view-source:http://www.akc.org/content/entertainment/articles/dog-in-video-keeps-disappearing/
view-source:http://www.akc.org/news/bloodhound-finds-senior-citizen/

[2016-05-12 17:03] spaulenoff commented on #240
Verified on Prod

[2016-05-12 17:03] #240 closed, assigned to nobody

[2016-05-12 17:07] spaulenoff commented on #208
Verified on Prod

[2016-05-12 17:07] #208 closed, assigned to nobody

[2016-05-12 17:08] #236 closed, assigned to nobody

[2016-05-12 18:31] kylejbertelsen commented on #231
Please note: treat as a new ticket from here, down. This is focused on getting the FB IA RSS Feed correct and functional.

[2016-05-12 18:32] stevepessah commented on #205
We would like the ability to create new content categories in this /content section that will pull specific article, video and slideshows. The content the categories should be based on the keywords in AKC vocabulary.

For example, "category A" we can specify to pull content tagged with "puppy" and "category A" would pull content that is tagged in AKC Vocabulary as "puppy".

[2016-05-12 18:40] stevepessah commented on #205
@elieo need more info here. Some of the questions we have are below. Let's find some time to discuss.
- Where should categories live?
  - Maybe in /content?
- What kind of page type should they be?
- How should users navigate to these categories?
- How do we determine which vocab words get added as categories in the frontend?
- If we have more than one vocabulary term, which vocab work would we us

[2016-05-12 18:44] stevepessah opened #256 "1. Migrate WOOFipedia images to AKC.org CDN"
Subticket of #237

[2016-05-12 18:52] stevepessah opened #257 "2. Download local version of WOOFipedia data base (as a backup)"
Subticket of #237

[2016-05-12 18:53] stevepessah opened #258 "4. Export list of all pages on website, with content on pages"
Needs to happen after:
#3. Tag content that we want to move over to AKC.org – Elie

[2016-05-12 18:53] stevepessah opened #259 "5. Export all content field from the content we want to move over into a spreadsheet"
Subticket of #237

[2016-05-12 18:53] spaulenoff commented on #258
Subticket of #237

[2016-05-12 18:54] stevepessah opened #260 "6. Find and replace the image source reference URL from woofipedia to cdn.akc.org"
Subticket of #237

[2016-05-12 18:54] stevepessah opened #261 "9. Create server instance to host .htacess file (to manage redirects)"
Needs to happen after:
#7. Prepare content to be imported into akc.org – Elie
#8. Create redirect file from woofipedia to akc.org - Elie

[2016-05-12 18:55] stevepessah opened #262 "10. Import content to akc.org"
Subticket of #237

[2016-05-12 18:56] spaulenoff commented on #261
Subticket of #237

[2016-05-12 18:56] stevepessah opened #263 "11. Test content"
Subticket of #237

[2016-05-12 18:56] stevepessah opened #264 "12. Point Woofipedia DNS to server instance with .htaccess file"
Subticket of #237

[2016-05-12 18:56] stevepessah opened #265 "13. Test redirects"
Subticket of #237

[2016-05-12 18:59] stevepessah commented on #250
We had resolved this issue before and it's back again, FYI.

[2016-05-12 19:02] stevepessah commented on #156
Link needs to go to the /puppies page for the specific breed. Example for screenshot above would go to http://marketplace.akc.org/puppies/basset-hound

[2016-05-12 19:04] spaulenoff commented on #34
Closing as this is already on live site

[2016-05-12 19:04] #34 closed, assigned to nobody

[2016-05-12 19:07] stevepessah commented on #251
When clicking the autofill selection, a yellow background shows. We would like that to be removed.

![screen shot 2016-05-12 at 3 07 13 pm](https://cloud.githubusercontent.com/assets/1063028/15227024/4aa91346-1853-11e6-998b-5246bf2ba94c.png)

[2016-05-12 19:08] kylejbertelsen commented on #254
worst. Screenshot. Ever.

[2016-05-12 19:08] kylejbertelsen commented on #251
Check to see if action is on keyup -- maybe change to blur/focus?

[2016-05-12 19:10] spaulenoff commented on #107
Hold off until mockup and design is added

[2016-05-12 19:10] #94 closed, assigned to nobody

[2016-05-12 19:10] #95 closed, assigned to nobody

[2016-05-12 19:10] #93 closed, assigned to spaulenoff

[2016-05-12 19:11] #227 closed, assigned to kylejbertelsen

[2016-05-12 19:12] stevepessah commented on #110
Done.

[2016-05-12 19:12] #110 closed, assigned to nobody

[2016-05-12 20:04] skt2 commented on #231
@kylejbertelsen when I uploaded RSS on dev, FB was showing error for such content:
![screen shot 2016-05-12 at 3 58 56 pm](https://cloud.githubusercontent.com/assets/16002526/15228520/892741ea-185a-11e6-995b-d17467b1aec5.png)

and this is how the content generated while image uploaded in wgywamp, as of now I am not seeing any way to avoid p tags in wgywamp but I'll keep looking into it. This is ju

[2016-05-12 20:13] skt2 commented on #41
@spaulenoff @kylejbertelsen
User Menu is wrapped with Anchor tag so on mobile devices it always execute click event before touch or tap event and since it is link, it redirect to apps page. We might need to remove link from user menu and add additional link in "My Account" section i.e. Account Overview

[2016-05-12 20:33] #96 closed, assigned to nobody

[2016-05-12 20:35] #43 closed, assigned to nobody

[2016-05-12 20:35] #58 closed, assigned to nobody

[2016-05-12 20:36] #60 closed, assigned to nobody

[2016-05-12 20:37] #66 closed, assigned to spaulenoff

[2016-05-12 20:38] stevepessah commented on #250
Another example can be found here - https://github.com/akcdotorg/akc.org/issues/97

Needs to be updated throughout site.

[2016-05-12 20:39] #97 closed, assigned to nobody

[2016-05-12 20:40] spaulenoff commented on #62
Replace A with N/A when no information is provided for a trait

![image](https://cloud.githubusercontent.com/assets/13648969/15229679/22ea9b1a-1860-11e6-9c48-89645a5d255e.png)

[2016-05-12 20:40] #160 closed, assigned to nobody

[2016-05-12 20:42] #172 closed, assigned to nobody

[2016-05-12 20:42] #192 closed, assigned to nobody

[2016-05-12 20:43] #196 closed, assigned to kylejbertelsen

[2016-05-12 20:46] skt2 commented on #250
In first example, it seems title is copied from somewhere so the dash(-) is some different character. when I changed  – to dash( - ) in my local CMS, it solved the problem.
National Purebred Dog Day is May 1 – Show your Support
National Purebred Dog Day is May 1 - Show your Support
If this is the case then we might need to be careful while adding content though I'll keep looking into this but just

[2016-05-12 20:49] stevepessah commented on #262
@kylejbertelsen please let @elieo know what you need for this.

[2016-05-12 20:52] stevepessah commented on #171
@toshan2014 yes this will replace the existing page.

[2016-05-12 20:52] #6 closed, assigned to nobody

[2016-05-12 20:53] #9 closed, assigned to nobody

[2016-05-12 20:53] #8 closed, assigned to nobody

[2016-05-12 20:54] #13 closed, assigned to nobody

[2016-05-12 20:55] #16 closed, assigned to nobody

[2016-05-12 20:57] #21 closed, assigned to nobody

[2016-05-12 20:58] #24 closed, assigned to stevepessah

[2016-05-12 20:58] #25 closed, assigned to nobody

[2016-05-12 20:59] stevepessah commented on #26
@kylejbertelsen is this still open?

[2016-05-12 21:00] #104 closed, assigned to spaulenoff

[2016-05-12 21:04] spaulenoff opened #266 "Fix List style on /learn/ Articles"
http://www.akc.org/learn/akc-training/dog-facts/

The list font style needs to be the same font size as the rest of the article

[2016-05-13 13:14] skt2 commented on #231
Time spent so far: 4h

[2016-05-13 13:24] skt2 commented on #208
Time Spent: 4h

[2016-05-13 13:37] kylejbertelsen opened #267 "AKCWinners new Awards"
Add new awards to AKCWinners.com:

 “Reserve Best Junior Showmanship” - after Junior Showmanship

“Reserve Best in Show: Nat’l Owner Handled Series" - after Best in Show: Nat’l Owner Handled Series

[2016-05-13 13:52] skt2 commented on #249
Time Spent: 50m

[2016-05-13 14:18] spaulenoff commented on #235
Sprint Recaps can be found here: https://docs.google.com/document/d/1LvXTil8UCwOQjzz7iPmTvuFnBeA7vfbJ_RNhrVCiWIg/edit#

[2016-05-13 14:19] #235 closed, assigned to spaulenoff

[2016-05-13 14:19] spaulenoff opened #268 "5/26/16 Sprint Log"
**Planned for Sprint:**
#271
#272
#255
#249
#33
#32
#266
#251
#44
#41
#156
#40
#209
#250
#231
#237
#256
#257
#258
#259
#267
#274 (Added as part of Aspire QA issues found)
#276 (Added as part of Aspire QA issues found)

**Needs Attention:**

**In Progress:**
#156
#40
#209
#250

**On Develop2:**
#255
#249
#33
#32
#266
#251
#44
#41

**Verified on Develop2:**

**On Stage:**

**Verified on Stage:**
#27

[2016-05-13 14:28] skt2 commented on #266
Time Spent: 30m

[2016-05-13 14:36] skt2 commented on #44
@stevepessah by regular sitemap you mean this:
`<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">`

[2016-05-13 15:56] skt2 commented on #33
Time Spent: 1h

[2016-05-13 16:13] stevepessah commented on #205
Moved to JIRA

[2016-05-13 16:13] #205 closed, assigned to elieo

[2016-05-13 16:14] spaulenoff commented on #59
Moved to Jira. Closing

[2016-05-13 16:14] #59 closed, assigned to nobody

[2016-05-13 16:15] stevepessah commented on #241
Moved to JIRA

[2016-05-13 16:15] #241 closed, assigned to stevepessah

[2016-05-13 16:17] stevepessah commented on #246
Moved to JIRA

[2016-05-13 16:17] #246 closed, assigned to nobody

[2016-05-13 16:18] stevepessah commented on #260
Moved to JIRA

[2016-05-13 16:18] #260 closed, assigned to kylejbertelsen

[2016-05-13 16:19] spaulenoff commented on #62
Moved to Jira

[2016-05-13 16:19] #62 closed, assigned to nobody

[2016-05-13 16:20] stevepessah commented on #261
Moved to JIRA

[2016-05-13 16:20] #261 closed, assigned to kylejbertelsen

[2016-05-13 16:20] stevepessah commented on #262
Moved to JIRA

[2016-05-13 16:20] #262 closed, assigned to kylejbertelsen

[2016-05-13 16:20] spaulenoff commented on #67
Moved to Jira

[2016-05-13 16:20] #67 closed, assigned to nobody

[2016-05-13 16:21] spaulenoff commented on #70
Moved to Jira

[2016-05-13 16:21] #70 closed, assigned to nobody

[2016-05-13 16:22] #71 closed, assigned to nobody

[2016-05-13 16:22] #72 closed, assigned to nobody

[2016-05-13 16:22] stevepessah commented on #263
Moved to JIRA

[2016-05-13 16:22] #263 closed, assigned to kylejbertelsen

[2016-05-13 16:23] stevepessah commented on #264
Moved to JIRA

[2016-05-13 16:23] #264 closed, assigned to kylejbertelsen

[2016-05-13 16:23] spaulenoff commented on #129
Moved to Jira

[2016-05-13 16:23] #129 closed, assigned to nobody

[2016-05-13 16:24] stevepessah commented on #265
Moved to JIRA

[2016-05-13 16:24] #265 closed, assigned to kylejbertelsen

[2016-05-13 16:24] stevepessah commented on #225
Being tackled by tech and Reliam team, closing.

[2016-05-13 16:24] #225 closed, assigned to stevepessah

[2016-05-13 16:24] spaulenoff commented on #139
Moved to Jira

[2016-05-13 16:24] #139 closed, assigned to nobody

[2016-05-13 16:26] stevepessah commented on #28
Moved to JIRA

[2016-05-13 16:26] #28 closed, assigned to stevepessah

[2016-05-13 16:26] spaulenoff commented on #144
Moved to Jira

[2016-05-13 16:26] #144 closed, assigned to nobody

[2016-05-13 16:27] stevepessah commented on #37
Moved to JIRA

[2016-05-13 16:27] #37 closed, assigned to nobody

[2016-05-13 16:27] spaulenoff commented on #188
Moved to Jira

[2016-05-13 16:27] #188 closed, assigned to stevepessah

[2016-05-13 16:28] stevepessah commented on #36
Moved to JIRA

[2016-05-13 16:28] #36 closed, assigned to nobody

[2016-05-13 16:29] stevepessah commented on #38
Moved to JIRA

[2016-05-13 16:29] #38 closed, assigned to nobody

[2016-05-13 16:29] spaulenoff commented on #68
Added to Jira

[2016-05-13 16:29] #68 closed, assigned to nobody

[2016-05-13 16:30] stevepessah commented on #39
Moved to JIRA

[2016-05-13 16:30] #39 closed, assigned to nobody

[2016-05-13 16:30] spaulenoff commented on #109
Moved to Jira

[2016-05-13 16:30] #109 closed, assigned to nobody

[2016-05-13 16:32] spaulenoff commented on #115
Moved to Jira

[2016-05-13 16:32] #115 closed, assigned to nobody

[2016-05-13 16:32] spaulenoff commented on #194
Moved to Jira

[2016-05-13 16:32] #194 closed, assigned to nobody

[2016-05-13 16:44] spaulenoff opened #269 "Add Marketplace button back to Breed pages on Mobile"
Somehow the marketplace button on breed pages disappeared on Mobile. We need to add it back.

Example URLs where this is missing:
www.akc.org/dog-breeds/skye-terrier/
http://www.akc.org/dog-breeds/basset-hound/

[2016-05-13 16:44] spaulenoff commented on #269
Please add an estimate to this ticket @skt2

[2016-05-13 16:56] kylejbertelsen commented on #269
@spaulenoff: are there any (known) examples where it is not missing?

@skt2: when investigating, please let me know which templates/scripts/css are involved.

[2016-05-13 16:59] skt2 commented on #269
@kylejbertelsen
src/scss/pages/_breedfeed.scss
../templates/default_site/breed.group/.overview.html

[2016-05-13 17:00] skt2 commented on #269
Time spent: 15m

[2016-05-13 17:02] spaulenoff opened #270 "Homepage pointing to Individual Reliam Server"
We need to fix issue where certain homepage links are linking to individual reliam server links on the homepage

Specifically in the featured stories section:
![image](https://cloud.githubusercontent.com/assets/13648969/15255511/6a288f0a-190a-11e6-8e18-f64c2e730990.png)

Seems to occur when only the string is entered into the cms and not the full URL.

For example issue only occurs when a link is

[2016-05-13 17:03] spaulenoff commented on #269
@kylejbertelsen Haven't been able to check all breed pages, but it seems to be missing on everyone i checked so far

[2016-05-13 17:09] skt2 commented on #269
Reason: while working on previous ticket(I'll update ticket number once I find in closed tickets) to hide learn more button on mobile, there was style conflict with Marketplace button.
@spaulenoff: fixing style will fix it on all breed pages.

[2016-05-13 17:18] spaulenoff commented on #269
This was ticket #207

[2016-05-13 17:33] spaulenoff commented on #238
Moved to Jira

[2016-05-13 17:33] #238 closed, assigned to stevepessah

[2016-05-13 17:35] spaulenoff commented on #199
Moved to Jira

[2016-05-13 17:35] #199 closed, assigned to stevepessah

[2016-05-13 17:36] spaulenoff commented on #111
Moved to Jira

[2016-05-13 17:36] #111 closed, assigned to elieo

[2016-05-13 17:38] spaulenoff commented on #171
Mooved to Jira

[2016-05-13 17:38] #171 closed, assigned to stevepessah

[2016-05-13 17:39] spaulenoff commented on #82
Moved to Jira

[2016-05-13 17:39] #82 closed, assigned to nobody

[2016-05-13 17:41] spaulenoff commented on #76
Added to Jira

[2016-05-13 17:41] #76 closed, assigned to spaulenoff

[2016-05-13 17:44] spaulenoff commented on #5
Added to Jira

[2016-05-13 17:44] #5 closed, assigned to nobody

[2016-05-13 17:45] spaulenoff commented on #1
Moved to Jira

[2016-05-13 17:45] #1 closed, assigned to nobody

[2016-05-13 19:11] stevepessah commented on #143
Moved to JIRA

[2016-05-13 19:11] #143 closed, assigned to nobody

[2016-05-13 19:11] #147 closed, assigned to nobody

[2016-05-13 19:12] stevepessah commented on #253
Moved to JIRA

[2016-05-13 19:12] #253 closed, assigned to spaulenoff

[2016-05-13 19:13] stevepessah commented on #190
Shared with Seth, closing.

[2016-05-13 19:13] #190 closed, assigned to kylejbertelsen

[2016-05-13 19:14] stevepessah commented on #12
Moved to JIRA

[2016-05-13 19:14] #12 closed, assigned to nobody

[2016-05-13 19:15] stevepessah commented on #14
Moved to JIRA

[2016-05-13 19:15] #14 closed, assigned to nobody

[2016-05-13 19:16] stevepessah commented on #15
Moved to JIRA

[2016-05-13 19:16] #15 closed, assigned to nobody

[2016-05-13 19:18] stevepessah commented on #17
Moved to JIRA

[2016-05-13 19:18] #17 closed, assigned to spaulenoff

[2016-05-13 19:19] stevepessah commented on #18
Moved to JIRA

[2016-05-13 19:19] #18 closed, assigned to nobody

[2016-05-13 19:20] stevepessah commented on #20
Moved to JIRA

[2016-05-13 19:20] #20 closed, assigned to nobody

[2016-05-13 19:20] stevepessah commented on #23
Moved to JIRA

[2016-05-13 19:20] #23 closed, assigned to nobody

[2016-05-13 19:21] stevepessah commented on #245
Moved to JIRA

[2016-05-13 19:21] #245 closed, assigned to nobody

[2016-05-13 19:22] stevepessah commented on #200
Moved to JIRA

[2016-05-13 19:22] #200 closed, assigned to stevepessah

[2016-05-13 19:22] stevepessah commented on #56
Moved to JIRA

[2016-05-13 19:22] #56 closed, assigned to nobody

[2016-05-13 19:36] skt2 commented on #32
Tested here:
http://develop2.akc.org/dog-breeds/airedale-terrier/detail/
http://develop2.akc.org/dog-breeds/airedale-terrier/care/
@spaulenoff if any of the other page didn't work for you then please go to: https://developers.facebook.com/tools/debug/ -- paste that url and click debug and try again.

[2016-05-13 19:44] skt2 commented on #32
Time spent: 3h

[2016-05-16 13:43] skt2 commented on #44
Time spent: 30m
Tested Here: http://develop2.akc.org/homepage/compare-breeds-xml/

[2016-05-16 15:15] spaulenoff commented on #269
Verified on Prod

[2016-05-16 15:46] toshan2014 commented on #270
After consulting Reliam this issue was resolved. However they could not pinpoint the source. Below is the HipChat conversation from Friday 13th May 2016:

[2016-05-16 16:51] skt2 commented on #251
Time Spent: 3h
Tested on: http://develop2.akc.org/find-a-match/#slide1

[2016-05-16 18:31] spaulenoff commented on #231
Please start on /news/ articles and content hub articles

[2016-05-16 18:32] spaulenoff commented on #44
Its looking good to me, @elieo Can you please confirm this XML sitemap is now functioning properly?
Tested Here: http://develop2.akc.org/homepage/compare-breeds-xml/

[2016-05-16 19:30] spaulenoff commented on #44
Verified on Dev2

[2016-05-16 20:46] stevepessah opened #271 "New ad units on /learn article pages"
# Desktop
- new 728x90 ad unit directly below top hero image
- please use the existing tan background behind the ad instead of the grey
- Mockup:
  ![desktop-v1 1](https://cloud.githubusercontent.com/assets/1063028/15303358/5eeb8a20-1b85-11e6-9399-b389ebc02a7b.png)
# Mobile
- center top ad
- place 300x250 ad after first paragraph
- Mockup:

![mobile-v1 1](https://cloud.githubusercontent.com/assets

[2016-05-17 14:00] kylejbertelsen commented on #271
@stevepessah: I need the ad codes for those two ads ASAP. Please confirm that they're activated by yourbow ASAP, as well.

[2016-05-17 14:05] spaulenoff opened #272 "Sitespeed - Optimize favicon"
@skt2 to discuss with Alla on how to optimize favicon further.

[2016-05-17 14:12] spaulenoff commented on #271
@kylejbertelsen x03 for the 728x90 on desktop and x01 for the 300x250 on mobile

[2016-05-17 14:47] skt2 commented on #41
@spaulenoff give it a try. Once logged, look for link My Account > Account Overview.
Don't worry about the link showing on desktop as well, once this changes is approved and if we still don't want link on desktop then I can find something to hide link on desktop view.

[2016-05-17 16:25] skt2 commented on #41
Time Spent: 5h

[2016-05-17 17:57] skt2 commented on #33
**CMS Changes**
Snippet Update: {snip-header}

[2016-05-17 18:44] kylejbertelsen commented on #271
Estimated time:
2015-05-17 - kyle - 3 hours

[2016-05-17 18:44] skt2 commented on #41
**CMS Changes**
CMS > Content > Edit > MyAKC Navigation
Add new link under My Account:
Label:Account Overview
Link: //apps.akc.org/apps/online_accounts/index.cfm
Move it to top

[2016-05-17 19:10] toshan2014 commented on #255
dev2: http://develop2.akc.org/content/dog-breeding/videos/why-eye-tests-are-important-for-breeding-programs/

[2016-05-17 19:57] skt2 commented on #272
FYI: This is how I resized favicon before.
https://scotch.io/tutorials/all-favicons-for-all-devices-and-sizes

[2016-05-17 20:24] toshan2014 commented on #107
@spaulenoff any news?

[2016-05-17 20:32] skt2 commented on #272
Time Spent: 15m

[2016-05-17 20:36] kylejbertelsen commented on #270
@spaulenoff close?

[2016-05-17 20:38] skt2 commented on #272
How to QA:
1. check the favicon display fine on different pages.
2. view source > find favicon > click and download and see size is 1kb
3. compare with akc.org and let me know if you find any major difference

[2016-05-17 20:39] spaulenoff commented on #272
@aalattili Please Qa on Dev2 and Stage

[2016-05-17 20:39] spaulenoff commented on #271
@aalattili Please Qa on Dev2 and Stage

[2016-05-18 11:52] aalattili commented on #271
@spaulenoff
QA retesting passed on Dev2 & Stage, across browsers (FF 45, GC 50 & IE 11) & devices (iPad & Samsung S5).

[2016-05-18 11:59] aalattili commented on #272
@spaulenoff
QA retesting results as following:
- In Deve2 & Stage-ng --> favicon size=1.32 kb not 1 kb
- In Production --> favicon size=322 kb

[2016-05-18 13:15] skt2 commented on #272
@spaulenoff @aalattili
![screen shot 2016-05-18 at 9 14 36 am](https://cloud.githubusercontent.com/assets/16002526/15359803/0698b208-1cd9-11e6-8d5a-d9dc8640943e.png)

[2016-05-18 14:21] spaulenoff commented on #107
Moved to Jira. Removed from 5/26 sprint as we are still waiting on requirements from Steve Pessah and Alla.

[2016-05-18 14:21] #107 closed, assigned to nobody

[2016-05-18 14:37] #191 closed, assigned to nobody

[2016-05-18 14:37] #270 closed, assigned to nobody

[2016-05-18 14:39] #7 closed, assigned to nobody

[2016-05-18 14:52] #195 closed, assigned to nobody

[2016-05-18 16:12] toshan2014 commented on #156
please qa: http://develop2.akc.org/you-vs-breed/

[2016-05-18 18:24] skt2 opened #273 "Uncaught ReferenceError: jwplayer is not defined - JS Error on the pages without jwplayer"
![screen shot 2016-05-18 at 2 15 01 pm](https://cloud.githubusercontent.com/assets/16002526/15370271/3c853db6-1d04-11e6-83c9-bf506d22d61b.png)

[2016-05-18 19:40] skt2 commented on #250
Tested Here: http://develop2.akc.org/dog-breeds/
![unformatted_chars](https://cloud.githubusercontent.com/assets/16002526/15372515/c5bff56c-1d0e-11e6-88e3-04241e469b87.png)

[2016-05-18 19:43] skt2 commented on #250
For this to work, I have removed, `{exp:akc_apps_path_env:outputCorrectDomainBasedOnEnv}`
the markup was wrapped inside this and that was causing the issue, I don't see any issue by removing this but @spaulenoff please ask Aspire to QA is throughly if they can find any issue.

[2016-05-18 20:11] toshan2014 commented on #40
@spaulenoff
I've been checking on this on both my cell and browserstack and can't replicate since the fix for #41 was applied. Can you confirm?

[2016-05-18 20:18] spaulenoff commented on #40
ya im seeing it working fine now on browserstack.

[2016-05-19 15:29] skt2 commented on #231
@spaulenoff
While creating RSS feed for instant articles, do we want to list all the news article first and then all the content articles OR we want to list all the articles based on created date doesn't if its news or content article?

[2016-05-19 16:33] toshan2014 commented on #255
stg:
http://stage-ng.akc.org/content/dog-breeding/videos/why-eye-tests-are-important-for-breeding-programs/

[2016-05-19 16:39] toshan2014 commented on #156
stg: http://stage-ng.akc.org/you-vs-breed/

[2016-05-19 17:32] toshan2014 commented on #40
stage: checked on my cell and bs, seems to be working fine

[2016-05-19 19:07] skt2 commented on #231
Articles without category and with Open status:
/retro-dogs-a-visual-history-of-the-westminster-kennel-club-dog-show
/meet-the-handlers-the-humans-on-the-other-end-of-the-leads
/day-in-the-life-of-a-westminster-champion-the-post-show-media-tour
/choosing-a-champion-judges-face-a-tough-task-at-westminster
/champion-bloodlines-meet-the-breeders-of-westminster-winners
/meet-the-2016-westminster-kenne

[2016-05-19 19:33] skt2 commented on #231
**CMS Changes**
CMS > Design > Template Manager > Template Route Manager
Look for instant-articles, in Route field add /instant-articles.rss

[2016-05-19 19:42] spaulenoff commented on #255
@toshan2014 Not verified still not working on chrome for windows 7
![image](https://cloud.githubusercontent.com/assets/13648969/15407324/43051f74-1dd8-11e6-8a37-f8549db8653a.png)

It is working on FF and IE11 however

[2016-05-19 20:16] toshan2014 commented on #255
@sip please check again

[2016-05-19 20:41] spaulenoff commented on #255
Verified on stage

[2016-05-19 21:19] spaulenoff commented on #231
@skt2 Spoke with Elie and we want to create the RSS feed based on option two you listed above

[2016-05-20 13:38] skt2 commented on #32
Tested here:
http://stage-ng.akc.org/dog-breeds/american-hairless-terrier/detail/
http://stage-ng.akc.org/dog-breeds/american-hairless-terrier/care/

[2016-05-20 13:47] skt2 commented on #250
Tested here: http://stage-ng.akc.org/dog-breeds/

[2016-05-20 17:05] skt2 commented on #231
@spaulenoff can you please get meta tag from Lindsay?
It look something like this: `<meta property="fb:pages" content="117352268678121" />`

[2016-05-20 17:06] spaulenoff commented on #231
`<meta property="fb:pages" content="93474569120" />`

[2016-05-20 17:07] skt2 commented on #231
Thanks! also can you please confirm with @elieo that do we want to show ads as well? if yes then how?
Though I still need to check how that would be possible but let's confirm first.

[2016-05-20 17:08] spaulenoff commented on #231
@skt2 Can you clarify what you mean by show ads?

[2016-05-20 17:11] skt2 commented on #231
These Ads:
![screen shot 2016-05-20 at 1 11 36 pm](https://cloud.githubusercontent.com/assets/16002526/15435786/5f34b4a2-1e8c-11e6-85d2-e91eeadf4c93.png)

[2016-05-20 17:49] skt2 commented on #231
@spaulenoff, here is RSS feed: http://develop2.akc.org/instant-articles.rss/
so on Instant Article page on Facebook, we can add
Claim URL: http://develop2.akc.org/
Development RSS Feed: http://develop2.akc.org/instant-articles.rss

[2016-05-20 19:07] spaulenoff commented on #231
Thanks, Shailesh, Yes we wants ads to show up as well.

[2016-05-20 19:39] skt2 commented on #231
@spaulenoff @kylejbertelsen @toshan2014 Any idea if we can request ads URL from our Ads server like this?. e.g. https://www.adserver.com/adtype=x10
This is how FB Instant article works with Ads:
`<iframe src="https://www.adserver.com/ss;adtype=banner320x50" height="50" width="320"></iframe>`

[2016-05-20 20:05] skt2 commented on #231
@spaulenoff can we ask Yourbow if we can access Ads using URL like this: https://www.adserver.com/adtype=x10 ?

[2016-05-20 20:08] spaulenoff commented on #231
Already asked. Just waiting on response from yourbow

[2016-05-22 11:43] aalattili commented on #255
@spaulenoff
QA retesting passed on dev2 & stage - Tested on browsers (GC 50, FF 45 & IE 11) & devices (Samsung tab, iPhone 6s plus & Samsung galaxy S6)

[2016-05-22 11:53] aalattili commented on #255
@spaulenoff
IE 11 issue-Video can't be maximized:
1- Maximizing video while playing, will change the location of the video & control bar from central to the left hand side of the window.
2- Maximize video while it is paused-video will be maximized but when pressing on play button, video will be minimized and move the the left hand side of window
![ie 11-video is improperly maximized](https://cloud

[2016-05-22 12:31] aalattili commented on #33
@spaulenoff
QA retesting passed on dev2 & stage, 'All Breeds' link is removed- Tested on devices (Samsung tab, iPhone 6s plus & Samsung galaxy S6)

[2016-05-22 13:59] aalattili commented on #32
QA retesting Failed on dev2 & stage as folowing, (Note that these issues are applicable on both environments)
Tested on browsers (GC 50, FF 45 & IE 11):
1- Sometimes image takes long time to load
2- For some pages, Image is missing. ex: http://develop2.akc.org/dog-breeds/alaskan-malamute/detail/
(Shared link-Missing dog breed hero image.jpg)
![shared link-missing dog breed hero image](https://clou

[2016-05-22 14:28] aalattili commented on #266
@spaulenoff , is it the list showing in screenshot below?
if yes then, QA retesting results-Tested on browsers (GC 50, IE 11 & FF 45):
- Passed on dev2
- Failed on stage
  (Learn page-List style failed on stage.jpg)
  ![learn page-list style failed on stage](https://cloud.githubusercontent.com/assets/12289479/15454494/9a01f5d8-2042-11e6-8323-68871a5dd142.jpg)

[2016-05-23 06:36] aalattili commented on #251
@spaulenoff
QA retesting results:
1- Select a zipcode from cached list, will enable 'continue' link
- Passed on GC 50
- No cache list on IE 11& Devices
- Failed on FF 45 (FF-Select from list doesn't enable continue link.jpg)
  ![ff-select from list doesn t enable continue link](https://cloud.githubusercontent.com/assets/12289479/15462219/cfde2d16-20c9-11e6-8dc3-e0e6aeb988fd.jpg)

2- Overlapping is

[2016-05-23 06:52] aalattili commented on #41
@spaulenoff
QA retesting passed across devices (Samsung galaxy S6 & Samsung Tab)-(Passed - User menu popup is working fine.jpg)
![passed - user menu popup is working fine](https://cloud.githubusercontent.com/assets/12289479/15462537/10815e22-20cc-11e6-92ed-122550a8e151.jpg)

[2016-05-23 08:39] toshan2014 commented on #255
Should be fixed : http://stage-ng.akc.org/content/dog-breeding/videos/why-eye-tests-are-important-for-breeding-programs/

[2016-05-23 08:48] aalattili commented on #156
@spaulenoff
QA retesting passed on dev2 & stage across browsers (IE 11, GC 50 & FF 45) & devices (iPhone 6s plus & Samsung galaxy S6)

[2016-05-23 09:04] aalattili commented on #40
@spaulenoff
QA retesting passed on dev2 & stage across devices (Samsung galaxy S6 & Samsung Tab).

[2016-05-23 09:09] aalattili commented on #250
@spaulenoff & @skt2
QA retesting passed on dev2 & stage across browsers (GC 50, FF 45 & IE 11).

[2016-05-23 09:22] aalattili commented on #255
QA retesting on IE 11 passed on both dev2 & stage-ng
(IE 11-Video is maximized properly.jpg)
![ie 11-video is maximized properly](https://cloud.githubusercontent.com/assets/12289479/15466200/f7c44376-20e0-11e6-934b-363c87807570.jpg)

[2016-05-23 10:18] aalattili commented on #231
@spaulenoff ,
Intermittent issue on content hub, learn articles & news articles-Posting an FB comment showed an error.
Actual results:
1- clicking on "login & post" button will display an eror msg (Object Invalid Value)
2- After clicking on 'OK' button on the error msg, 'Post' button will be disabled and comment won't be posted. but after refreshing the page post will display properly
please check

[2016-05-23 11:35] aalattili commented on #44
@spaulenoff
QA retesting passed on stage & dev2.

[2016-05-23 13:20] skt2 commented on #231
@aalattili This is not related to any of changes in this ticket though its good catch. Can you please add separate ticket for this?

[2016-05-23 13:36] spaulenoff commented on #271
Pushed to Prod as part of 5/18 Release

[2016-05-23 13:36] #271 closed, assigned to nobody

[2016-05-23 13:48] skt2 commented on #251
@aalattili @spaulenoff
Somehow I am not able to replicate issue in FF(though FF version is 46.0.1) so can you please check this at your end once again? Please clear the browser cache once before testing.
![screen shot 2016-05-23 at 9 44 29 am](https://cloud.githubusercontent.com/assets/16002526/15472876/3cf41856-20cb-11e6-8ba9-7f8f20e30d02.png)

[2016-05-23 14:16] spaulenoff commented on #251
Verified its working for me on stage

[2016-05-23 14:20] spaulenoff commented on #239
@toshan2014 Any update here?

[2016-05-23 14:27] spaulenoff opened #274 "Center Month Dropdown on Mobile /news/ hub"
Can we center the month dropdown on /news/ hub
http://www.akc.org/news/
http://stage-ng.akc.org/news/

![canine partner spotlight page 2](https://cloud.githubusercontent.com/assets/13648969/15474009/d11c2226-20d0-11e6-9e2a-60c54a646780.png)

[2016-05-23 14:56] aalattili opened #275 "Intermittent issue on content hub, learn & news articles-Posting an FB comment cause an error to display"
STRs:
1. Navigate to content hub, learn articles or news articles. ex: http://stage-ng.akc.org/content/dog-breeding/videos/why-eye-tests-are-important-for-breeding-programs/
2. Enter a comment then click on 'Log in & post' button
3. In FB login pop up, login with valid credentials
4. Observe error the displayed error massage "Object Invalid Value"
5. In error msg pop up, click on 'Ok' button
6. Ob

[2016-05-23 14:58] aalattili commented on #231
@skt2 , ok thanks
I have added a ticket for it (https://github.com/akcdotorg/akc.org/issues/275 )

[2016-05-23 15:28] spaulenoff opened #276 "Fix Learn Hub Pages on Mobile"
http://www.akc.org/learn/
http://stage-ng.akc.org/learn/

The Learn Hub Pages are not adjusting responsively on mobile. Needs to resize the adds and tiles so they fit better on mobile.

![learn pages](https://cloud.githubusercontent.com/assets/13648969/15475711/688a1bb0-20d9-11e6-8d74-ba9c908a0ebe.png)

[2016-05-23 16:51] skt2 commented on #231
Thanks @aalattili
@spaulenoff It is better to upload 20 articles for first time as FB need to review the articles first and approve it. If we upload more articles it will take more time to get approval on articles and we won't be able to publish an article until it is approved.

[2016-05-23 16:59] spaulenoff commented on #231
Ok @skt2 Please set that up and please update the RSS feed once this is approved.

[2016-05-23 19:35] toshan2014 commented on #276
@spaulenoff
For this we need to contact YourBow and ask them not to serve RM ads, instead serve resizeable ads on the learn pages as it was being done before. I can email them.

[2016-05-23 19:52] toshan2014 commented on #239
Contacted Gigya for update:

[2016-05-23 20:10] skt2 commented on #231
Meta Needed to Claim URL on Facebook Page:  `<meta property="fb:pages" content="93474569120" />`

[2016-05-23 21:03] toshan2014 commented on #276
Email sent to YourBow:

[2016-05-23 21:19] toshan2014 commented on #273
@spaulenoff
Do you know of anywhere else where the JW player is used apart from the /content section?

[2016-05-23 21:20] spaulenoff commented on #273
breed pages and some SEO pages

[2016-05-24 06:26] toshan2014 commented on #274
dev2 :  http://www.akc.org/news/2015/05/

[2016-05-24 06:27] toshan2014 commented on #274
Spent 20min

[2016-05-24 06:28] toshan2014 commented on #276
Reply from Yourbow:

[2016-05-24 06:29] toshan2014 commented on #276
From me:

[2016-05-24 09:57] aalattili commented on #249
@spaulenoff
QA retesting passed on dev2 & stage. Note that since iPad pro isn't available (real device & emulator) this ticket was tested on iPad air-iOS 9.2 'emulator' & iPad 2 'real device'.

[2016-05-24 15:42] toshan2014 commented on #274
stg : http://stage-ng.akc.org/news/

[2016-05-24 15:57] toshan2014 commented on #273
@spaulenoff
This was being generated by an external JS ( not under our control ) and it seems that it has been fixed since we ( with Shailesh) are not seeing the error on develop2, stage or production anymore.

[2016-05-24 18:13] skt2 commented on #231
@elieo How's articles looking on Facebook page on development? Also let me know if we want to make any changes in RSS feed, Specially Kicker?
What do we want to set as Kicker?
![screen shot 2016-05-24 at 2 13 56 pm](https://cloud.githubusercontent.com/assets/16002526/15514963/ae3c5b56-21b9-11e6-8218-6404253cea75.png)

[2016-05-24 20:07] toshan2014 commented on #276
YourBow:

[2016-05-24 20:11] toshan2014 commented on #276
dev2 : http://develop2.akc.org/learn/

[2016-05-24 20:48] spaulenoff commented on #276
Close but can we center the pagination at the bottom on mobile portrait mode?

[2016-05-24 20:49] skt2 commented on #231
Removed Kicker as its optional, until we have alternate for this.

[2016-05-24 21:03] toshan2014 commented on #276
@sip please check again

[2016-05-25 01:23] toshan2014 commented on #276
stg: http://stage-ng.akc.org/learn/

[2016-05-25 13:41] aalattili commented on #276
QA retest passed on dev2 & stage-ng

[2016-05-25 13:44] aalattili commented on #274
QA retest passed on dev2 & stage

[2016-05-25 14:50] spaulenoff commented on #266
@skt2 Please advise on the above

[2016-05-25 15:04] skt2 commented on #266
@spaulenoff @aalattili
On Production:
![screen shot 2016-05-25 at 10 59 59 am](https://cloud.githubusercontent.com/assets/16002526/15544766/e8ba5b58-2267-11e6-899e-92b4d5a11da2.png)

On Develop2:
![screen shot 2016-05-25 at 11 00 15 am](https://cloud.githubusercontent.com/assets/16002526/15544782/f7fd5872-2267-11e6-8523-5b5660541653.png)

On Stage:
![screen shot 2016-05-25 at 11 00 26 am](https://

[2016-05-25 15:10] skt2 commented on #266
@spaulenoff: I'll check with @toshan2014 once as this changes might related to #276

[2016-05-25 15:18] aalattili commented on #266
@skt2
Also for me options in list aren't clickable neither on production nor on stage, i mean they don't direct to related pages
![list not clickable](https://cloud.githubusercontent.com/assets/12289479/15545479/1a88d01e-22a5-11e6-97b5-bdaa74659f64.jpg)

[2016-05-25 15:29] skt2 commented on #266
@aalattili if the issue is on production then I guess this is different issue and new ticket should be added for this.
Frankly speaking this dropdown issue is not related to my changes but I'll still look into this and see if I can find anything.