[2016-02-25 21:34] stevepessah opened #1 "SEO: deindex reliam servers"
Reliam servers are getting indexed by google. We need to remove the pages in the search results below from Google's index.

https://www.google.com/search?q=site%3A+reliam.com+marketplace.akc.org&oq=site%3A+reliam.com+marketplace.akc.org&aqs=chrome..69i57j69i58.7376j0j1&sourceid=chrome&es_sm=93&ie=UTF-8#q=site:http://akc-prod-web01.reliam.com&start=50

[2016-02-25 21:39] stevepessah opened #2 "Kids Corner Games"
We need to make it so David Woo, Davis Alexis and team can upload and embed games on their kids corner pages. I have attached the scope of work [^Product Scope Document-Kids Corner Games.pdf]  as well as the game files themselves.

Please let me know if you can't open anything, and I will forward it to you via email.

[coloringbook_3(mass parameter beta).zip](https://github.com/akcdotorg/akc.org/f

[2016-02-25 21:50] stevepessah opened #3 "Create global menu option for Generic2 templates"
right now in the generic2 template, you can add a left navigation. This navigation is specific to the page. This causing a major headache when their a group of pages that you need to use the left menu on. (forces you to manually enter in the menu on each page.)

We need the ability to create a "menu" that can be dynamically pulled in on one page. This way making edits to the menu would be done in

[2016-02-25 21:52] stevepessah opened #4 "SEO: Author & Publisher OG Tags"
![screen shot 2016-02-25 at 4 53 04 pm](https://cloud.githubusercontent.com/assets/1063028/13335688/4a8b8218-dbe0-11e5-9e98-d0134f7d5d01.png)

Lets add in some Open Graph data to get our authors bio linked.

See more:

http://garage.socialisten.at/2013/06/new-open-graph-tags-for-article-publisher-author/
https://developers.facebook.com/docs/reference/opengraph/object-type/article

Can we add the f

[2016-02-25 21:59] stevepessah opened #5 "SEO: RSS for editorial picks"
Need to create a RSS feed of articles from the news section that are our "editorial picks". We will use this feed to get our news content featured on Google News. (see example feed attached)
[editorial-picks-rss-feed-example.docx](https://github.com/akcdotorg/akc.org/files/147333/editorial-picks-rss-feed-example.docx)

https://support.google.com/news/publisher/answer/1407682#general

We will need

[2016-02-26 16:03] stevepessah opened #6 "SEO: Add custom GA dimensions to AKC.org"
We would like to push custom data to Google Analytics to make our reporting better on akc.org. We would like to add data regarding the Author of a URL and the Date it was published.

We need to add the following codes to the current GA tracking code. The dimensionValue will need replaced with the variable.

Author
var dimensionValue = 'SOME_DIMENSION_VALUE';
ga('set', 'dimension1', dimensionValue)

[2016-02-26 16:03] stevepessah opened #7 "SEO: XML Sitemaps"
1) We need to create a regular XML sitemap that include all pages on akc.org each pages should also list the respective images on the page.

This sitemap should:
not include pages from the compare breed app (http://www.akc.org/find-a-match/compare-breeds/)
and not include AKC News (http://www.akc.org/news/)
and not include any apps.akc.org pages.

https://support.google.com/webmasters/answer/18366

[2016-02-26 16:04] stevepessah commented on #6
**Open questions:**
- Could I get the desired URL for this sitemap?
- Is this a request for a new sitemap, or a replacement for an existing one?

Edit kjb: What? I don't see anything in this ticket that has anything to do with a site map -- was this comment intended for a different ticket?

[2016-02-26 16:04] stevepessah opened #8 "Mobile Find a match"
https://akcorg.atlassian.net/browse/AKC2-281

[2016-02-26 16:05] stevepessah opened #9 "Redesign Find a Match - Mobile"
- Heavy emphasis on mobile
- Remove "find a MATCH" header at the top
- step 4 options below image are too close together
- steps load at different heights
- step 6 doesn't show all image
- on landscape the image is not centered

![img_3862 1](https://cloud.githubusercontent.com/assets/1063028/13357537/d5e97ca0-dc78-11e5-935d-fdccf9053491.png)

[2016-02-26 16:05] stevepessah opened #10 "Update Gigya Tag across Develop2 and Stage-NG"
https://akcorg.atlassian.net/browse/AKC2-407

[2016-02-26 16:06] stevepessah opened #11 "Add CTA to Delegates Portal page so if a delegate is logged out, they can click that link to log in"
http://www.akc.org/delegate/delegates-portal/
Let's add this copy at the end of the first sentence and hyperlink Login: "Login here."

[2016-02-26 16:06] stevepessah opened #12 "Header / Footer shared across multiple applications / sites"
Currently the Header and Footer navs have to be manually kept in sync whenever a change is made in AKC.org. I would like to convert these into javascript widgets with self-contained javascript/CSS and absolute URLs and configurable domain names. Also the implementation should be performance-conscience as well cacheable in the consumer site so that one site is not dependent on the other on a real-t

[2016-02-26 16:07] stevepessah opened #13 "Change Sticky Social share button"
https://akcorg.atlassian.net/browse/AKC2-434

[2016-02-26 16:07] stevepessah opened #14 "Update My AKC Gigya login so MyAKC does not appear before showing name"
Simplest solution: add a class of 'hidden' to the MyAKC text, and remove that class when repopulating text.

[2016-02-26 16:08] stevepessah opened #15 "Add external link functionality to breed standard on FSS breed pages"
https://akcorg.atlassian.net/browse/AKC2-129

[2016-02-26 16:09] stevepessah opened #16 "Apply new color palette to site via scss variables"
https://akcorg.atlassian.net/browse/AKC2-337

[2016-02-26 16:09] stevepessah opened #17 "/Register page optimization"
https://akcorg.atlassian.net/browse/AKC2-536

[2016-02-26 16:10] stevepessah opened #18 "Footer Nav Usability: Remove parallax effect"

[2016-02-26 16:10] stevepessah opened #19 "Ability to whitelist accounts in social aggregator to ensure they go live automatically"
https://akcorg.atlassian.net/browse/AKC2-363

Total Time Spent: 8h

[2016-02-26 16:10] stevepessah opened #20 "My Dog"
https://akcorg.atlassian.net/browse/AKC2-111

[2016-02-26 16:11] stevepessah opened #21 "Implement Facebook Developer API's to track in the Facebook Developer Analytics Portal"
https://akcorg.atlassian.net/browse/AKC2-228

[2016-02-26 16:11] stevepessah opened #22 "Test Gigya model in Optimizely (our A/B Testing tool)"
https://akcorg.atlassian.net/browse/AKC2-252

[2016-02-26 16:11] stevepessah opened #23 "RELATED TO CONTENT TAGGING: Relevant news from each event"
From Ricky at customer service: If you are on a specific event page and you scroll down and click news and updates, it would be good if those updates apply to the particular event page. So if you are in the Coursing Ability page, any news or updates would pertain to Coursing Ability. Right now it brings up all sorts of news and updates from all across AKC.

[2016-02-26 16:12] stevepessah opened #24 "PROJECT: Changes to FSS and Miscellaneous Breed Pages"
Elie Spoke with Christine Weiss and they suggested the following changes for the FSS and Miscellaneous Breed Pages:

If FSS or Miscellaneous breed group is selected, the following sections should show/ be hidden

_Show:_
-   Top row (you vs. breed, history, breed standard, colors and markings) – show this
-   “Club and events section” – Show this
-   “Care” – Show this

_Do Not Show:_
-   “At a gl

[2016-02-26 16:13] stevepessah opened #25 "PROJECT: Homepage Updates for Breed of the Day"
Please speak to Elie before this ticket gets worked on.

---

We would like to make some updates to the homepage to push our breed of the day program. Attached is a mockup of the changes we are looking to make.

We would need to add a field in the CMS for each breed page, specifying what day it will be featured.

We would also like to create a calendar that shows what days each breed will be featu

[2016-02-26 16:13] stevepessah opened #26 "PROJECT: Security issues"
https://akcorg.atlassian.net/browse/AKC2-128

[2016-02-26 16:14] stevepessah opened #27 "PROJECT: Feature Story Template"
We would like to create a page type template in the CMS for our features stories. The design of the page should be based off of akc.org/social/veteran-service-dog-team-personify-the-importance-of-perserverance/?lSADsa.

We would need the ability to nest the URL under any directory such as /news

[2016-02-26 16:14] stevepessah opened #28 "Make sure pages with tables are responsive"
Please provide at least 3 links to pages containing tables, preferrably of different content types (but ideally with tables placed in a somewhat 'default' manner, so we can adjust the default behavior of tables), so we can know that we have a good cross-section of pages that contain tables.

[2016-02-26 16:16] stevepessah opened #29 "Update all OAS tags"
Use article.group/index.html as a guide.

Scan through template to gather the OAS positions used in that template, and add a stash variable, like so:

{exp:stash:set name="adscalled"}x36,x20,x38{/exp:stash:set}

Each template contains variables which list the available ad spaces on that page, to wit:
{exp:stash:set name="adscalled"}
x35,x37
{/exp:stash:set}
// list of ad positions in this template

[2016-02-26 16:17] stevepessah opened #30 "Change title tag on 404 page"
Can we please change the title tag on the 404 page on akc.org to: 404 Error - American Kennel Club

This will help us keep track of 404 errors on the site via Google analytics and diagnose them.

How to QA: go to this page, and check the title tag: http://www.akc.org/adf/ it should be what is listed above.

[2016-02-26 16:18] stevepessah opened #31 "Reset Password emails not received by end user"
Gigya's reset password email does not get sent out to an unverified email address. To overcome this issue we can implement this solution suggested by Gigya support.

B. Using RaaS markup extensions, make the following changes to the markup of your forgot password screen:

1) Add this javascript function to the page:

function sendemail(val) {
document.getElementById('emailID').value = val;
}

2) A

[2016-02-26 16:18] stevepessah opened #32 "Breed care and detail pages should use breed hero image when shared"
When sharing one of the /detail or /care links, it uses the standard AKC dog image instead of the breed image.

og:image, and other meta tags should be using the hero image URL

[2016-02-26 16:19] stevepessah opened #33 "Remove unnecessary step on mobile when navigating from homepage to browse all breeds page"
https://akcorg.atlassian.net/browse/AKC2-137

[2016-02-26 16:19] stevepessah opened #34 "When clicking on National Breed Club on Breed Pages – this action should open a new window and not close our site. The same action should occur for users clicking on ‘Local Clubs’."
https://akcorg.atlassian.net/browse/AKC2-255

[2016-02-26 16:20] stevepessah opened #35 "Ad alignment on breed detail page"
https://akcorg.atlassian.net/browse/AKC2-205

[2016-02-26 16:21] stevepessah opened #36 "Firefox loads non-mobile version of site on Android phone"
Firefox loads non-mobile version of site on Android phone. Possible cause: user-agent is outdated?
FF v. 42.0.2 / Sony Xperia

User-agent is unlikely, because we do no browser-sniffing. I'd bet google searching 'android firefox mobile version' or similar would give clues.

![screenshot_2015-12-11-10-51-06](https://cloud.githubusercontent.com/assets/1063028/13357995/050a6b5a-dc7b-11e5-8889-d6ad70c2

[2016-02-26 16:23] stevepessah opened #37 "Issue with table spacing on generic template on mobile"
There is an issue with table spacing on mobile
exmple URL: http://www.akc.org/dog-breeders/bred-with-heart/health-testing-requirements/#Affenpinscher

IMPORTANT: describe the 'issue' -- do not rely on others to interpret such an ambiguous description. As it stands, I would reject this issue.

[2016-02-26 16:23] stevepessah opened #38 "You vs. Breed "Not Steve Pessah" link not working"
If you login to Facebook for You vs. Breed, the link above the image doesn't work. Goes here - http://www.akc.org/you-vs-breed/#

Kyle: This would be the link by which we trigger the login. Possible that we'd want to use that link to log-out of Gigya, and re-trigger the Gigya log-in

[2016-02-26 16:24] stevepessah opened #39 "Consistent letter sizes in mobile pagination"
On the /dog-breeds pages on mobile, the paginated letters are different widths. Can we make these uniform and try and get 13 on each line so it looks cleaner?

![img_2961 1](https://cloud.githubusercontent.com/assets/1063028/13358073/79f1ac4e-dc7b-11e5-9b1c-36a062a04c9e.png)

[2016-02-26 16:24] stevepessah opened #40 "On the android device(Android - Samsung) sometimes "Sign Out" button is not clickable."
When tried to click on "Sign Out", Nothing happens.

[2016-02-26 16:25] stevepessah opened #41 "Mobile: User menu popup never comes up"
It is very hard to get user menu on the Android devices(Samsung - Galaxy), When tried to touch user icon or display name after sign-in, it just redirect to market place page. It never popup the user menu.

[2016-02-26 16:26] stevepessah opened #42 "Social Aggregator: Twitter Images not showing up"
Some images from Twitter are not appearing in the social aggregator, specifically the #akcparsonrussellterrier

Coming from the whitelisted twitter account here: https://twitter.com/breedpics

[2016-02-26 16:26] stevepessah opened #43 "Move Gigya code"
We need to move a script that we have on our website to below the google tag manager code.

This code: <script type="text/javascript" src="http://cdn.gigya.com/js/gigyaGAIntegration.js" ></script>  need to tbe moved to be right before the closing of the </body> tag

[2016-02-26 16:27] stevepessah opened #44 "SEO: Change sitemap"
Change sitemap declaration on this XML sitemap.  Currently, it is set as a video sitemap, and it needs to be set as a regular sitemap.

http://www.akc.org/homepage/compare-breeds-xml/

[2016-02-26 16:51] stevepessah opened #45 "Font-size: Change on all H and P tags to improve legibility"
https://akcorg.atlassian.net/browse/AKC2-400

[2016-02-26 16:53] stevepessah opened #46 "Usability Fixes PREP: Define critical regression tests for text usability fixes"
https://akcorg.atlassian.net/browse/AKC2-361

[2016-02-26 17:02] stevepessah opened #47 "Body Text: Change text style so it's legible"
https://akcorg.atlassian.net/browse/AKC2-362

[2016-02-26 17:02] stevepessah opened #48 "H1: Change text style so it's legible"
https://akcorg.atlassian.net/browse/AKC2-350

[2016-02-26 17:03] stevepessah opened #49 "H2: Change text style so it's legible"
https://akcorg.atlassian.net/browse/AKC2-351

[2016-02-26 17:03] stevepessah opened #50 "Usability Inadvertent Errors"
Created the following Google Doc to help track issues that we find on account of the Usability tickets
https://docs.google.com/spreadsheets/d/1RkCbmJ2GtiX6j8ObhMojzfZzltMTXQP51-NZrmh8dSc/edit?usp=sharing
Please add to that list as you find issues

[2016-02-26 17:05] stevepessah opened #51 "Video/Article/Photo Gallery: Implement Social Share Counters"
https://akcorg.atlassian.net/browse/AKC2-550

[2016-02-26 17:05] stevepessah opened #52 "Category Page - Mobile: Left Navigation not working correctly"
https://akcorg.atlassian.net/browse/AKC2-549

[2016-02-26 17:06] stevepessah opened #53 "Mayday: Video Page - Fix social share counter on Video pages"
Currently not working on http://stage-ng.akc.org/media/view/video-of-dogs/

[2016-02-26 17:06] stevepessah opened #54 "Photo Gallery Page - Mobile: Title of photo-gallery and circled arrows below gallery are not in correct styling"
Should look like this: https://akcorg.atlassian.net/secure/attachment/14882/14882_mobile+photo+title.JPG

Currently looks like this: http://develop2.akc.org/media/view/test-photo-gallery/?photo_id=0

[2016-02-26 17:07] stevepessah opened #55 "BUG: FSS and Miscellaneous are missing from the Dog Groups dropdown under Breeds"
These need to be added back in there.

[2016-02-26 17:27] stevepessah opened #56 "Fix logo when you scroll"
Match Marketplace

[2016-02-26 20:47] stevepessah opened #57 "Tablet Header Nav Covers Sign in/MyAKC"
Tablet Header Nav Covers Sign in/MyAKC in landscape mode

![tablet nav covers sign in](https://cloud.githubusercontent.com/assets/1063028/13364960/3f2798a6-dca0-11e5-9d8c-cf1ea2c6de59.JPG)

[2016-02-29 15:06] spaulenoff commented on #42
This This issue was fixed and images are now showing Per Katie Peralta

[2016-02-29 15:06] #42 closed, assigned to nobody

[2016-02-29 15:07] spaulenoff commented on #45
This can be closed as these changes were pushed to production

[2016-02-29 15:07] #45 closed, assigned to nobody

[2016-02-29 15:09] spaulenoff commented on #46
Ticket was pushed with usability updates

[2016-02-29 15:09] #46 closed, assigned to nobody

[2016-02-29 15:09] spaulenoff commented on #47
Issue was pushed with usability updates

[2016-02-29 15:09] #47 closed, assigned to nobody

[2016-02-29 15:09] spaulenoff commented on #48
issue was pushed with usability updates

[2016-02-29 15:10] #48 closed, assigned to nobody

[2016-02-29 15:10] spaulenoff commented on #50
ticket was pushed with usability updates

[2016-02-29 15:10] #50 closed, assigned to nobody

[2016-02-29 15:10] spaulenoff commented on #49
Ticket was pushed with usability updates

[2016-02-29 15:10] #49 closed, assigned to nobody

[2016-02-29 15:12] spaulenoff commented on #51
Need to implement social share counters on article, Video and Photo Gallery pages: http://www.akc.org/media/article/gail-miller-bisher-takes-communications-reins-from-david-frei
http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/cuties-dog-breeds/?photo_id=0
http://stage-ng.akc.org/content/westminster-dog-show/videos/video-of-dogs/

Should look like this:
![photo gallery social b

[2016-02-29 15:21] spaulenoff commented on #8
- Mobile Find a match
  - replaces sign in with My AKC  [^my akc top right - signed in signed out on find a match.mov]
  - gives you a random zip code
  -  continue button moves down once zipcode is entered  [^continue button disappears and then reshows lower than it should be.mov]

[2016-02-29 15:23] spaulenoff commented on #13
Can we update anywhere on the site that has the sticky share button to match the style in the attached screenshot:
![pasted image at 2016_01_19 03_58 pm](https://cloud.githubusercontent.com/assets/13648969/13398914/898e8e10-dece-11e5-8eeb-7f4be50ab17f.png)

[2016-02-29 15:27] spaulenoff commented on #15
Right now the only way to add a "breed standard" on the breed pages is to upload a PDF in the backend. We need to create the functionality to allow us to externally link to other websites, instead of only being able to upload our own PDFs.
This is important because the FSS breeds have a breed standard that is hosted on another website, which we do not control.
![image](https://cloud.githubusercont

[2016-02-29 15:27] spaulenoff commented on #16
Need to revist this with Beth

[2016-02-29 15:28] spaulenoff commented on #17
Attached redesign has been approved by Jasey Day, Keith Fraser, Linda Duncklee, and Elie Orgel.
Goal is getting the key info and interactions higher up on the page, to reduce bounce rate and improve conversion into registration flow.
![image](https://cloud.githubusercontent.com/assets/13648969/13399017/29865448-decf-11e5-84fb-1bbdd633bca9.png)

![image](https://cloud.githubusercontent.com/assets/1

[2016-02-29 15:29] spaulenoff commented on #17
Beth Herbert: Simon Paulenoff What sprint is this a possible candidate for?
cc Elie Orgel

[2016-02-29 15:29] spaulenoff commented on #19
We need the ability to whitelist certain accounts in social aggregator to ensure they go live automatically.
There are currently a few accounts whitelisted including AKC Dog Lovers

[2016-02-29 15:30] spaulenoff commented on #19
From Simon Paulenoff 12/17/15 9:10am: Original question from Katherine Grave de Peralta:
"Is there any way to have a social user’s posts go live automatically, without having to publish in the CMS? Asking because akcdoglovers (our handle) is whitelisted but I’m having to approve them as they come in"

[2016-02-29 15:30] spaulenoff commented on #19
From Kyle Bertelsen 2/8/16 1:58pm: Partially-resolved, but blacklisted and queued images are not appearing in their queues on the backend.
Pulling out of sprint for now.

[2016-02-29 15:31] spaulenoff commented on #20
Note: Original Makeable ticket is in attached zip file.
[akc-111.zip](https://github.com/akcdotorg/akc.org/files/151196/akc-111.zip)

[2016-02-29 15:32] spaulenoff commented on #21
We want to implement below API's for Facebook Developers portal in order track these metrics in the Facebook Analytics Portal
https://developers.facebook.com/docs/graph-api/reference/v2.4/insights#domain_content
https://www.facebook.com/analytics/530726673730940/?__aref_src=devsite&__aref_id=app_dashboard

[2016-02-29 15:32] spaulenoff commented on #21
From Simon Paulenoff 1/4/16 12:31pm: Kyle J Bertelsen the goal for this ticket is to be able to see the facebook analytics and metrics across akc.org

[2016-02-29 15:33] spaulenoff commented on #21
From Kyle Bertelson 1/5/16 12:47pm: This will be incredibly hard to QA properly: I assume that viewing these analytics will occur on Facebook itself – and that enabling analytics will have minimal or no effect on develop or stage. I suggest that we determine what the desired effect will look like in our markup, and use expected outcomes in that as a metric (ha!) for success on this.

[2016-02-29 15:34] spaulenoff commented on #22
@stevepessah Can you please confirm you just want to move forward with changing the gigya modal to portrait modal created by Toshan?

[2016-02-29 15:36] spaulenoff commented on #26
1- Cross-site scripting:
XSS (Cross-site Scripting) allows an attacker to execute a dynamic script (Javascript, VbScript) in the context of the application. This allows several different attack opportunities, mostly hijacking the current session of the user or changing the look of the page by changing the HTML on the fly to steal the user's credentials. This happens because the input entered by a

[2016-02-29 15:37] spaulenoff commented on #33
When navigating on mobile from the homepage to the breeds page, there is an unnecessary step After clicking breeds, you get brought to the following page:

![image](https://cloud.githubusercontent.com/assets/13648969/13399262/7080c0da-ded0-11e5-8270-1e48a4927a65.png)
Once you click Browse All Breeds, you are brought to the next, unnecessary page:

![image](https://cloud.githubusercontent.com/asset

[2016-02-29 15:38] spaulenoff commented on #34
When clicking on National Breed Club (screen shot below) on Breed Pages – this action should open a new window and not close our site. The same action should occur for users clicking on ‘Local Clubs’.
![image](https://cloud.githubusercontent.com/assets/13648969/13399306/9e8ee8f8-ded0-11e5-8d6c-83537f897809.png)

[2016-02-29 15:39] spaulenoff commented on #35
Can we center the ad placement on the breed detail page? It is currently shown as below:
![image](https://cloud.githubusercontent.com/assets/13648969/13399332/bade3734-ded0-11e5-8936-7bf7913f5349.png)

http://www.akc.org/dog-breeds/golden-retriever/care/#grooming

[2016-02-29 15:42] spaulenoff commented on #52
Mobile left navigation not workig on category pages (see mockups for reference). Needs to be added in and based off of wygwam content if possible.
![image](https://cloud.githubusercontent.com/assets/13648969/13399395/12189990-ded1-11e5-8aac-4dbbba1a8d9e.png)

Expanded:
![image](https://cloud.githubusercontent.com/assets/13648969/13399404/21b68402-ded1-11e5-966f-2e03bbadb698.png)

[2016-02-29 15:44] spaulenoff commented on #52
From Simon Paulenoff 2/16/16 4:47pm: Kyle J Bertelsen Needs to have this mobile nav that it doesn't currently have
![image](https://cloud.githubusercontent.com/assets/13648969/13399439/4e6cbba6-ded1-11e5-8581-9c283d395b91.png)

Needs to be related to the links on the desktop pages

[2016-02-29 16:04] stevepessah opened #58 "General UI issues"
https://akcorg.atlassian.net/browse/AKC2-286

[2016-02-29 16:04] stevepessah opened #59 "Incorrect Android Login Redirection"
On android phones, upon login ( akc.org ) and clicking on the username, instead of loading the menu, it redirect to apps.akc.org. This is only supposed to happen on desktop.

[2016-02-29 16:05] stevepessah opened #60 "Add delay to drop-down menu"
This was done as part of the UX fixes but we found out that it caused issues on tablets. It was therefore reverted. Need to find a way to add the delay on desktop only.

https://akcorg.atlassian.net/browse/AKC2-535

[2016-02-29 16:06] stevepessah opened #61 "PROJECT - Sitespeed Issues"
https://akcorg.atlassian.net/browse/AKC2-403

[2016-02-29 16:07] stevepessah opened #62 "Compare Breeds - Issue when there is limited data on the breed on Results page"
https://akcorg.atlassian.net/browse/AKC2-405

[2016-02-29 16:11] spaulenoff commented on #61
IMPORTANT NOTE ON THIS PROJECT, and on each of the subtickets in this project:

_Each ticket must be in its own unique branch._ The reason for this is: We'd like to be able to see how much impact each of these improvements makes in the bottom-line of performance. In order to gauge that, what we'll do:
1. checkout master on a server
2. run our performance test on that server
3. save the reports gen

[2016-02-29 16:11] stevepessah opened #63 "Implement new Gigya modal"
https://akcorg.atlassian.net/browse/AKC2-408

Before doing this, we need to understand what happens to users who have signed up/logged in with other social accounts. (Related to ticket #131)

[2016-02-29 16:12] stevepessah opened #64 "SEO: Add News and Updates to SEO pages"
https://akcorg.atlassian.net/browse/AKC2-411

[2016-02-29 16:12] stevepessah opened #65 "Need ability to save and input saved sidebar navs"
We need the ability in the CMS to add and save sidebar navigation links for use in future articles. In generic 2, you can add sidebar navigation, but you have to input the navigation links with each new article. We want to be able to to create articles and just input a saved side navigation bar from a past generic 2 template page such as http://www.akc.org/events/aenc/2015-aenc-results/

Time Spen

[2016-02-29 16:13] stevepessah opened #66 "Add tracking to See more button in UGC section on breed pages"
https://akcorg.atlassian.net/browse/AKC2-229

[2016-02-29 16:13] stevepessah opened #67 "Maintenance: Make closed pages 404"
We need to make sure all closed pages in the CMS 404 on the front end.

Example of pages that are closed in the backend, but are live on the front end:

http://www.akc.org/dog-breeds/dachshund-smooth/
http://www.akc.org/dog-breeds/corgi/
http://www.akc.org/dog-breeds/laborador/

How to QA:
1) Click links above and if you get a 404 page
2) Close an entry in each channel group and make sure that you

[2016-02-29 16:15] stevepessah opened #68 "PROJECT - Westmemester - Figure out database issue so we can push this without the site slowing/crashing"
https://akcorg.atlassian.net/browse/AKC2-110

[2016-02-29 16:19] spaulenoff commented on #61
Broken into sub Tickets As seen below:
https://github.com/akcdotorg/akc.org/issues/69 (Site-speed - Image file size issues)
https://github.com/akcdotorg/akc.org/issues/70 (Sitespeed - Compress, combine and minify CSS files across akc.org)
https://github.com/akcdotorg/akc.org/issues/71 (Sitespeed - Figure out how we want to load ad networks on the site)
https://github.com/akcdotorg/akc.org/issues/7

[2016-02-29 16:20] spaulenoff opened #69 "Site-speed - Image file size issues"
- [~kjb2] to look at image versioning across the site
- [~exo] to send [~kjb2] link for image compression software to use on site
- CE Image and CE Lossless purchased for this effort
- There will need to be some CLI work done on each server, which Kyle will document in a comment below.

[2016-02-29 16:21] spaulenoff commented on #69
Kyle Bertelson 12/18/15 12:46pm:
CLI configurations done on: (X - done, [] - not done yet)
[] develop2
[] stage-ng server 1
[] stage-ng server 2
[] production server 01
[] production server 02
[] production server 03
[] production server 04
[] production server 05
[] production server 06
[] production server 07
[] production server 08
[] production server 09
[] production server 10
CLI Process:
Up

[2016-02-29 16:23] spaulenoff commented on #69
Kyle Bertelson 12/21/15 12:54pm:
http://www.causingeffect.com/software/expressionengine/ce-image/user-guide/installation

[2016-02-29 16:23] spaulenoff commented on #69
Shailesh Thanki 12/11/16 10:22am:
None of the documentation links are working:
http://www.causingeffect.com/software/ee/ce_img
www.causingeffect.com/software/expressionengine/ce-lossless
Kyle J Bertelsen do we have login credentials to ask for support?

[2016-02-29 16:24] spaulenoff commented on #69
Shailesh Thanki 1/15/16 10:35am:
It seems the documentation links are working fine now. Here is the new links for this:
https://www.causingeffect.com/software/expressionengine/ce-image – CE Image
https://www.causingeffect.com/software/expressionengine/ce-lossless – CE Lossless

[2016-02-29 16:26] spaulenoff opened #70 "Sitespeed - Compress, combine and minify CSS files across akc.org"

[2016-02-29 16:28] spaulenoff opened #71 "Sitespeed - Figure out how we want to load ad networks on the site"
Stephen Smith and Elie Orgel to discuss how they want ads to be called across akc.org

[2016-02-29 16:30] spaulenoff opened #72 "Sitespeed - Remove Remnant Ads on Homepage"
Shailesh Thanki 1/11/16 4:12pm:
Simon Paulenoff Assign it back to me once https://github.com/akcdotorg/akc.org/issues/71 is cleared. For now I'm assigning it back to you

[2016-02-29 16:30] spaulenoff opened #73 "Sitespeed - Combine JS files and Minify them across AKC.org"
See #161

[2016-02-29 16:32] spaulenoff opened #74 "Sitespeed - Make it so there is only one Global fav icon for the site"
Shailesh Thanki 1/11/16 3:11pm:
Simon Paulenoff Please test this in all the devices to make sure that favicon looks good on all of them and if you find anything is not right on any of the device make note of that device.

Shailesh Thanki 1/11/16 4:16pm:
Kyle J Bertelsen Toshan Reebye FYI
Reference: https://scotch.io/tutorials/all-favicons-for-all-devices-and-sizes

[2016-02-29 16:33] spaulenoff opened #75 "Sitespeed - Remove google maps calls from the site"
Toshan Reebye 1/12/16 12:16pm:
Please take note that by removing Google Maps, we won't have any GPS tagging anymore. Features such as the one in the attached image ( googlemaps.png ) will not work anymore.
The best solution will be to make the google map call only where it's needed, rather than across the whole site

[2016-02-29 16:34] spaulenoff commented on #75
Shailesh Thanki 1/18/16 3:22pm:
Added Condition for where to load the google map script so this way it will only load the script if need.
{if layout:geomap == "true"}

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjLQ0siEfGI53hIImHKYGBCAflub_RT5Q"></script>

{/if}
and Set geopmap like
{layout="layouts/.main" logo_color="teal" _geomap="true"_ js="find-a-match"}

[2016-02-29 16:34] spaulenoff opened #76 "Sitespeed: Implement AMP on mobile pages"
Can we implement what is on this page into our mobile pages: https://www.ampproject.org/

[2016-02-29 16:41] spaulenoff commented on #61
Sitespeed before pushes on Dev2:
![image](https://cloud.githubusercontent.com/assets/13648969/13401233/51fd0de0-ded9-11e5-8d9c-49f65a7ad5c2.png)

[2016-02-29 16:43] spaulenoff commented on #64
Can we please add a "news and update" section to the right sidebar on the Main SEO pages. We also want to remove the 300x 600 ad unit on the top of the page. This change should apply to all SEO pages (include sub pages, such as http://www.akc.org/dog-breeds/smallest-dog-breeds/)
See screenshot attached.
![image](https://cloud.githubusercontent.com/assets/13648969/13401343/c0c9f7d8-ded9-11e5-9f76-0

[2016-02-29 16:46] spaulenoff commented on #66
Kyle Bertelson 1/5/16 12:32pm:
So, we want to add some kind of tracking of the actual clicks. Can G.A. do that? If so, how?
Developer who tackles this: please document the process in comments here. I want both how-to research links, and preferably some sample markup of the implementation in the page.

[2016-02-29 16:46] spaulenoff commented on #68
All the work was done correctly for this but when we tried pushing it to prod twice, it caused the site to slow due to a database issue. Purvi had looked into it but we never came up with a solution. This was one of the original apps that we paid for in the original akc.org build.
https://github.com/itsMakeable/akc.org/issues/75
Note: to ensure we don't lose the information on the makeable github,

[2016-02-29 16:47] spaulenoff commented on #68
[akc2-110.zip](https://github.com/akcdotorg/akc.org/files/151322/akc2-110.zip)

[2016-02-29 21:50] stevepessah opened #77 "Mayday: Mobile Left Navigation not working correctly on Category Pages"
Needs to be added in and based off of wygwam content (let us know if this is not possible)

@spaulenoff please add in the rest of the details.

[2016-02-29 21:50] stevepessah opened #78 "Mayday: Video Page - Fix social share counter on Video pages"
Currently not working on http://stage-ng.akc.org/media/view/video-of-dogs/

[2016-02-29 21:51] stevepessah opened #79 "Mayday: Article Page - Fix Social Share Counters"
Need to implement social share counters on article pages: http://www.akc.org/media/article/gail-miller-bisher-takes-communications-reins-from-david-frei

Should look like the social share buttons in the photo gallery mockup, the counter will go right above the buttons.

![photo gallery social buttons](https://cloud.githubusercontent.com/assets/1063028/13410259/b5b86a52-df04-11e5-89e2-718e333c9cc1.

[2016-02-29 21:54] stevepessah opened #80 "Media Page: Content of some media appears and placed improperly"
Steps to reproduce:
1. Navigate to Media Pages URL: (http://stage-ng.akc.org/media/).
2. Observe that content of some Images and Videos is appear and place improperly.

Actual Result:
Media Pages - Content of some Images and Videos is place improperly.

Expected Result:
Content (Text, Icons..) of each media should be placed properly.

Note:
1. This issue is applicable on All devices and Platforms.

[2016-02-29 21:58] stevepessah opened #81 "Article Page - Desktop: 3 issues"
- Facebook comment should be greater width (need to clarify with Elie the desired size)
- Need ablity to set global photosets, that could be added to any article. Not just photosets on a per article basis.
- Right rail Email CTA should crawl with you (Questionable. Please give @spaulenoff an estimate on this portion)

[2016-02-29 21:59] stevepessah opened #82 "Sub-Category Page - Add filters to subcategory pages"
- Include featured content on page to replace top hero image
  (Replace hero image with the hero carousel) related to ticket #107 Will remove
- Turn filters on on the category pages

[2016-02-29 21:59] stevepessah opened #83 "Photo Gallery Page - Mobile: 3 issues"
- Remove Arrow on Begin Slide show slide
- Gallery images should be same size
- End card missing "Next" button

[2016-02-29 22:00] stevepessah commented on #77
duplicate, closing.

[2016-02-29 22:00] #77 closed, assigned to spaulenoff

[2016-02-29 22:01] #78 closed, assigned to nobody

[2016-02-29 22:02] stevepessah commented on #79
Duplicate

[2016-02-29 22:02] #79 closed, assigned to nobody

[2016-02-29 22:02] stevepessah commented on #53
Duplicate

[2016-02-29 22:02] #53 closed, assigned to nobody

[2016-02-29 22:05] stevepessah opened #84 "Global - Desktop: 2 issues"
- Selected navigation tab needs to include orange underline

https://www.dropbox.com/sh/y8u622vaekwevu1/AABUZnK1mgmTtFPjPm_fCtH2a/Desktop?dl=0&preview=category+page.jpg
- Most Popular section needs to include all media type

[2016-02-29 22:07] stevepessah opened #85 "Category Page - Mobile: Entire page rework"
Entire page layout needs updating. Should be single tile with ability to swipe.

https://www.dropbox.com/sh/y8u622vaekwevu1/AACGPzVpI6K-cEmZneW9bmZTa/Mobile?dl=0&preview=AKC_Mobile_UX_Hub-070215.jpg

Please review above mockup. See below for a few specific issues:
- Missing category indication on hero image (that should be the H1 tag)
- Missing subheader (H2) for each section in body
- Missing cat

[2016-02-29 22:12] stevepessah opened #86 "Category Page - Desktop: 2 issues"
https://www.dropbox.com/sh/y8u622vaekwevu1/AABUZnK1mgmTtFPjPm_fCtH2a/Desktop?dl=0&preview=category+page.jpg
- Missing category indication on hero image (that should be the H1 tag)
- Missing subheader (H2) for each section in body

[2016-02-29 22:16] stevepessah opened #87 "Sub-Category Page - Mobile: 1 issue"
https://www.dropbox.com/sh/y8u622vaekwevu1/AACGPzVpI6K-cEmZneW9bmZTa/Mobile?dl=0&preview=AKC_Mobile_UX_Media-070215.jpg
- Thumbnail and description ratio needs fixing

[2016-02-29 22:18] stevepessah opened #88 "Article Page - Mobile: 2 issues"
https://www.dropbox.com/sh/y8u622vaekwevu1/AACGPzVpI6K-cEmZneW9bmZTa/Mobile?dl=0&preview=AKC_Mobile_UX_Article-070215.jpg
- Remove padding between hero image and top navigation horizontal line
- Hero size needs to match mockup

[2016-02-29 22:19] stevepessah opened #89 "Video Page - Desktop: 3 issues"
https://www.dropbox.com/sh/y8u622vaekwevu1/AABUZnK1mgmTtFPjPm_fCtH2a/Desktop?dl=0&preview=video-page.jpg
- Missing video runtime next to Title
- When scrolling the page, lightbox should stay static and not cover the video
- Missing "Next Video" button after video ends

[2016-02-29 22:20] stevepessah opened #90 "Video Page - Mobile: 3 issues, Mobile Tweaks"
https://www.dropbox.com/sh/y8u622vaekwevu1/AACGPzVpI6K-cEmZneW9bmZTa/Mobile?dl=0&preview=AKC_Mobile_UX_Video-062915.jpg
- Remove padding between hero image and top navigation horizontal line
- Page title, date, and author need to move above video
- Include runtime next to title

[2016-02-29 22:20] stevepessah opened #91 "Video Page - Mobile: Unable to click out of the video after clicking "Done""

[2016-02-29 22:22] stevepessah opened #92 "Photo Gallery Page - Desktop: 7 issues"
https://www.dropbox.com/sh/y8u622vaekwevu1/AABUZnK1mgmTtFPjPm_fCtH2a/Desktop?dl=0&preview=gallery-page-1.jpg
- Text is getting cut off
- Body text is moving too far to the right. Should not interfere with social buttons.
- Date published is being removed from all slides except the first
- On second slide and so on, title tag should reflect the name of the page's H1 tag.
- Meta description should b

[2016-03-01 17:23] stevepessah opened #93 "WOOFipedia - Fix mobile issues"
https://akcorg.atlassian.net/browse/AKC2-488

[2016-03-01 17:24] stevepessah opened #94 "Woofipedia: Add following code to <head> section"
Need to add the following code to the <head section> of Woofiepedia (cross domain tracking, in addition to the GA code that is there):

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,d

[2016-03-01 17:39] stevepessah opened #95 "Woofipedia: Add Code to <Body> section"
<div id="om-lfu1gf5wwjkokt1o-holder"></div><script>var lfu1gf5wwjkokt1o,lfu1gf5wwjkokt1o_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){lfu1gf5wwjkokt1o_poll(function(){if(window['om_loaded']){if(!lfu1gf5wwjkokt1o){lfu1gf5wwjkokt1o=new OptinMonsterApp();return lfu1gf5wwjkokt1o.init({u:"14026.276619",staging:0,dev:0});}}

[2016-03-01 18:53] stevepessah opened #96 "Fix RSS feed"
Issue with HTML formatting - http://www.akc.org/rss/latest/

[2016-03-01 20:27] #91 closed, assigned to nobody

[2016-03-02 14:08] stevepessah opened #97 "Weird symbol formatting on Featured Stories homepage"
![screen shot 2016-03-02 at 9 07 29 am](https://cloud.githubusercontent.com/assets/1063028/13462626/41e531de-e056-11e5-88ce-ff9c9c644de3.png)

[2016-03-04 17:49] spaulenoff opened #98 "Category/Subcategory Page - Left Side bar Format/Structure"
- Need to add Category/SubCategory Menu to Category and Sub Category Pages
- Needs to contain all categories with the subcategories for that specific category you are in open at all times
- These need to be added above the current editable sublinks menu (Admin>Channel Admin>Categories>Sublinks,Category Sidbar Text

[2016-03-04 17:51] spaulenoff opened #99 "Subcategory: Need to create new subcategory pages"
- URL structure should be /content/[Category]/[sub-category]
- Will not change URL structure of individual pieces of content

[2016-03-04 17:52] kylejbertelsen commented on #85
@spaulenoff: Please define how this differs from what currently is.

[2016-03-04 18:00] kylejbertelsen commented on #52
@spaulenoff : define what is the way it shouldn't be, and what the way it should be is. Please don't bounce ppl all over the internet to understand what they're to do.

[2016-03-04 18:04] spaulenoff commented on #52
Currently there is no navigation the category pages on mobile. We want it to work as it is in the mockup above

[2016-03-04 18:04] kylejbertelsen commented on #82
@spaulenoff : What is this 'featured content'?
Which filters?

[2016-03-04 18:05] spaulenoff commented on #82
@kylejbertelsen Featured Content is that top section of the following mockup and /media/ page:
https://www.dropbox.com/sh/y8u622vaekwevu1/AABUZnK1mgmTtFPjPm_fCtH2a/Desktop?dl=0&preview=sub-category-page.jpg
http://stage-ng.akc.org/media/
Relates to #99

[2016-03-04 18:07] spaulenoff commented on #85
@kylejbertelsen Currently it just lists out the top pieces of content similar to how it is on desktop

Needs to match mockup here: https://www.dropbox.com/sh/y8u622vaekwevu1/AACGPzVpI6K-cEmZneW9bmZTa/Mobile?dl=0&preview=AKC_Mobile_UX_Hub-070215.jpg

[2016-03-04 18:08] kylejbertelsen commented on #80
Willing to bet these are missing thumbnails. Start there.

[2016-03-04 18:13] spaulenoff opened #100 "Individual content pages: Change up breadcrumb Structure"
and Individual content pages such as:
http://develop2.akc.org/content/westminster-dog-show/articles/cinderella-story-behind-1980-westminster
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-4
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-2

Update the breadcrumb structure as follows: AKC>[Category]>[Sub-Category]
- A

[2016-03-04 18:16] kylejbertelsen commented on #98
Plain text example. Assume you're on 'Category A' page  (or Category A Subcats):

Category A
  Subcat A 1
  Subcat A 2
Category B
Category Z
space
Category A Sublinks

Or if you're on Category B (or Category B Subcats):
Category A
Category B
  Subcat B 1
  Subcat B 2
Category Z
space
Category B Sublinks

[2016-03-04 18:22] kylejbertelsen commented on #99
**Pages w/in a Category (status):**
/content/category-a/ (good)
/content/category-a/articles/  (good)
/content/category-a/videos/ (good)
/content/category-a/photo-galleries/ (good)
/content/category-a/subcategory-a-1/ (please add)
/content/category-a/subcategory-a-2/ (please add)

Single content views of subcategory-a-1(etc) pages will be (note the use of category-a, NOT subcategory-a-1):
/content

[2016-03-04 18:27] kylejbertelsen commented on #82
@spaulenoff Still need to know what filters.

[2016-03-04 18:36] spaulenoff commented on #82
The filters would be:
- Most Popular
- Alphabetical
- Most Recent

@stevepessah please confirm if I am missing any

[2016-03-04 19:35] skt2 commented on #51
@spaulenoff There is caching time after how long the counter should updated. It was set to 1 day before which I have changed(after talking with @kylejbertelsen ) to 10 min. so can you please confirm this once and let me know me what exact time we want to set for this?

[2016-03-04 19:49] spaulenoff commented on #51
@skt2 once every 24 hours is preferred. If you need to make it more often just to test it is working correctly thats fine. But ultimately we only want it to update once every 24 hours

[2016-03-07 17:23] spaulenoff opened #101 "Article and Media Pages: Need ability to add “noindex” and add keywords (AKC vocabulary)"
This functionality is currently on the “news” and “AKC Dog Lovers” pages, need to be added to the micro site

Examples with above functionality
http://www.akc.org/news/snow-is-shipped-by-train-to-alaska-for-iditarod/
http://www.akc.org/learn/akc-training/akc-training-good-dog/
http://www.akc.org/akc-dog-lovers/watch-this-husky-treat-himself-to-some-ice-cubes/

![image](https://cloud.githubusercont

[2016-03-07 17:33] spaulenoff opened #102 "Article/Video/Photo-Gallery Pages: add in the recommended photosizes for the hero and thumbnails in CMS"
Hero Image:
Article
![image](https://cloud.githubusercontent.com/assets/13648969/13577416/5eb82be6-e460-11e5-89d5-7f0e6a3cb4db.png)

Media
![image](https://cloud.githubusercontent.com/assets/13648969/13577491/b9bb27b4-e460-11e5-95f1-dcff6c1290b3.png)

Thumbnail:
Article
![image](https://cloud.githubusercontent.com/assets/13648969/13577437/751ef194-e460-11e5-99da-4e778116d63e.png)

Media
![image](h

[2016-03-07 17:37] spaulenoff opened #103 "Article: Add the Teads code to the pages"
Needs to have ability to add Teeds Code to pages
[AKC inRead Updated.txt](https://github.com/akcdotorg/akc.org/files/161776/AKC.inRead.Updated.txt)

Page Types that currently have this:
- /news/ (always on)
  http://www.akc.org/news/new-tech-helps-search-and-rescue-dogs-find-earthquake-survivors/
- /learn/ (always on)
  http://www.akc.org/learn/dog-health/cephalexin-for-dogs/
- generic, generic2,

[2016-03-07 17:40] spaulenoff opened #104 "Category/Subcategory pages: Clean up CMS Templates"
Category  template fields need to be cleaned up ? remove the fields that are not going to be used.

[2016-03-07 17:41] spaulenoff opened #105 "Header Nav: "learn Should be highlighted when in the New Microsite Section"

[2016-03-07 17:51] kylejbertelsen commented on #103
In the layout templates, there is the {layout} vars `use_in_content_video_ad` -- you'll need to replicate the functionality (and form-fields) there from the `generic` content type.

[2016-03-07 17:53] kylejbertelsen commented on #102
@spaulenoff: Please define these sizes, and assign to @skt2, who will implement

[2016-03-07 17:55] kylejbertelsen commented on #101
All you need to do is turn on this vocabulary for the proper content types. Admin > Channel Administration > Channels

[2016-03-07 17:56] kylejbertelsen commented on #104
@spaulenoff: please define wtf this means, then assign to me.

[2016-03-07 17:58] kylejbertelsen commented on #4
If /content -- the meta tags are applied in embeds.group/content-headers.html

If elsewhere -- find 'em -- possibly in each layout.group/*, minus training and photo-gallery

[2016-03-07 18:07] spaulenoff commented on #102
Category Hero: 1170px X 420px
Article Hero: 1170px X 305px
Video/Photo-Gallery Background Image: 1579px X 368px

Article Thumbnail: 246px X 164px
Video/Photo-Gallery: 246px X 164px

[2016-03-07 19:00] spaulenoff commented on #103
Per Elie, This should be on by default, toggleable in the CMS to turn off if necessary

[2016-03-07 19:16] spaulenoff commented on #98
Per @elieo There needs to be a way for users to go from sub category of one category to te subcategory of a completely different category

Ex... Subcat A 1 to Subcat B 2

[2016-03-07 19:16] elieo commented on #103
To clarify, we only want this on article pages.

[2016-03-07 19:23] elieo commented on #80
@spaulenoff  needs to clarify this and give the developers clear instructions on what needs to be done here.

[2016-03-07 19:41] spaulenoff commented on #80
It is a Thumbnail issue. Added thumbnails to a few that were missing them and they worked.

[2016-03-07 19:45] spaulenoff commented on #98
@elieo @kylejbertelsen  is asking for a mock up of what you want the left Sidebar to look like and function

[2016-03-07 20:05] skt2 commented on #101
Time Spent: 2h

**CMS Changes:**
Enable AKC Vocabulary and Extra Metatags for Article and Media channels.
Login to CMS: Admin > Channel Administration > Channels
Click "Edit Group Assignment" for channel you want to edit(Article or Media)
In Category Group: Select additional values: AKC Vocabulary and Extra Metatags
Click Update.

[2016-03-07 20:09] spaulenoff commented on #86
@stevepessah Please QA on http://develop2.akc.org/content/westminster-dog-show/ (Desktop)

[2016-03-07 20:10] spaulenoff commented on #85
@stevepessah Please QA on http://develop2.akc.org/content/westminster-dog-show/ (mobile)

[2016-03-07 20:24] spaulenoff commented on #101
Verified on Dev2

[2016-03-07 20:40] spaulenoff opened #106 "Mayday Sprint Log"
**Planned for this Sprint:**
https://github.com/akcdotorg/akc.org/issues/101
https://github.com/akcdotorg/akc.org/issues/51
https://github.com/akcdotorg/akc.org/issues/86
https://github.com/akcdotorg/akc.org/issues/85
https://github.com/akcdotorg/akc.org/issues/99
https://github.com/akcdotorg/akc.org/issues/103
https://github.com/akcdotorg/akc.org/issues/98
https://github.com/akcdotorg/akc.org/iss

[2016-03-07 20:51] stevepessah commented on #85
Above issues verified on dev. Below issues still need work:
- Remove padding above hero image
- Fix hero image size
- Top navigation is missing (will be added as part of https://github.com/akcdotorg/akc.org/issues/52)
- Circles are not centered
- Add media-type squares back on thumbnails
- Pop out nav shows BREEDS row enlarged

[2016-03-07 21:09] stevepessah commented on #86
Verified on dev2.

[2016-03-07 21:16] stevepessah commented on #106
@spaulenoff is this list just this - https://github.com/akcdotorg/akc.org/milestones/MayDay%20Microsite%20Completion

[2016-03-07 21:17] spaulenoff commented on #106
@stevepessah Correct. This is just the sprint log that @kylejbertelsen asked for so he can see a general status all in one place

[2016-03-07 21:19] stevepessah commented on #106
@spaulenoff ok, is the Boards view not working for them? This ticket just means we need to update things in two places.

[2016-03-07 21:21] spaulenoff commented on #106
@stevepessah The Boards View is working, this was just a request from Kyle

[2016-03-07 21:55] skt2 commented on #103
**CMS Changes:**
Add new field to article channel:
Admin > Channel Administration > Channel Fields > Article > Create a New Channel Field
Type: Select Dropdown
Label : Use In-content Video Ad
Name: use_in_content_video_ad_article
Populate the menu manually:
Yes
No
Click Update.

[2016-03-07 22:14] toshan2014 commented on #99
@spaulenoff - please confirm whether the slider at the top will contain the same items as the listed items ( in the boxes ) in the main area

[2016-03-07 22:17] spaulenoff commented on #99
@toshan2014 Confirmed the same content might appear in both places. The Slider at the top will feature the featured/newest content i believe.

[2016-03-07 22:22] spaulenoff commented on #99
@toshan2014 Apologies but we will not need the slider up top. The hero will be static like one of these pages: http://develop2.akc.org/content/westminster-dog-show/articles/ just with the content not sorted by content type

![image](https://cloud.githubusercontent.com/assets/13648969/13585327/3236f01a-e489-11e5-9726-1a059ef08ff6.png)

[2016-03-08 10:16] toshan2014 commented on #98
I've done it as below. The subcategories show in a sliding fashion upon clicking on the parent category - I believe this is what you're after:

<img width="541" alt="slider-cat" src="https://cloud.githubusercontent.com/assets/6847220/13598621/b73168e6-e4d3-11e5-8e6d-d2a83fcc34df.PNG">

[2016-03-08 13:43] spaulenoff commented on #98
@toshan2014 That style/format for the sidebar menu is correct as long as you can expand each category to get to the sub categories. And then also be able to minimize each category if you want

[2016-03-08 16:51] spaulenoff commented on #85
@stevepessah Looks good to me. Please QA on Dev2 http://develop2.akc.org/content/westminster-dog-show/

[2016-03-08 17:26] toshan2014 commented on #81
@spaulenoff
please  clarify
1) first point - which size?
2) second point regarding photosets. Are we referring to some sort of generic gallery?
3) is the desired eddfect being the CTA would stay fixed upon scrolling?

[2016-03-08 17:28] spaulenoff commented on #81
@toshan2014
1. @elieo please confirm
2. Yes correct
3. Correct

[2016-03-08 17:30] toshan2014 commented on #81
1. @spaulenoff  Where would that new gallery go? - a mockup would be useful here

[2016-03-08 17:32] spaulenoff commented on #81
@toshan2014 https://www.dropbox.com/sh/y8u622vaekwevu1/AABUZnK1mgmTtFPjPm_fCtH2a/Desktop?dl=0&preview=article-page.jpg

![image](https://cloud.githubusercontent.com/assets/13648969/13610056/def2b488-e529-11e5-91db-bacfc66aa290.png)

[2016-03-08 18:12] stevepessah commented on #85
Everything looks good except for the left nav, but we can address that in a different ticket. @spaulenoff can you make one for the left nav or add it to #52?

Only thing I see now is the caption sizes aren't the same, so we need to decide how to standardize.

[2016-03-08 19:08] kylejbertelsen commented on #83
@spaulenoff -- please discuss point 4 above with Elie and/or Steve -- 'previous' and 'next' button is not possible within Expression Engine, the way that the templates are currently assembled.

Options:
a) an additional 8 hours of development to reorganize those templates;
b) adding a field to the Media type, where editors would expressly select a previous Media and a Next Media -- add 2 hours to

[2016-03-08 19:20] spaulenoff commented on #83
Per mockup, we do not want social buttons on individual slides
![image](https://cloud.githubusercontent.com/assets/13648969/13613156/f4f71968-e538-11e5-9e77-07550b9bc9c5.png)

[2016-03-08 21:27] spaulenoff commented on #83
@kylejbertelsen @skt2 Spoke with Steve and Elie and they want to go with the following option for view next gallery button:

adding a field to the Media type, where editors would expressly select a Next Media -- add 2 hours to estimate. A button will only show up when a link is selected in the CMS

[2016-03-08 22:11] skt2 commented on #83
Added Next Gallery Link. Example: http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/?photo_id=5

[2016-03-08 22:19] spaulenoff commented on #83
Please QA on Mobile Dev2 http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/

Please note, the view next gallery button will only show if a link is added in the CMS

[2016-03-09 07:47] toshan2014 commented on #87
@spaulenoff - that page on the mockup seems to be the old /media page - now in /content it looks like this : http://develop2.akc.org/content/westminster-dog-show/

please confirm if this is correct and if there's still an issue here.

[2016-03-09 08:35] toshan2014 commented on #54
@spaulenoff Looks like another old ticket. I remember fixing this. Look fine on develop2. Please confirm.

[2016-03-09 14:00] spaulenoff commented on #87
@toshan2014 The Subctegory pages should look similar to the content type pages on mobile http://develop2.akc.org/content/westminster-dog-show/videos/

[2016-03-09 14:07] spaulenoff commented on #54
Confirmed will close

[2016-03-09 14:07] #54 closed, assigned to toshan2014

[2016-03-09 14:42] spaulenoff commented on #99
@toshan2014 Close, but we want the content to not be broken up by type like it is on http://develop2.akc.org/content/westminster-dog-show/live-coverage/
![image](https://cloud.githubusercontent.com/assets/13648969/13638616/180db432-e5db-11e5-8af9-ba9ca9d8bb41.png)

We want all content to be mixed in together like in the below screenshot, with the newest content moving to the top
![image](https://c

[2016-03-09 14:51] spaulenoff commented on #100
@toshan2014 Breadcrumbs look good but the URL Structure should not have changed for content pieces For Example:
http://develop2.akc.org/content/westminster-dog-show/live-coverage/articles/westminster-group-results-day-2/
http://develop2.akc.org/content/westminster-dog-show/live-coverage/videos/westminster-test-video/
http://develop2.akc.org/content/westminster-dog-show/live-coverage/photo-gallerie

[2016-03-09 14:53] spaulenoff commented on #105
@stevepessah Please QA on Dev2 http://develop2.akc.org/content/westminster-dog-show/

Seeing it work correctly for me

[2016-03-09 14:58] skt2 commented on #102
**CMS Changes:**
Admin > Channel Administration > Channel Fields > Article.
Edit Instruction for Images fields with recommended sizes.
Repeat the process for "Category Page" and "Media" Channels.

Admin > Channel Administration > Channel Fields > Article.
Remove Article Image: Click Delete link and confirm.

[2016-03-09 15:09] stevepessah commented on #105
@spaulenoff were we trying to get the orange underline below LEARN or just have it highlighted?

[2016-03-09 15:11] spaulenoff commented on #102
Verified on Dev 2

[2016-03-09 15:12] spaulenoff commented on #105
@stevepessah Going by the rest of the site, we just want it to be highlighted. Example for breeds section below:
![image](https://cloud.githubusercontent.com/assets/13648969/13639590/6c7b3bd0-e5df-11e5-8dd2-82ffc0c02c82.png)

[2016-03-09 15:23] stevepessah commented on #83
@spaulenoff I used @skt2's [link](http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/?photo_id=5) which has a Next Gallery so I tested and the functionality works, but the design needs fixing.

https://www.dropbox.com/sh/y8u622vaekwevu1/AACGPzVpI6K-cEmZneW9bmZTa/Mobile?dl=0&preview=AKC_Mobile_UX_Photo-070215-end.jpg

[2016-03-09 15:23] stevepessah commented on #105
Ok cool, verified on dev2.

[2016-03-09 15:28] skt2 commented on #92
Date published is being removed from all slides except the first - This need to be added in CMS in order to show front side.

![date-in-cms](https://cloud.githubusercontent.com/assets/16002526/13639895/ca634098-e5e0-11e5-97a9-2ca2eaf5031e.png)

On second slide and so on, title tag should reflect the name of the page's H1 tag. -- This need to be added in CMS in order to show front side.

[2016-03-09 15:39] spaulenoff commented on #83
@skt2 Please fix design on next gallery button on the end card to match Mockup
![image](https://cloud.githubusercontent.com/assets/13648969/13640580/357d0e7a-e5e3-11e5-9295-4b484e7edbcd.png)

Can we also add a field to the cms under the next media content link that you can add a title as well.

Please also add a description and example of what needs to be added to each field. Please also put a not

[2016-03-09 16:21] stevepessah commented on #52
(Related to https://github.com/akcdotorg/akc.org/issues/98)

[2016-03-09 18:16] spaulenoff commented on #83
@skt2 Looks good to me design wise, however when i click the next gallery link (http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/?photo_id=5), i get directed to this page that doesn't exist http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/%7bnext_media_item_link%7d/

Also i am seeing a difference on the o

[2016-03-09 19:38] spaulenoff commented on #83
@stevepessah Please QA on Dev 2 Please QA on Mobile Dev2 http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/?photo_id=5
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=6

[2016-03-09 20:25] spaulenoff commented on #90
@stevepessah Please QA on Dev2:
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-3
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-2
- Remove padding between hero image and top navigation horizontal line (looks fixed)
- Page title, date, and author need to move above video (looks fixed)
- Include runtime next to title (Will check

[2016-03-09 21:26] stevepessah commented on #83
Verified on mobile on dev2.

[2016-03-09 21:46] spaulenoff commented on #92
@stevepessah Please Qa on Dev2 http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/?photo_id=0
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0

[2016-03-09 21:48] stevepessah commented on #90
Those two issued are verified on mobile on dev2.

[2016-03-09 21:59] stevepessah commented on #92
- Text is getting cut off

**Verified on dev2.**
- Body text is moving too far to the right. Should not interfere with social buttons.

**Verified on dev2.**
- Date published is being removed from all slides except the first

**Verified on dev2.**
- On second slide and so on, title tag should reflect the name of the page's H1 tag.

**Not verified on dev2.**
**Working with http://develop2.akc.org/c

[2016-03-09 22:13] spaulenoff commented on #92
@skt2
- Meta description should be consistent across all slides and should be pulled from the CMS.
  Not verified on dev2.

I am not seeing the Meta Description on any indivdual slide:
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=3

Seeing meta description on first page though: http://develop2.akc.org/content/westminster-dog-show/photo-gal

[2016-03-10 00:29] toshan2014 commented on #87
@spaulenoff  Looking similar now to http://develop2.akc.org/content/westminster-dog-show/videos/
Please confirm

[2016-03-10 00:32] toshan2014 commented on #100
@spaulenoff URL structure for display of subcats has been modified - please confirm

[2016-03-10 00:33] toshan2014 commented on #99
@spaulenoff changes made - please confirm

[2016-03-10 08:05] toshan2014 commented on #4
"Author facebook screenname" field added to Media and Articles channels.

Please QA :

view-source:https://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0

view-source:https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-03-10 13:58] spaulenoff commented on #100
@toshan2014 Breadcrumbs are looking good, however the following URLs are 404ing from the sub cat page:
http://develop2.akc.org/content/westminster-dog-show/live-coverage/articles/westminster-group-results-day-2/
http://develop2.akc.org/content/westminster-dog-show/live-coverage/articles/masters-agility-and-obedience-results/
http://develop2.akc.org/content/westminster-dog-show/live-coverage/articl

[2016-03-10 14:10] spaulenoff commented on #87
@toshan2014 close! Couple of things i noticed,
Can you add the content type symbols to each type of content? like in the mock?
![image](https://cloud.githubusercontent.com/assets/13648969/13671751/c07e8da2-e69f-11e5-957c-623056b6a2ff.png)

Also it looks like your changes were pushed on the category pages as well. Please check with @skt2
http://develop2.akc.org/content/westminster-dog-show/

[2016-03-10 14:37] spaulenoff commented on #4
@toshan2014 How do you add in a an author in the CMS? Not seeing
Also can you please add this functionality to /news/, /akc-dog-lovers/ and /learn/ articles
Also still seeing by American Kennel Club when i try to share
![image](https://cloud.githubusercontent.com/assets/13648969/13672624/a3b43876-e6a3-11e5-8486-b3e7e83a6423.png)

[2016-03-10 15:55] spaulenoff commented on #92
@stevepessah Please QA for meta description on the following gallery, seeing it correctly on all slides on my end http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0

[2016-03-10 16:02] stevepessah commented on #92
Verified on dev2.

[2016-03-10 16:07] spaulenoff commented on #99
@toshan2014 Need to rework this so it doesn't affect category pages such as http://develop2.akc.org/content/westminster-dog-show/

[2016-03-10 17:24] spaulenoff commented on #88
@stevepessah Please Qa on Dev2 on Mobile http://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/
http://develop2.akc.org/content/westminster-dog-show/articles/gail-miller-bisher-takes-communications-reins-from-david-frei/

These changes look good to me on dev2

[2016-03-10 17:33] stevepessah commented on #88
Verified on dev2.

[2016-03-10 18:33] toshan2014 commented on #100
@spaulenoff The 404 were due to wrong cats being show on the subcat page. Please check again

[2016-03-10 18:34] toshan2014 commented on #99
Please check again :
https://develop2.akc.org/content/westminster-dog-show/ ( unaffected )
https://develop2.akc.org/content/westminster-dog-show/live-coverage/ ( new subcat page )

[2016-03-10 19:11] spaulenoff commented on #84
@stevepessah Please QA on Dev2
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video/
http://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

Please only QA per the second note as the first note was resolved in https://github

[2016-03-10 19:18] spaulenoff commented on #100
@stevepessah I have checked it out on dev 2:
**With Sub Cat**
http://develop2.akc.org/content/westminster-dog-show/articles/what-it-means-to-show-at-westminster/
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video/
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/?photo_id=0

**Without SubCat**
http://develop2.akc.org/co

[2016-03-10 19:39] stevepessah opened #107 "Implement new carousel on top of homepage"
Steve to put together technical requirements.

[2016-03-10 20:16] stevepessah commented on #100
@spaulenoff only issue I see is the extra carrot at the end of the breadcrumb on this page - http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/

[2016-03-10 20:21] spaulenoff commented on #100
@toshan2014 Please fix per steve's comment

[2016-03-10 20:33] stevepessah commented on #84
Verified on dev2.

[2016-03-10 20:36] spaulenoff opened #108 "Create Separate Categories Field in CMS to slowly move content over from /learn/ to /content/"

[2016-03-10 20:37] kylejbertelsen commented on #108
-Entertainment
--Heartwarming
--Funny
--Cute
--Interesting
--Things To Do With Your Dog

-Dog Training
--Basics
--Advance
--Tricks
--Agility
--Unwanted Behavoirs
--Trainnig Tips

-Dog Health
--Nutrition
--Fitness
--Care
--Grooming
--Health Tips
--Diseases
--Symptoms

-Breeders
--Education
--Science
--Genetics & DNA
--Health Testing
--Reproduction
--AKC Breeder Programs
--Business Advice
--Registra

[2016-03-10 21:55] kylejbertelsen commented on #108
All are added in develop2. Will duplicate to stage, and eventually production.

[2016-03-10 22:29] spaulenoff commented on #99
@elieo @stevepessah The new subcategory page can be found here:
http://develop2.akc.org/content/westminster-dog-show/live-coverage/
Please QA and please let us know if there is anything that you feel needs to still be fixed
http://develop2.akc.org/content/westminster-dog-show/live-coverage/

I checked against the mockup, and besides the featured content header (which Elie said is ok to leave out),

[2016-03-10 23:54] toshan2014 commented on #100
@spaulenoff please check

[2016-03-11 02:21] toshan2014 commented on #87
@spaulenoff : Media type symbols added with category like in the mockup. I do think having the category is redundant. Let me know if you want it removed

https://develop2.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-11 02:25] toshan2014 commented on #4
@spaulenoff OPTION 1: I need to know whether we want to have a new channel where authors and their facebook can be entered. Upon publishing the author can be chosen from a drop-down list like:
<img width="927" alt="authors" src="https://cloud.githubusercontent.com/assets/6847220/13691411/7a55f6dc-e6ed-11e5-978a-70fdeaf158d0.PNG">

OR
OPTION 2: Use the existing/automated {author} field which uses t

[2016-03-11 13:53] spaulenoff commented on #100
@stevepessah Breadcrumbs look good to me:
https://develop2.akc.org/content/westminster-dog-show/articles/author-fb-test-article/
https://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-2/
https://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/

[2016-03-11 13:55] spaulenoff commented on #87
@stevepessah @elieo Please QA https://develop2.akc.org/content/westminster-dog-show/live-coverage/

I do agree with Toshan that the Category being show for each piece of content is a bit redundant. Let's discuss if we should remove it.

[2016-03-11 14:15] stevepessah commented on #100
Verified on dev2.

[2016-03-11 14:19] spaulenoff commented on #108
@elieo @stevepessah Please QA in the CMS and on Dev2 https://develop2.akc.org/content/westminster-dog-show/

**In Dev2 CMS:**
Admin>Channel Admin>Categories>Category Pages

[2016-03-11 14:35] spaulenoff commented on #98
@elieo @stevepessah Please QA on Dev2 https://develop2.akc.org/content/westminster-dog-show/ and we can discuss with @kylejbertelsen on how we want to proceed with this

[2016-03-11 14:37] elieo commented on #99
@spaulenoff
- "media" in the header needs to be removed (also on category pages)
- The left navigation is not collapsing in a "tree style navigation"
- Mobile - The hero image looks cut off on the sides (we may need to have a separate hero image for mobile)
- Mobile - Where is the menu?
- Mobile - Looks like the social buttons are showing on the category pages for iphone 4 but not iphone 6. (let's

[2016-03-11 14:46] spaulenoff commented on #99
@elieo Answer to points above:
- "media" in the header needs to be removed (also on category pages) @toshan2014  please remove
- The left navigation is not collapsing in a "tree style navigation" (Lets discuss with @kylejbertelsen per https://github.com/akcdotorg/akc.org/issues/98)
- Mobile - The hero image looks cut off on the sides (we may need to have a separate hero image for mobile) Let's dis

[2016-03-11 16:44] toshan2014 commented on #99
@spaulenoff - Removed 'Media' from title

[2016-03-11 17:22] spaulenoff commented on #89
@stevepessah Please QA on Dev 2 http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video/

[2016-03-11 17:26] toshan2014 commented on #4
Going with OPTION 1 after scrum consensus:

Content - Article : https://develop2.akc.org/content/westminster-dog-show/articles/author-fb-test-article/

Content - Video : https://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/

Content - Photos : https://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/?photo_id=0

News: http://

[2016-03-11 17:47] spaulenoff commented on #4
@toshan2014 Looks Good on my end, can you please confirm these updates have been made on /news/ articles and /akc-dog-lovers/ articles?
/news/ - https://develop2.akc.org/news/dog-finds-lost-toddler-in-woods/
/akc-dog-lovers/ - https://develop2.akc.org/akc-dog-lovers/why-the-miniature-american-shepherd-would-win-the-dog-olympics/

[2016-03-11 18:06] spaulenoff commented on #99
@toshan2014 Thank you, can you please add a field to the cms to upload mobile hero images? The Recommended size should be 375px X 280px
@skt2 Same thing for category pages on mobile ^

[2016-03-11 18:25] elieo commented on #108
@spaulenoff  can you confirm that you QAed this before I do?

[2016-03-11 18:33] spaulenoff commented on #108
I QA'd this yes

[2016-03-11 18:53] elieo commented on #108
@spaulenoff
This looks good. Confirmed on Dev2. Thanks

[2016-03-11 19:21] spaulenoff commented on #4
Per convo with ELie, we have decided to switch to option 2

[2016-03-11 19:47] toshan2014 commented on #4
Now using built-in member module ( Option 2 ) :

IMPORTANT Note:  Every Author will need to log in and update their profile with the following:
1) Edit Profile > AOL IM ( Put your facebook or other social media profile URL here)
2) Username and Password > Screen Name ( this is the name you want to appear on social media )

Example:
https://develop2.akc.org/content/westminster-dog-show/articles/aut

[2016-03-11 20:03] skt2 commented on #83
*_CMS Changes: *_
Admin > Channel Admin > Channel Fields
Media > Add New Field
Field Type: Grid
Field Label: Next Media Item
Field Name: next_media_item

Field 1: Text Input
Label: Title
Name: title
Instructions: Title for next media link. Recommended length 55 characters.

Field 2: Text Input
Label: Link
Name: link
Instructions: Link for next media page. Do not include domain name. Example: /cont

[2016-03-11 20:09] stevepessah commented on #87
Issues with Title
- Remove all caps
- Fix font color
- Double check on Filter
- Ensure that the View More button works
- See if we can remove title from each thumbnail and place in top orange part instead (since main category will always be the same under sub-category pages)

[2016-03-11 20:16] skt2 commented on #90
**CMS Changes:**
Admin > Channel Admin > Channel Fields
Media > Add New Field
Field Type: Grid
Field Label: Video
Field Name: video

Field 1: Text Input
Label: Link
Name: link
Instructions: Link to xml video on on jwplatform. For example: http://content.jwplatform.com/jw6/Uj7QLOaM.xml

Field 2: Text Input
Label: Runtime
Name: runtime
Instructions: Video Play Time

[2016-03-11 20:29] toshan2014 commented on #99
This uses the same field as /category (in Category Page channel). Once this is done for category, I'll just modify the field name for /subcategory. Please reassign to me once done in /category.

[2016-03-11 20:39] spaulenoff commented on #87
@toshan2014 Talked with Elie, please remove the category title for each piece of content. Since we have no filter currently, we will skip this for now. Please look at Steve's other comments as well

[2016-03-11 20:40] spaulenoff commented on #4
@toshan2014 Per Discussion, please make the AOL IM field to be Facebook Profile Field

[2016-03-11 20:45] toshan2014 commented on #4
@spaulenoff Change made - sorry did not realize it was a simple text change in some file.

[2016-03-11 20:49] spaulenoff commented on #4
@toshan2014 /news/ and /akc-dog-lovers/ doesnt seem to be working properly
https://develop2.akc.org/news/dog-finds-lost-toddler-in-woods/
https://develop2.akc.org/akc-dog-lovers/why-the-miniature-american-shepherd-would-win-the-dog-olympics/

Getting this error on the Facebook Dubugger Tool (https://developers.facebook.com/tools/debug/og/object/):
![image](https://cloud.githubusercontent.com/asset

[2016-03-11 20:49] stevepessah commented on #89
Verified on dev2.

[2016-03-11 21:03] spaulenoff commented on #4
Nevermind its working properly now once i remove the https: @elieo and @stevepessah  Please confirm on Dev2:
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/
http://develop2.akc.org/content/westminster-dog-show/articles/author-fb-test-article/
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video/
http://develop2.akc.org/

[2016-03-11 21:08] spaulenoff commented on #80
Closing this ticket as it was a thumbnail issue

[2016-03-11 21:08] #80 closed, assigned to spaulenoff

[2016-03-11 21:18] spaulenoff commented on #99
@elieo @stevepessah Updates below
- "media" in the header needs to be removed (also on category pages) **Updated**
- The left navigation is not collapsing in a "tree style navigation" **Updated**
- Mobile - The hero image looks cut off on the sides (we may need to have a separate hero image for mobile) **@skt2 will work on this**
- Mobile - Where is the menu? **Part of #52 being worked on by Kyle*

[2016-03-11 21:36] spaulenoff opened #109 "Revisit Font Hosting Transfer"
https://files.zenhub.io/56e33a561ac7fb0b196fda22 the email thread

[2016-03-11 21:39] stevepessah commented on #4
Verified on dev2.

[2016-03-14 13:15] spaulenoff commented on #86
@stevepessah Please QA on Stage http://stage-ng.akc.org/content/westminster-dog-show/ (desktop) Looks good to me

[2016-03-14 13:19] spaulenoff commented on #85
@stevepessah Please QA on Stage http://stage-ng.akc.org/content/westminster-dog-show/ (mobile) Looks good to me

[2016-03-14 13:27] spaulenoff commented on #103
Verified on Stage

[2016-03-14 13:28] spaulenoff commented on #101
@skt2 Not Verified on Stage-ng. I am seeing a bread crumb show up for noindex nofollow when that is chosen. http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/
![image](https://cloud.githubusercontent.com/assets/13648969/13749260/f2b2ea54-e9d6-11e5-8880-202255439786.png)

Related to #100

[2016-03-14 13:32] spaulenoff commented on #102
Verified on Stage

[2016-03-14 13:35] spaulenoff commented on #84
@stevepessah Please QA on Stage:
http://stage-ng.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-1/
http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/
http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0

Please only QA the second note, as the first note will be resolved when #105 ge

[2016-03-14 13:42] spaulenoff commented on #92
@stevepessah Please QA on Stage http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0

[2016-03-14 13:49] spaulenoff commented on #89
@skt2 Per our conversation, please move the run time of the video up next the title on Desktop, but leave the runtime where it is on mobile per #90

[2016-03-14 13:56] spaulenoff commented on #83
@stevepessah Please QA on Stage http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0 (Mobile)

[2016-03-14 13:58] spaulenoff commented on #88
@stevepessah Please QA on Stage http://stage-ng.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-1/ (Mobile)

[2016-03-14 14:12] spaulenoff commented on #90
@stevepessah Please QA on Stage http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/ (mobile)

Please note I manually entered the time in the CMS so it can show anytime entered

[2016-03-14 14:13] spaulenoff commented on #89
@stevepessah Please QA on Stage http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/ (Desktop)

Please note i manually entered the length in the CMS so anytime can be entered there

[2016-03-14 14:15] spaulenoff commented on #108
@kylejbertelsen Verified on Stage in the CMS, please confirm once the the sidebar links from #98 are pushed to stage

[2016-03-14 14:50] stevepessah opened #110 "Add Marketplace CTA on Find a Match"
http://www.akc.org/find-a-match/

[2016-03-14 15:02] stevepessah commented on #86
Verified on stage.

[2016-03-14 15:04] stevepessah commented on #84
Verified on stage.

[2016-03-14 15:19] stevepessah commented on #89
Verified on stage.

[2016-03-14 15:28] spaulenoff commented on #85
@skt2 Please add a field in the CMS for adding a mobile Hero image for category pages. Recommended size 375px X 280px

[2016-03-14 17:03] stevepessah commented on #92
Verified on stage.

[2016-03-14 17:06] stevepessah commented on #88
Verified on stage.

[2016-03-14 17:10] stevepessah commented on #90
Verified on stage.

[2016-03-14 17:13] stevepessah commented on #83
Verified on stage.

[2016-03-14 17:14] spaulenoff commented on #98
Working correctly on Category Pages http://develop2.akc.org/content/westminster-dog-show/
Not Working correctly on SubCat Pages http://develop2.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-14 17:19] skt2 commented on #85
@spaulenoff Please make sure to upload the mobile hero image before you test it.
Also, this changes do not have mobile hero image for sub-category pages. I'll push those changes to AKC3-99 branch.

[2016-03-14 18:16] skt2 commented on #85
**CMS Changes**
Admin > Channel Admin > Channel Fields > Category Page
Add new field:
Field Type: Assets
Label: Category Mobile Hero
Name: category_mobile_hero
Instruction: Small image for mobile. Recommended Image Size 375px X 280px
Field Option: All
View Options: List, Columns: Check All
Multiple Selection: No

[2016-03-15 15:41] spaulenoff commented on #52
@kylejbertelsen Not Verified as there isn't a way to minimize this navigation on mobile and categories with mores ub categories move all the way down the page on mobile http://develop2.akc.org/content/dog-health/
![image](https://cloud.githubusercontent.com/assets/13648969/13783718/d5c5a5a4-eaa2-11e5-982d-6b4d99eb1ad8.png)

[2016-03-15 15:42] spaulenoff commented on #98
@kylejbertelsen Still not working on subcategory pages http://develop2.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-15 17:08] kylejbertelsen commented on #52
Instructions:

To toggle all side-navigation, tap/click 'Related Links' (perhaps some instruction, such as 'click to see all' would be wise --- that'd be my take, anyway)

Each heading there (ex: Entertainment, Dog Health) is toggled in the same manner as the bottom nav on mobile.

[2016-03-15 17:10] kylejbertelsen commented on #98
The `embeds/.media-list-subcat` template was not updated to use the correct subnavigation file. I have instructed @toshan2014 to fix this, but for the moment, I have fixed it in the Template Manager in the CMS.

[2016-03-15 17:15] toshan2014 commented on #87
Please clarify @spaulenoff
#1 Remove all caps - from where exactly? If we are referring to the category heading in orange for each tile, that heading will be removed completely.

#2 Fix font color - are we referring to the purple text? Because that mockup was before the UX changes. Now we are not using that purple of texts in general texts anymore. The new color is #333 which is used across board

[2016-03-15 17:25] toshan2014 commented on #87
#3 Filter and Sort functionalities are disabled overall.

#4 View More - Working fine ( same way as desktop )

#5 Title removed from each tile - Top orange part ( I believe we are referring to Hero section ? ) showing Subcat title

[2016-03-15 17:31] spaulenoff commented on #52
@kylejbertelsen As discussed please include symbols to show that usercs can expand and minimize the navigation

[2016-03-15 17:33] spaulenoff commented on #98
@stevepessah and @elieo Please QA on Dev2: Elie confirmed the style of the sidebar for now. (Desktop)

Category: http://develop2.akc.org/content/westminster-dog-show/
SubCategory: http://develop2.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-15 17:37] spaulenoff commented on #99
@elieo @stevepessah Please QA on Dev2 http://develop2.akc.org/content/westminster-dog-show/live-coverage/

Please note the following issues are being worked on still:
- Mobile - The hero image looks cut off on the sides (we may need to have a separate hero image for mobile)
- Mobile
  - Where is the menu? **Part of #52 being worked on by Kyle**

[2016-03-15 17:44] spaulenoff commented on #81
@skt2 Please check to see what happened to the most popular in section

[2016-03-15 18:11] toshan2014 commented on #105
please verify on stg

[2016-03-15 18:12] skt2 commented on #81
@spaulenoff its part of @toshan2014's conflict, it has nothing to do with changes from this ticket.

[2016-03-15 18:12] toshan2014 commented on #4
please verify on stg

[2016-03-15 18:13] spaulenoff commented on #105
@toshan2014 not seeing this on Stage http://stage-ng.akc.org/content/westminster-dog-show/ Checked on Chrome and FF

[2016-03-15 18:19] toshan2014 commented on #105
stage cms refresh/updated - check again

[2016-03-15 18:22] spaulenoff commented on #105
verified on stage

[2016-03-15 18:35] spaulenoff commented on #4
@stevepessah Please QA on Stage
http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0
http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video/
http://stage-ng.akc.org/content/westminster-dog-show/articles/masters-agility-and-obedience-results/

[2016-03-15 18:39] spaulenoff commented on #87
@stevepessah Please QA on Dev2 on mobile http://develop2.akc.org/content/westminster-dog-show/live-coverage/

Please note the category titles were removed from the content tiles per Elie's instructions

[2016-03-15 19:01] spaulenoff commented on #52
@elieo @stevepessah Please QA on Dev 2 mobile http://develop2.akc.org/content/westminster-dog-show/ (Category Page)
http://develop2.akc.org/content/breeders/science/ (Sub Cat Page)

Please note, it will not match up styling wise with the mockup, but the functionality is there

[2016-03-15 19:36] kylejbertelsen commented on #108
Required in production, upon launch:
- Add any Channel Pages terms to Categories
- In database, find the unique ids for the Channel Pages we're converting (W-D-S, Live-Content, etc), and edit the exp_category_posts to match the new uids.
- Admin > Channel Admin > Channels, set 'Group Assignments' to use `Channel Pages` and not use `Microblogs` in 'Channel Pages', 'Article' and 'Media'
- Add-Ons >

[2016-03-15 20:46] spaulenoff commented on #81
@skt2 Not verified on Dev2 Mobile http://develop2.akc.org/content/westminster-dog-show/articles/author-fb-test-article/
![image](https://cloud.githubusercontent.com/assets/13648969/13793456/58492e86-eacd-11e5-9b4c-aa6a020d08c4.png)

How it should look (http://stage-ng.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-1/)
![image](https://cloud.githubusercontent.com/assets

[2016-03-15 21:28] spaulenoff commented on #81
@stevepessah Please only QA the first note. Will create seperate tickets for other notes:
http://develop2.akc.org/content/westminster-dog-show/articles/gail-miller-bisher-takes-communications-reins-from-david-frei/
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-2
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-3

[2016-03-15 21:29] skt2 commented on #51
Example: http://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-03-15 21:30] spaulenoff opened #111 "Mayday Article Templates: Need ablity to set global photosets, that could be added to any article"
Need ablity to set global photosets, that could be added to any article. Not just photosets on a per article basis.

Related to https://github.com/akcdotorg/akc.org/issues/81

[2016-03-15 21:31] spaulenoff opened #112 "Mayday Photo-Gallery/Video Template: Remove bottom email signup and make lower 300x600 ad unit sticky"
Related to #81

[2016-03-16 02:32] toshan2014 commented on #100
@spaulenoff
Added fix for "Need ability to add “noindex” and add keywords (AKC vocabulary) #101" in breadcrumb. Please double check.

https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/

[2016-03-16 13:08] spaulenoff commented on #52
@kylejbertelsen Per our Conversation, Please make the following updates:
- Match the styling of CATEGORIES to the styling of learn in the mockup
  ![pasted image at 2016_03_15 04_29 pm](https://cloud.githubusercontent.com/assets/13648969/13813189/94b926e4-eb56-11e5-94fd-0cae248b994c.png)
- Add lines to break up the expand categories and sub categories like mockup
- Add Line above the top category

[2016-03-16 13:39] spaulenoff commented on #100
Verified on Dev and Stage

[2016-03-16 13:52] spaulenoff commented on #51
@skt2 Its working for me, but i am only seeing one share. I though I shared on facebook and pinterest. Can you please confirm its working for you as well?

[2016-03-16 14:59] spaulenoff commented on #52
@kylejbertelsen Verified on Dev 2

[2016-03-16 15:03] spaulenoff commented on #81
Verified on Stage

[2016-03-16 15:07] spaulenoff commented on #99
@toshan2014 One More update: Can we change the Sub Category pages to match the following mockup?
![pasted image at 2016_03_16 10_33 am](https://cloud.githubusercontent.com/assets/13648969/13817081/3997b7e2-eb67-11e5-9856-3d32e2c12c44.png)
http://develop2.akc.org/content/dog-training/unwanted-behaviors/

So the Category Name will show in the H1 and the Sub category name will be in the H2

[2016-03-16 15:22] kylejbertelsen commented on #99
For this latest change, I added an hour to the estimate.

[2016-03-16 15:40] toshan2014 commented on #87
@spaulenoff  please check on stage

http://stage-ng.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-16 16:02] toshan2014 commented on #99
@spaulenoff please qa : https://develop2.akc.org/content/dog-training/unwanted-behaviors/

[2016-03-16 16:30] toshan2014 commented on #99
please qa on stage : http://stage-ng.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-16 17:05] toshan2014 commented on #101
in the end i did not work on this ticket/branch. did my fix in #100

[2016-03-16 19:22] toshan2014 commented on #100
pf

Photos Gallery:
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-2/?photo_id=0

Video:
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-2/

Article:
https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-03-16 19:24] toshan2014 commented on #105
pf

Photos Gallery:
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-2/?photo_id=0

Video:
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-2/

Article:
https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-03-16 19:27] toshan2014 commented on #99
pf

http://develop2.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-16 19:28] toshan2014 commented on #87
pf:

http://develop2.akc.org/content/westminster-dog-show/live-coverage

[2016-03-16 19:32] toshan2014 commented on #4
pf:

http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-3/
http://develop2.akc.org/content/westminster-dog-show/articles/author-fb-test-article/
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video/
http://develop2.akc.org/akc-dog-lovers/why-the-miniature-american-shepherd-would-win-the-dog-olympics/
http://develop2.akc.org/n

[2016-03-16 20:09] spaulenoff commented on #108
@kylejbertelsen Elie confirmed he wants the following categories available on production
-Events (Category)
--Westminster Dog Show (Sub Category)
---Live Coverage (Sub Sub Category)

[2016-03-17 18:00] spaulenoff commented on #52
@kylejbertelsen Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:00] spaulenoff commented on #52
@kylejbertelsen Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:00] spaulenoff commented on #98
@kylejbertelsen Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:01] spaulenoff commented on #86
@skt2 Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:05] spaulenoff commented on #85
@skt2  Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:05] #86 closed, assigned to nobody

[2016-03-17 18:05] spaulenoff commented on #105
@toshan2014  Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:07] spaulenoff commented on #84
@skt2  Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:07] #52 closed, assigned to nobody

[2016-03-17 18:10] spaulenoff commented on #99
@toshan2014 Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:11] spaulenoff commented on #87
@toshan2014 Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:12] kylejbertelsen commented on #98
Approx. time spent: 24 hours

[2016-03-17 18:12] #98 closed, assigned to nobody

[2016-03-17 18:12] skt2 commented on #85
Time Spent: 12

[2016-03-17 18:12] #85 closed, assigned to nobody

[2016-03-17 18:13] kylejbertelsen commented on #52
Approx. time spent: 16 hours, over estimate because of in-progress direction changes.

[2016-03-17 18:14] skt2 commented on #84
Time Spent: 6

[2016-03-17 18:14] #84 closed, assigned to nobody

[2016-03-17 18:15] spaulenoff commented on #102
@skt2 Verified on Prod. Please add ticket with time tracking for this ticket

[2016-03-17 18:15] kylejbertelsen commented on #108
Approximate time spent: 6 hours

[2016-03-17 18:23] spaulenoff commented on #101
@skt2 Not verified on prod. There should be the following line of code in the source when noindex,nofollow is chosen
![image](https://cloud.githubusercontent.com/assets/13648969/13856465/b93c3fd8-ec4b-11e5-8978-72fd5ee70083.png)

Currently all that was added were CMS changes

[2016-03-17 18:28] spaulenoff commented on #103
@skt2 Verified on Prod. Please add comment regarding time tracking for this ticket

[2016-03-17 18:29] skt2 commented on #101
@kylejbertelsen What we want to do about this? Because all I did is CMS changes according to this comment: "All you need to do is turn on this vocabulary for the proper content types. Admin > Channel Administration > Channels"

[2016-03-17 18:30] spaulenoff commented on #81
@skt2 Verified on Prod. Please add comment regarding time tracking for this ticket

[2016-03-17 18:31] spaulenoff commented on #100
@toshan2014 Verified on Prod. Please add comment regarding time tracking for this ticket

[2016-03-17 18:32] spaulenoff commented on #88
@skt2 Verified on Prod. Please add comment regarding time tracking for this ticket

[2016-03-17 18:33] skt2 commented on #103
Time Spent: 2

[2016-03-17 18:33] #103 closed, assigned to nobody

[2016-03-17 18:34] skt2 commented on #88
Time Spent: 2

[2016-03-17 18:34] #88 closed, assigned to nobody

[2016-03-17 18:36] skt2 commented on #81
Time Spent: 1

[2016-03-17 18:36] #81 closed, assigned to skt2

[2016-03-17 18:37] spaulenoff commented on #89
@skt2 Verified on prod. please add comment regarding time tracking

[2016-03-17 18:39] spaulenoff commented on #90
@skt2 Verified on prod. please add comment regarding time tracking

[2016-03-17 18:40] skt2 commented on #89
Time Spent: 5

[2016-03-17 18:40] #89 closed, assigned to skt2

[2016-03-17 18:40] skt2 commented on #90
Time Spent: 3

[2016-03-17 18:40] #90 closed, assigned to nobody

[2016-03-17 18:42] kylejbertelsen commented on #101
That comment was not quite correct. Some testing of it would have been good, comparing the View Source of a page in production versus one in a development/dev/stage environment. Essentially, if there was no difference, something was wrong.

Ultimately, when in doubt ask questions until there is no more doubt. Some very basic questions would have cleared this up:
- what is the intended consequence

[2016-03-17 18:46] spaulenoff commented on #92
@skt2 http:Verified on Prod. Please add comment regarding time tracking

[2016-03-17 18:48] spaulenoff commented on #83
@skt2 Verified on prod. Please add comment regarding time tracking.

[2016-03-17 18:52] spaulenoff commented on #4
@toshan2014 Verified on prod. Please add comment with time tracking

[2016-03-17 18:52] skt2 commented on #92
Time Spent: 2

[2016-03-17 18:52] #92 closed, assigned to nobody

[2016-03-17 18:53] skt2 commented on #83
Time Spent: 4

[2016-03-17 18:53] #83 closed, assigned to nobody

[2016-03-17 18:54] skt2 commented on #102
Time Spent: 1

[2016-03-17 18:54] #102 closed, assigned to nobody

[2016-03-17 19:12] toshan2014 commented on #4
Spent around: 6h ( option2 was chosen over option1 mid-progress affecting the initial estimate )

[2016-03-17 19:14] toshan2014 commented on #100
Spent around: 7h ( cat structure was modified mid progress hence affecting initial estimate )

[2016-03-17 20:03] spaulenoff commented on #51
@skt2 Can't test on prod as it is a 24 hour counter. Please add time tracking to this ticket

[2016-03-17 20:04] spaulenoff commented on #108
@kylejbertelsen Verified on Prod. Please ad time tracking to this ticket

[2016-03-17 20:32] toshan2014 commented on #105
Time spent : 1h

[2016-03-17 20:33] toshan2014 commented on #99
Time spent: around 20h

[2016-03-17 20:45] skt2 commented on #86
Time Spent: 3

[2016-03-17 20:54] toshan2014 commented on #87
Spent: around 2h

[2016-03-18 14:22] #105 closed, assigned to nobody

[2016-03-18 14:22] #99 closed, assigned to nobody

[2016-03-18 14:22] #100 closed, assigned to nobody

[2016-03-18 14:23] #87 closed, assigned to nobody

[2016-03-18 14:23] #4 closed, assigned to nobody

[2016-03-18 14:23] #108 closed, assigned to nobody

[2016-03-18 14:54] skt2 commented on #51
Time Spent: 5h

[2016-03-18 14:57] spaulenoff commented on #101
Verified on Dev2
Examples: http://develop2.akc.org/content/westminster-dog-show/articles/live-test-coverage-blah/
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video/
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-2/?photo_id=0

[2016-03-18 14:59] spaulenoff opened #113 "Ability to Add E-Book CTA to new Article Pages in the CMS"
Need ability to add E-Book CTA to new Article Pages in the CMS. Same way you can add ebook cta's to /news/ /akc-dog-lovers/ and /learn/

This needs to be added in the CMS but it also needs to show up on the pages it self.

Examples:
http://www.akc.org/learn/akc-training/why-puppies-and-femal-dogs-hump-or-mount/
http://www.akc.org/learn/dog-health/diabetes-in-dogs/
http://www.akc.org/learn/family-d

[2016-03-18 15:12] spaulenoff opened #114 "Article/Photo-Gallery/Video Pages - Most Popular in Section needs to pull in 6 most recent pieces of content, regardless of type"
Most Popular in Section needs to pull in 6 most recent pieces of content, regardless of type. Currently pulling in 2 most recent pieces of content of each type (article/photo-gallery/video), instead of overall newest 6 pieces of content.

related to https://github.com/akcdotorg/akc.org/issues/84

[2016-03-18 15:14] #51 closed, assigned to nobody

[2016-03-18 15:17] spaulenoff commented on #106
Team Notes
• Video/Article/Photo Gallery: Implement Social Share Counters https://github.com/akcdotorg/akc.org/issues/51
o   Update to display social shares on new article, photo-gallery and video pages
• Category Page - Mobile: Entire page rework https://github.com/akcdotorg/akc.org/issues/85
o   Update to design of the mobile category pages
o   Time Spent - 12 hours
• Subcategory: Need to create

[2016-03-18 17:31] kylejbertelsen opened #115 "Combine all header snippets into one"
Delete all others from filesystem and from CMS.

[2016-03-18 17:35] kylejbertelsen opened #116 "Combine all header snippets into one."
Delete the others, both from filesystem and from the CMS.

[2016-03-18 17:36] kylejbertelsen opened #117 "Combine all footer snippets into one."
Delete others from filesystem and CMS.

[2016-03-18 17:38] kylejbertelsen opened #118 "Integrate new header and footer into wrapper project"
Use the newly-condensed header and footer snippets in the wrapper project used for ancillary sites.

[2016-03-18 17:40] skt2 commented on #114
**Time Spent: 4h**

[2016-03-18 17:40] kylejbertelsen commented on #107
Moved to Backlog-Improvement. Can't schedule this without any requirements.

[2016-03-18 17:41] kylejbertelsen commented on #104
Bumped to backlog - Improvement. No requirements == no scheduling.

[2016-03-18 17:43] kylejbertelsen commented on #82
@toshan2014: Please read this ticket, and let me know whether you understand what they want, and give an estimate on how long it would take you, according to your understanding of the ticket.

[2016-03-18 17:47] kylejbertelsen commented on #57
@toshan2014: repair for the existing CSS, and add a comment to this ticket explaining what you did to fix it: we'll want to replicate that fix in the Compass/Foundation SCSS as well.

[2016-03-18 17:50] toshan2014 commented on #82
@spaulenoff @kylejbertelsen  by "Most popular", do we mean "Most viewed/read"?

Also can I be provided with an example of "featured content". I want to see how they are being distinguished from usual content.

[2016-03-18 17:50] kylejbertelsen commented on #63
@spaulenoff: please split this into 2 tickets: research the effect of this on pre-registered users; and implement the new Gigya modal. Estimate 2 hours for the first, and have Toshan make his own estimate for the second.

[2016-03-18 17:53] #106 closed, assigned to nobody

[2016-03-18 17:56] skt2 commented on #116
Time Spent: 4h

**CMS Changes:**
CMS > Design > Templates > Snippets
Look for {snip-header-dynamic} and {snip-header-training}  -- Delete.

[2016-03-18 18:06] spaulenoff commented on #107
Related to #107

[2016-03-18 18:07] spaulenoff commented on #107
Related to #82

[2016-03-18 18:11] spaulenoff commented on #82
@elieo @stevepessah Can you please confirm filters you would like to use on subcategory pages?

Currently what I am thinking is:
- Most Viewed
- Most Recent
- Alphabetical
- Most Comments and/or Social Shares

[2016-03-18 18:19] toshan2014 commented on #82
just FYI, most "Most Comments and/or Social Shares" is not one of EE's built-in filters (unless we use EE's commenting module rather than Facebook's ). We'll have to discuss with Kyle for other ways to implement this if that's chosen.
@spaulenoff @kylejbertelsen

[2016-03-18 18:19] kylejbertelsen opened #119 "Set up Compass and Foundation in your sandbox"
Instructions here: https://github.com/akcdotorg/akc.org/wiki/setup

Follow instructions. Ask questions/advice of Kyle. Reassign to Kyle when you're done.

[2016-03-18 18:24] skt2 commented on #116
Going to delete {snip-header-dynamic} and {snip-header-training} snippets as it seems we are not using this anywhere. @kylejbertelsen @toshan2014 Please let me know if you know that we still need this.

Going to keep {snip-header-microblog} snippet until we get rid of /learn section so I am thinking not to spent time combining this one because eventually we gonna get rid of this.

[2016-03-18 18:25] spaulenoff opened #120 "Category/Subcategory Page: Title tag isn't being pulled from CMS"
Title tag isn't being pulled from CMS for category pages. For Example - http://www.akc.org/content/westminster-dog-show/

What is in the CMS:
![image](https://cloud.githubusercontent.com/assets/13648969/13887973/1ff90d7c-ed15-11e5-82e8-77ff8b88a658.png)

[2016-03-18 18:27] spaulenoff opened #121 "Category/Subcategory Page: Remove "media" that is appended at the end of the OG Title and Twitter Title"
Examples:
http://www.akc.org/content/westminster-dog-show/
http://www.akc.org/content/breeding/
http://www.akc.org/content/dog-health-1/

[2016-03-18 18:28] kylejbertelsen commented on #119
Familiarize yourself with the standards on: https://github.com/akcdotorg/akc.org/wiki/scss

When working with scss-to-compass branch, you'll want to update in the CMS any snippets that have been edited in that branch:
- snip-footer-dynamic
- snip-footer
- snip-header-dynamic
- snip-header-microblog
- snip-header
- snip-learn-detail

Let Kyle know of any others you come across, and he'll add them t

[2016-03-18 18:33] spaulenoff opened #122 "New Microsite Pages: Internal Links are point to pieces of content without the ending slash"
Category/Subcategory page example: For example currently the tiles on http://www.akc.org/content/breeding/ are point to: http://www.akc.org/content/breeding/articles/tax-tips-for-dog-breeders they should point to http://www.akc.org/content/breeding/articles/tax-tips-for-dog-breeders/

Content Example: Tiles on http://www.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2

[2016-03-18 18:36] spaulenoff opened #123 "Category Page: Remove Text Underline when hovering over View more Button for each section (Articles, Photo-Galleries, Videos)"
Need to Remove Text Underline when hovering over View more Button for each section (Articles, Photo-Galleries, Videos).

Example: http://www.akc.org/content/westminster-dog-show/

![image](https://cloud.githubusercontent.com/assets/13648969/13888231/bbf798dc-ed16-11e5-90fb-9fc5ecfef25f.png)

[2016-03-18 18:42] toshan2014 commented on #116
@skt2 I've done a search and find for those two snippets. I can't see them being used anywhere. So I would think they can be deleted.

[2016-03-18 18:42] spaulenoff opened #124 "Category/Subcategory page: Mobile - Have H1 Orange bar adjust to the length of the H1 tag"
Currently the H1 tag on mobile category pages are sometimes too wide. Example: http://www.akc.org/content/breeding/
![image](https://cloud.githubusercontent.com/assets/13648969/13888395/9b935652-ed17-11e5-8221-ccfa7d4f2e48.png)

Can we make the Orange bar adjust to the length of the H1 tag?

[2016-03-18 19:03] skt2 commented on #116
@kylejbertelsen so If understood this correctly, there is nothing left to combine, All I need to do is delete couple of snippets from CMS and File systems and I am done right?

[2016-03-18 19:04] spaulenoff opened #125 "Article Page: Change h2 Tag"
Update h2 tag **WITHIN THE ARTICLE CONTENT** on article pages to following dimensions:
- margin: 20px 0 20px;
- font-size: 1.7rem;
- text-transform: none !important;

[2016-03-18 19:07] kylejbertelsen commented on #116
Make certain that they don't appear anywhere -- then, yes -- but delete them from both the CMS and from the filesystem.

[2016-03-18 19:07] kylejbertelsen commented on #116
And ... actually -- check out the scss-to-compass branch, and do the same in that branch.

[2016-03-18 19:08] spaulenoff opened #126 "Article Pages: Desktop - Image Sizing isn't working in CMS"
On Example page http://www.akc.org/content/breeding/articles/tax-tips-for-dog-breeders/ the photos are automatically becoming full screen, no matter the dimensions you choose in the cms

![image](https://cloud.githubusercontent.com/assets/13648969/13889098/27a9d154-ed1b-11e5-9e91-760e757cd302.png)

Sizes in CMS:
![image](https://cloud.githubusercontent.com/assets/13648969/13889119/3da701e8-ed1b-11

[2016-03-18 19:12] spaulenoff opened #127 "Article/Video/Photo-Gallery: Desktop - Change style of social Share button"
Change from box style as it currently is to flat style like this http://screencast.com/t/mrpNeq7avrpG

http://www.akc.org/content/breeding/articles/tax-tips-for-dog-breeders/

[2016-03-18 19:15] spaulenoff opened #128 "Article/Video/Photo-Gallery Pages: Mobile - Twitter share button is “{title}” in the tweet"
Example: http://www.akc.org/content/breeding/articles/tax-tips-for-dog-breeders/

![image](https://cloud.githubusercontent.com/assets/13648969/13889295/2f635fb8-ed1c-11e5-86da-1423a75c35f6.png)

This is working properly on desktop:
![image](https://cloud.githubusercontent.com/assets/13648969/13891410/4a9c8092-ed27-11e5-841f-58af26285dd4.png)

[2016-03-18 19:21] skt2 commented on #116
Thanks. Sure, I will delete above mentioned snippet from scss-to-compass branch, and push the changes to origin.

[2016-03-18 19:23] skt2 commented on #116
@spaulenoff, Here is how you can test this changes:
1. Make sure they are gone from CMS.
2. Make sure site is stable and nothing is broken after this action.

[2016-03-18 19:25] spaulenoff commented on #114
@skt2 Verified on Dev2 http://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-03-18 19:41] elieo opened #129 "Mobile Content Category Page Alignment"
We want move the elements on the mobile category page to match a consistent alignment. See screenshot below:
![image](https://cloud.githubusercontent.com/assets/1423008/13890045/da94f4d4-ed1f-11e5-9783-01db7e7df6f7.png)

[2016-03-18 19:43] elieo commented on #127
Also, the share count should be vertically centered.

[2016-03-18 19:54] skt2 commented on #117
Time Spent: 4h

**CMS Changes:**
CMS > Design > Templates > Snippets
Look for {snip-footer-dynamic}, {snip-footer-microblog} and {snip-footer-training} -- Delete.

[2016-03-18 20:01] spaulenoff commented on #116
@skt2 Where in the CMS do i check if they are gone?

[2016-03-18 20:03] skt2 commented on #116
CMS > Design > Templates > Snippets

[2016-03-18 20:04] elieo commented on #125
To clarify, we want the end result to look like this:
![image](https://cloud.githubusercontent.com/assets/1423008/13890678/1e5dd714-ed23-11e5-9751-60a64fd937fa.png)

[2016-03-18 20:12] skt2 commented on #117
Going to delete {snip-footer-dynamic}, {snip-footer-training} and {snip-footer-microblog} snippets as it seems we are not using this anywhere. @toshan2014 Can you please confirm this at your end once, just to be double sure?

[2016-03-18 20:30] kylejbertelsen commented on #120
Please clarify what is missing, and what is currently there. Please give specifics: meta name="title"? < title >< /title >? etc. Please test by giving a cat page different values in existing form, so you can know what is coming from where.

[2016-03-18 20:42] spaulenoff commented on #120
On the following page: http://develop2.akc.org/content/westminster-dog-show/ The Title tag is not pulling from source
![image](https://cloud.githubusercontent.com/assets/13648969/13891576/58d11ae6-ed28-11e5-8169-4f9cf6028907.png)

CMS form:
![image](https://cloud.githubusercontent.com/assets/13648969/13891591/6cd5c744-ed28-11e5-8439-15fd0c950ac1.png)
![image](https://cloud.githubusercontent.com/as

[2016-03-18 20:48] kylejbertelsen commented on #120
Looks to me like it's appending Media. Just remove what's making it do that.

@spaulenoff: Should it also stop appending ' Video' and ' Photo Gallery' on those pages?

[2016-03-18 20:50] spaulenoff commented on #120
Almost but tag of the page is not pulling correctly.
![image](https://cloud.githubusercontent.com/assets/13648969/13891780/8f74f8a0-ed29-11e5-89a0-506173390ffc.png)

Per the second note, do not change the other pages

[2016-03-21 13:30] kylejbertelsen opened #130 "New CSS for Wrapper"
Build-out the namespaced css for the header and footer, so they can be included in ancillary sites.

Styles should be:
- namespaced, as to have minimal effect on the remainder of the calling page
- namespaced, as to protect the wrapper itself from inadvertently styling the header and footer in the calling page
- optionally include the akc.org normalization and screen stylesheets, but not require t

[2016-03-21 15:25] kylejbertelsen commented on #130
Time tracking:
Estimate: 16 hours
2016-03-21: 04 hours
2016-03-22: 03 hours
2016-03-23: 04 hours
2016-03-24: 03 hours
2016-03-25: 01 hours
2016-03-28: 01 hours
2016-03-29: 02 hours
2016-03-30: 02 hours

[2016-03-21 16:35] spaulenoff opened #131 "New Gigya Modal: Research effects of new Gigya Modal on pre-registered users"
Related to #63

[2016-03-21 16:46] skt2 commented on #126
Time Spent: 3h

**CMS Changes:**
CMS > Admin > Channel Admin > Channel Fields > Article > Article Content
Instructions: Article text. While inserting an image recommended maximum width: 800px

[2016-03-21 16:49] skt2 commented on #126
Example: http://develop2.akc.org/content/westminster-dog-show/articles/masters-agility-and-obedience-results/

[2016-03-21 17:22] spaulenoff commented on #126
Not Verified on Dev2. http://develop2.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/

The following image is being stretched vertically:
![image](https://cloud.githubusercontent.com/assets/13648969/13927402/f6875584-ef67-11e5-8c91-4e1162055667.png)

[2016-03-21 18:41] spaulenoff commented on #126
@stevepessah IT looks good to me on Dev2 desktop and mobile. Please verify on this piece of test content i created: http://develop2.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/

[2016-03-21 19:01] toshan2014 commented on #119
Setting-up Compass and Foundation seems successful. Below is a screenshot of what I see:
<img width="418" alt="scss-compass" src="https://cloud.githubusercontent.com/assets/6847220/13930584/a6a34358-ef5c-11e5-88c5-a228d4f37e77.PNG">

Please inform if incorrect

[2016-03-21 19:03] toshan2014 commented on #119
Time spent : 45min

[2016-03-21 19:05] spaulenoff commented on #63
Per @kylejbertelsen Comment, @toshan2014 Please provide an estimate for this and add this to your ticket queue. This ticket is in regards to implementation.

[2016-03-21 19:52] skt2 commented on #128
Time Spent: 3h

[2016-03-21 19:58] skt2 commented on #121
Time Spent: Still working

[2016-03-21 20:30] skt2 commented on #124
Time Spent: 2h

[2016-03-22 03:35] toshan2014 commented on #120
Please QA :
https://develop2.akc.org/content/westminster-dog-show/
https://develop2.akc.org/content/westminster-dog-show/live-coverage/
https://develop2.akc.org/content/westminster-dog-show/videos/westminster-most-popular-section-test-video/
https://develop2.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/
https://develop2.akc.org/content/westminster-dog-show/photo

[2016-03-22 03:35] toshan2014 commented on #120
Time spent: 02:15

[2016-03-22 03:51] toshan2014 commented on #55
Please QA :
https://develop2.akc.org

[2016-03-22 03:51] toshan2014 commented on #55
Time spent: 30min

[2016-03-22 04:41] toshan2014 commented on #123
Please QA :
https://develop2.akc.org/content/westminster-dog-show/

[2016-03-22 04:42] toshan2014 commented on #123
Time spent: 1h

[2016-03-22 04:51] toshan2014 commented on #121
Fixed as part of #120 - please QA

[2016-03-22 04:52] toshan2014 commented on #121
Time spent: 30 min

[2016-03-22 05:14] toshan2014 commented on #30
Please qa :  http://develop2.akc.org/zdfsfds/

[2016-03-22 05:14] toshan2014 commented on #30
Time spent: 30min

[2016-03-22 13:22] skt2 commented on #127
Time Spent: 4h

[2016-03-22 13:39] spaulenoff commented on #120
Verified on Develop 2: https://develop2.akc.org/content/test/
https://develop2.akc.org/content/westminster-dog-show/
https://develop2.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-22 13:43] spaulenoff commented on #121
Verifified as part of #120

[2016-03-22 13:44] spaulenoff commented on #123
@stevepessah Please QA on Dev2 Desktop: https://develop2.akc.org/content/westminster-dog-show/
https://develop2.akc.org/content/westminster-dog-show/articles/

[2016-03-22 13:54] spaulenoff commented on #55
@stevepessah Currently These are listed in alphabetical order on dev2:
1. FSS
2. Herding
3. Hound
4. Miscellaneous
5. Non Sporting
6. Sporting
7. Terrier
8. Toy
9. Working

Can you please confirm where you want FSS and Miscellaneous placed, I am thinking at the bottom of the list under working so it would go:

...Working, Miscellaneous, FSS

[2016-03-22 13:57] spaulenoff commented on #30
@stevepessah Verified on dev2:
http://develop2.akc.org/content/westminster-dog-show/videos/jkdaslgsajk/
http://develop2.akc.org/events/ffdbjkgds/
http://develop2.akc.org/news/fffdhdaG/
http://develop2.akc.org/zdfsfds/

[2016-03-22 13:59] skt2 commented on #127
@spaulenoff After changing desktop style, this is how it looks on tablet so please let me know how we want to style it on tablet.

![screen shot 2016-03-22 at 9 56 26 am](https://cloud.githubusercontent.com/assets/16002526/13953888/9aac21b0-f014-11e5-9f1e-f586b39093e5.png)

[2016-03-22 14:20] spaulenoff opened #132 "3/31 Sprint Log"
# **Planned Tickets:**

https://github.com/akcdotorg/akc.org/issues/101
https://github.com/akcdotorg/akc.org/issues/114
https://github.com/akcdotorg/akc.org/issues/128
https://github.com/akcdotorg/akc.org/issues/124
https://github.com/akcdotorg/akc.org/issues/120
https://github.com/akcdotorg/akc.org/issues/121
https://github.com/akcdotorg/akc.org/issues/126
https://github.com/akcdotorg/akc.org/iss

[2016-03-22 14:25] skt2 commented on #127
@elieo what do you think?
1st
![screen shot 2016-03-22 at 10 21 12 am](https://cloud.githubusercontent.com/assets/16002526/13954671/2c5288cc-f018-11e5-9efc-dfc13b52569a.png)

2nd
![screen shot 2016-03-22 at 10 22 18 am](https://cloud.githubusercontent.com/assets/16002526/13954682/37752034-f018-11e5-8376-2925b3488881.png)

3rd
![screen shot 2016-03-22 at 10 22 56 am](https://cloud.githubusercontent

[2016-03-22 14:28] elieo commented on #127
@skt2 3rd option looks good. But let's add some width to the article title.

[2016-03-22 14:31] skt2 commented on #127
Got it. Thanks! This is how its gonna be.
![screen shot 2016-03-22 at 10 31 01 am](https://cloud.githubusercontent.com/assets/16002526/13954963/440fef4e-f019-11e5-9549-497126846bae.png)

[2016-03-22 16:12] kylejbertelsen commented on #132
An urgent release was asked for by @elieo for release on 3/23 in the morning. We'll have to re-evaluate the sprint after this is done, though I project that the release will eat about 12 hours of our time, in total.

[2016-03-22 16:18] toshan2014 commented on #125
Please QA : https://develop2.akc.org/content/westminster-dog-show/articles/masters-agility-and-obedience-results/

Note: It does look odd that the H1 main title is smaller than the in-article H2s now

[2016-03-22 16:20] toshan2014 commented on #122
Please QA:
https://develop2.akc.org/content/westminster-dog-show/
https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-03-22 16:23] toshan2014 commented on #122
Time spent: 30min

[2016-03-22 16:24] spaulenoff commented on #126
@stevepessah and @elieo  Please QA on Dev2: http://develop2.akc.org/content/test/articles/tax-tips-for-dog-breeders/
http://develop2.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/

It looks good to me and i checked mobile that it is working as well

[2016-03-22 16:24] toshan2014 commented on #125
Time spent: 15min

[2016-03-22 16:25] spaulenoff commented on #127
@stevepessah and @elieo Please QA on Dev2: http://develop2.akc.org/content/test/articles/tax-tips-for-dog-breeders/
http://develop2.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/

It looks good to me and i checked tablet that it is working as well. The buttons are working correctly for me

[2016-03-22 16:26] spaulenoff commented on #114
@stevepessah @elieo Please QA on Dev2:
http://develop2.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/
http://develop2.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/
http://develop2.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery-2/

[2016-03-22 16:28] spaulenoff commented on #125
@stevepessah @elieo Please QA on Dev2: http://develop2.akc.org/content/test/articles/tax-tips-for-dog-breeders/

Toshan has a point that the H2 (1.7em) tag is now larger then the H1 (1.44em). Please confirm how you would like to proceed here

[2016-03-22 16:30] spaulenoff commented on #122
@stevepessah @elieo This is working correctly when I QA'd. Please QA on dev2: http://develop2.akc.org/content/westminster-dog-show/ > http://develop2.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/
http://develop2.akc.org/content/westminster-dog-show/ > http://develop2.akc.org/content/westminster-dog-show/videos/westminster-most-popular-section-test-video/
http://

[2016-03-22 16:50] spaulenoff commented on #132
We are no longer having the 3/23 release. Please proceed as normal @kylejbertelsen @toshan2014 @skt2

[2016-03-22 17:28] skt2 commented on #89
@spaulenoff The reason we did video overlay changes because video was covered by overlay when someone scroll the page.

[2016-03-22 18:02] spaulenoff opened #133 "Update Featured Article Display for /news/ articles"
Look through codebase for any other instances where there's an img tag in place of the correct div with the background URL, as fixed in the blog/.listing.html today.

[2016-03-22 18:51] toshan2014 commented on #133
Please QA @spaulenoff

[2016-03-22 19:08] spaulenoff commented on #133
Verified on Prod

[2016-03-22 19:15] #22 closed, assigned to nobody

[2016-03-22 19:18] stevepessah opened #134 "Start Google DFP discovery"

[2016-03-22 19:18] stevepessah opened #135 "Replace breed page UGC with new photo gallery module"
See also #163

We're going to embed the new microsite photo gallery module onto the breed pages as a replacement for the UGC module. Below example is using the Czechoslovakian Vlcak.

A: Change H2 to "The Czechoslovakian Vlcak"
B: Add line of copy below H2 with padding-top: 10px. Line should say "Click here to view photos and videos from the Czechoslovakian Vlcak community" (should be editable in

[2016-03-22 19:45] kylejbertelsen commented on #63
BLOCKED by 131

[2016-03-22 19:47] spaulenoff commented on #113
Only apply the CTA do article pages.

[2016-03-22 20:20] toshan2014 commented on #133
Merged and pushed AKC3-133  to develop2

[2016-03-22 20:27] toshan2014 commented on #133
I don't think it's a good idea to blindly replace all img tags by background imgs. It can be risky and in some places they might be serving a purpose. I think it's better to identify an issue first then do the change. @kylejbertelsen agree?

[2016-03-22 20:41] stevepessah commented on #55
@spaulenoff it should be FSS, Misc at the end.

[2016-03-22 20:44] stevepessah commented on #123
Verified on dev2.

[2016-03-22 20:45] spaulenoff commented on #55
@toshan2014 Please adjust the list to follow:
1. Herding
2. Hound
3. Non Sporting
4. Sporting
5. Terrier
6. Toy
7. Working
8. FSS
9. Miscellaneous

[2016-03-22 21:00] stevepessah commented on #30
Verified on dev2.

[2016-03-22 21:04] stevepessah commented on #127
@spaulenoff social share button style verified on dev2.

[2016-03-22 21:06] stevepessah commented on #125
@elieo does look very odd having the h2 bigger than the h1. Your call though.

[2016-03-22 21:08] toshan2014 commented on #55
Order change - please check : https://develop2.akc.org/

[2016-03-22 21:09] spaulenoff commented on #55
@stevepessah I am seeing it working for me. Please verify on dev2

[2016-03-22 21:10] stevepessah commented on #126
Verified on dev2.

[2016-03-22 21:13] stevepessah commented on #55
Verified on dev2.

[2016-03-23 13:46] stevepessah commented on #122
Verified on dev2.

[2016-03-23 13:50] stevepessah commented on #114
Verified on dev2.

[2016-03-23 14:18] spaulenoff commented on #127
@stevepessah Please QA on stage: http://stage-ng.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/
http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0
http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/
http://stage-ng.akc.org/content/westminster-dog-show/articles/tax-tips-for-do

[2016-03-23 14:26] spaulenoff commented on #126
@stevepessah Please QA on stage: http://stage-ng.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/
http://stage-ng.akc.org/content/westminster-dog-show/articles/tax-tips-for-dog-breeders/

They look good to me

[2016-03-23 14:34] stevepessah commented on #126
Verified on stage.

[2016-03-23 14:35] spaulenoff commented on #114
@stevepessah Please QA on Stage: http://stage-ng.akc.org/content/westminster-dog-show/articles/test-article-different-image-sizes/
http://stage-ng.akc.org/content/westminster-dog-show/videos/westminster-test-video-3/
http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0
http://stage-ng.akc.org/content/westminster-dog-show/articles/test-article-di

[2016-03-23 14:51] stevepessah commented on #127
Verified on stage on desktop/tablet.

[2016-03-23 14:55] stevepessah commented on #114
Verified on stage.

[2016-03-23 15:28] #119 closed, assigned to nobody

[2016-03-23 15:32] kylejbertelsen commented on #73
We want to have a process that minifies JS outside of gulp, since we want to get rid of gulp.

[2016-03-23 15:36] spaulenoff opened #136 "Sitespeed: Research and Evaluate AMP Project"
Related to https://github.com/akcdotorg/akc.org/issues/76

https://www.ampproject.org/

[2016-03-23 15:37] spaulenoff commented on #76
Blocked by #136

[2016-03-23 15:51] skt2 commented on #74
Time Spent: 2h

[2016-03-23 18:12] toshan2014 commented on #120
Stage:
http://stage-ng.akc.org/content/westminster-dog-show/
http://stage-ng.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-23 18:13] toshan2014 commented on #121
Stage:
http://stage-ng.akc.org/content/westminster-dog-show/live-coverage/
http://stage-ng.akc.org/content/westminster-dog-show/

[2016-03-23 18:14] toshan2014 commented on #123
Stage:
http://stage-ng.akc.org/content/westminster-dog-show/

[2016-03-23 18:16] toshan2014 commented on #30
Stage :
http://stage-ng.akc.org/zdfsfds/

[2016-03-23 18:19] stevepessah opened #137 "Make photo required for articles/video/photo pages"
Ensure that the Thumbnail image field is required for articles/videos/photo gallery so that they don't get published without an image (which will display a large thumbnail without the image).

[2016-03-23 18:23] toshan2014 commented on #55
stage -
http://stage-ng.akc.org/

[2016-03-23 18:24] toshan2014 commented on #122
stage :
http://stage-ng.akc.org/content/westminster-dog-show/

[2016-03-23 18:31] stevepessah opened #138 "Keep "Most Popular" as section title but filter in posts with most views instead of by date"
Related to #114 for Articles/Videos/Photo-Galleries

[2016-03-23 19:15] spaulenoff commented on #137
@kylejbertelsen Who should I assign this to to work on and to add an estimate.

[2016-03-23 19:20] spaulenoff commented on #138
@kylejbertelsen Can you please look over this ticket and confirm who this should be assigned to and an estimate?

[2016-03-23 19:24] spaulenoff commented on #120
@stevepessah Please Verify on Stage: http://stage-ng.akc.org/content/dog-training/basic-training/
http://stage-ng.akc.org/content/dog-training/

[2016-03-23 19:25] spaulenoff commented on #123
@stevepessah Please verify on stage http://stage-ng.akc.org/content/westminster-dog-show/

[2016-03-23 19:28] spaulenoff commented on #30
@stevepessah Please verify on stage: http://stage-ng.akc.org/dfskdfhfdsfh/
http://stage-ng.akc.org/content/westminster-dog-show/articles/fdjkafdklhg/
http://stage-ng.akc.org/content/westminster-dog-show/videos/dbnajkbdlfg/
http://stage-ng.akc.org/events/fhfdzfhd/
http://stage-ng.akc.org/news/dfhahnasfdn/

[2016-03-23 19:28] spaulenoff commented on #55
@stevepessah Please verify on stage

[2016-03-23 19:33] spaulenoff commented on #122
@stevepessah Please QA on stage: http://stage-ng.akc.org/content/westminster-dog-show/
http://stage-ng.akc.org/content/westminster-dog-show/live-coverage/

Most popular in section:
http://stage-ng.akc.org/content/westminster-dog-show/photo-galleries/westminster-test-gallery/?photo_id=0
http://stage-ng.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/
http://stage-ng.ak

[2016-03-23 19:40] toshan2014 commented on #64
Please QA :
http://develop2.akc.org/dog-breeds/smallest-dog-breeds/
http://develop2.akc.org/dog-breeds/

[2016-03-23 19:40] toshan2014 commented on #64
Time spent: 1h30min

[2016-03-23 19:51] kylejbertelsen commented on #138
@skt2: please give me an estimate as to how long this will take. It remains to be seen whether the actual work will occur in this sprint -- but if we can, we should.

[2016-03-23 19:57] spaulenoff commented on #64
@stevepessah Please verify on develop2 (it will be on the right rail under the first 200x250):
http://develop2.akc.org/dog-breeds/
http://develop2.akc.org/dog-breeds/smallest-dog-breeds/
http://develop2.akc.org/dog-breeds/groups/terrier/
http://develop2.akc.org/dog-breeds/largest-dog-breeds/
http://develop2.akc.org/dog-breeds/best-family-dogs/

[2016-03-23 20:16] skt2 commented on #137
Time Spent: 1h

NOTE: Only CMS Changes. No Code changes so branch not created.

**CMS CHANGES**
CMS > Admin > Channel Admin > Channel Fields > Article/Media
Edit thumbnail field > Is this a required field? to Yes

[2016-03-23 20:27] skt2 commented on #138
@kylejbertelsen Added. Approx. 3h

Time Spent: 6h

[2016-03-23 20:28] stevepessah commented on #55
Verified on stage.

[2016-03-23 20:29] spaulenoff commented on #137
Verified on dev2

[2016-03-23 20:30] stevepessah commented on #122
Verified on stage.

[2016-03-23 20:33] stevepessah commented on #64
Verified on dev2.

@spaulenoff I saw two pages still have the 300x600 ad unit. Is that being taken care of in another ticket? If so, this can be moved to the Verified on Dev2 pipeline.

[2016-03-23 20:37] stevepessah commented on #120
Verified on stage.

[2016-03-23 20:39] stevepessah commented on #30
Verified on stage.

[2016-03-23 20:39] stevepessah commented on #64
Verifying.

[2016-03-23 20:40] stevepessah commented on #123
Verified on stage.

[2016-03-23 20:49] spaulenoff commented on #121
verified on stage as part #120

[2016-03-23 22:23] toshan2014 commented on #31
To test the issue:
- I created a new screen set **Login-web-2** in the GigyaConsole
- Set "public_html/src/js/lib/gigya/LoginIntegration.js" to point to **Login-web-2** instead of **Login-web**
- Then I created a new account using the Sign-Up and while the email address used was "unverified" (meaning I did not click on a link to confirm the email from my inbox), I tried the Forgot Password feature

[2016-03-24 07:13] toshan2014 commented on #57
Fix: changed padding-left: 10em --> 6em in public_html/src/scss/components/_nav.scss

[code]

[2016-03-24 07:14] toshan2014 commented on #57
Time spent: 30min

[2016-03-24 07:23] toshan2014 commented on #57
Please QA : http://develop2.akc.org/

[2016-03-24 13:59] kylejbertelsen opened #139 "Define basic content building blocks"
Make base styles for the content of articles across the site:
- header styles, including subheads within the content
- credit lines and captions
- paragraph text

[2016-03-24 14:04] kylejbertelsen opened #140 "Assemble list of Pros & Cons of Expression Engine"

[2016-03-24 14:05] kylejbertelsen opened #141 "Assemble list of Pros & Cons of Drupal"

[2016-03-24 14:06] kylejbertelsen opened #142 "Assemble list of Pros & Cons of Tribeca CMS"

[2016-03-24 14:09] kylejbertelsen opened #143 "Research possibility of shell script for git deployments"
Perhaps a CLI script can be run to deploy code to development/stage/production servers. I have done this in the past, and it seems like as good of an option as Jenkins, etc.

Recommendation: shell runs deployments via git commands, and other shell commands as-needed.

[2016-03-24 14:13] kylejbertelsen opened #144 "Create header and footer snippets for use in callable-wrapper product"
To allow for a sane implementation of the new scss, we'll start by using it in the callable-wrapper project.

Assemble instructions and demonstration for calling the callable-wrapper, including the use of both or either of header and footer.

[2016-03-24 14:22] kylejbertelsen commented on #136
What are the benefits of this? What problems are we hoping to resolve by using this? Are there any competing solutions to the problems we're hoping to resolve, and how do those compare?

These are the questions I should answer in this research.

[2016-03-24 14:54] kylejbertelsen opened #145 "Assemble list of Pros & Cons for new CMS, versus staying the course"
Should we build a new CMS from the beginning, or continue to use our current system? Would the benefits of a rebuild outweigh the time commitment required to get feature parity with the current?

[2016-03-24 15:10] kylejbertelsen opened #146 "Deep-linking to filtered Calendar views"
From Steve:

We’re looking into ways to drive more consumers to the Event Calendar (https://www.apps.akc.org/apps/event_calendar/index_mobi.cfm) but one of the limitations we’re encountering is that the URL doesn’t change when you select different event types, states, or dates. I was wondering how difficult it would be to update how this works so we can direct people to the correct portion of the

[2016-03-24 15:22] spaulenoff commented on #131
@stevepessah and I have to connect based on information Gigya provided

[2016-03-24 15:32] kylejbertelsen commented on #31
Where is the 'missing' function called from? You might have some luck from recajiggering the load-order of the JavaScripts.

[2016-03-24 15:33] toshan2014 commented on #64
Stage :
http://stage-ng.akc.org/dog-breeds/smallest-dog-breeds/
http://stage-ng.akc.org/dog-breeds/

[2016-03-24 15:36] toshan2014 commented on #57
stage : http://stage-ng.akc.org/

[2016-03-24 15:43] spaulenoff commented on #64
@stevepessah Please QA on stage: http://stage-ng.akc.org/dog-breeds/largest-dog-breeds/
http:http://stage-ng.akc.org/dog-breeds/groups/hound/
http://stage-ng.akc.org/dog-breeds/best-dogs-for-kids/
http://stage-ng.akc.org/dog-breeds/
http://stage-ng.akc.org/dog-breeds/?letter=M

[2016-03-24 15:57] toshan2014 commented on #31
@kylejbertelsen From the Raas Markup ( which is on the gigya console ) as suggested by the solution. I'll try loading that JS after everything else.

[2016-03-24 16:17] stevepessah commented on #64
Verified on stage.

[2016-03-24 17:29] stevepessah commented on #146
@kylejbertelsen for some more info, we'll want to send people to pages based on:
- Type of event
- Location of event (by state)
- Date range of events (ability to send people to all events taking place in May 2016 for example)

Let me know if you need any further details here.

[2016-03-24 17:31] skt2 commented on #138
@kylejbertelsen This is taking longer then expected. Do you want me to continue exploring this? At this stage I am not sure how long it will take and even we will make it work or not.
Basically this is built-in EE feature which seems to be not working.
Database Table: exp_channel_titles
Reference Links:
https://docs.expressionengine.com/v2/add-ons/channel/entry_tracking.html
https://ellislab.com/f

[2016-03-24 19:16] skt2 commented on #73
Time Spent: 6h

How to QA: @spaulenoff
1. Make sure top menu is working fine.
2. Footer is working fine.
3. Gigya login is working fine
4. Ads are working fine across the site
5. Pages with use of JS is working fine. (/find-a-match)
6. View source: you only see one JS file instead of list of files. (/cache/...)
7. Check and see if you find difference on site speed test. (May be this won't have per

[2016-03-24 20:03] spaulenoff commented on #73
Looks good to me. I am going to have Aspire look over the site this weekend to confirm though.

[2016-03-24 21:00] toshan2014 commented on #113
Add an ebook to article through the Article channel ( last entry ):

Please QA :
https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/ ( has an ebook )

https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-1/ ( has no ebook )

[2016-03-24 21:02] toshan2014 commented on #113
Time spent: 1h30min

[2016-03-25 13:14] spaulenoff commented on #130
- @kylejbertelsen Just so the notes are all in one place.
- Desktop Header: https://docs.google.com/document/d/11wME5l--pzDR1XKsiOhND22tfcpejdTYUKsR2uCR2KM/edit
- Desktop Footer: https://docs.google.com/document/d/1GFYQC5Xx-_1ZfNsxpFhiKcTspTKf0acQMmtLYAE34wg/edit
- Mobile Footer: ![mobile footer markup](https://cloud.githubusercontent.com/assets/13648969/14044710/f1035afe-f269-11e5-92aa-11dafc9859

[2016-03-25 14:46] spaulenoff commented on #130
First Mobile header markup:

![mobile header top level markup](https://cloud.githubusercontent.com/assets/13648969/14046282/ca5e8aba-f276-11e5-8d28-922d823f03b9.png)

Subnav Markup:

![mobile header subnav mark up](https://cloud.githubusercontent.com/assets/13648969/14046373/75ae1b42-f277-11e5-86ee-b22a02e4c220.png)

Sub subnav markup:

![mobile header sub subnav mark up](https://cloud.githubuserc

[2016-03-25 15:31] toshan2014 commented on #113
Stage : http://stage-ng.akc.org/content/westminster-dog-show/articles/tax-tips-for-dog-breeders/

[2016-03-25 15:37] kylejbertelsen opened #147 "Suggest SCSS mixins"
Open call:

List out some links (and descriptions) of any SCSS mixins you think would be useful for us.

[2016-03-25 15:54] spaulenoff commented on #138
@elieo @stevepessah Please see Shailesh's comments above on why this ticket is taking longer than originally expected. Please advise on if you would like to keep this in the sprint or if you want to reevaluate this issue next week.

[2016-03-25 16:23] elieo commented on #125
@stevepessah  you're leading this now. You make the call.

[2016-03-28 07:03] toshan2014 commented on #133
Added changed to author listing. That was one other place where `class="article-img"` existed.

[2016-03-28 07:36] toshan2014 commented on #31
Tried adding the 'sendemail' function in public_html/src/js/lib/gigya/LoginIntegration.js using 'load' event. But that did not work either. I'll need some help with this.

[2016-03-28 13:30] pps2010 commented on #31
sendemail function has to be added in ....

1) Add this javascript function to the page:
function sendemail(val) {
document.getElementById('emailID').value = val;
}

Was this done?

[2016-03-28 13:55] spaulenoff commented on #130
Feedback from Aspire (Please let me know if you can't open up any of these zips):
[Header Footer QA.zip](https://github.com/akcdotorg/akc.org/files/191857/Header.Footer.QA.zip)
[HTC Nexus 9 Android v 6.0.zip](https://github.com/akcdotorg/akc.org/files/191858/HTC.Nexus.9.Android.v.6.0.zip)
[iPhone IOS v 8.3.zip](https://github.com/akcdotorg/akc.org/files/191860/iPhone.IOS.v.8.3.zip)
[Desktop Win 7

[2016-03-28 15:16] spaulenoff commented on #133
@toshan2014 How do I QA this?

[2016-03-28 15:19] toshan2014 commented on #31
@pps2010 Yes I tried to add it in the Gigya Raas Markup and in LoginIntegration.js - neither worked.

[2016-03-28 15:42] toshan2014 commented on #133
@spaulenoff If an article is "featured" it appears on the author's page as featured too:
https://develop2.akc.org/author/liz-donovan/

I don't know whether on the author's page, the featured article was hidden on purpose because I don't see any point of having it. If it needs to be hidden again, let me know.

[2016-03-28 16:53] toshan2014 commented on #31
Email sent to Gigya support (3/28/2016):

Hi Joshua

We've tried to implement the suggested solution but it seems that the JS function is undetected in the Raas Markup. Please see the attached screenshots and let me know if we're going wrong somewhere.

FYI. The 'sendemail' function is in screen set Login-web-2 in the GigyaConsole. You can test this out on http://develop2.akc.org/ > Sign In > Forg

[2016-03-28 17:22] toshan2014 commented on #133
stg : http://stage-ng.akc.org/author/liz-donovan/

[2016-03-28 17:37] spaulenoff opened #148 "Add Button to SEO pages that links to Marketplace puppy search"
We want to add button that will link the SEO pages to the following URL on Marketplace:http://marketplace.akc.org/puppies

These buttons need to be added on the following pages:
http://www.akc.org/dog-breeds/
http://www.akc.org/dog-breeds/best-dogs-for-apartments/
http://www.akc.org/dog-breeds/best-family-dogs/
http://www.akc.org/dog-breeds/best-guard-dogs/
http://www.akc.org/dog-breeds/best-dogs-

[2016-03-28 17:41] spaulenoff commented on #133
@toshan2014 still seeing featured article in weird format on http://stage-ng.akc.org/news/
![featured](https://cloud.githubusercontent.com/assets/13648969/14084856/ccfb5bc4-f4ea-11e5-9f8c-403ba94236d2.png)

[2016-03-28 18:13] spaulenoff commented on #133
I was mistaken and this isnt verified on dev either

[2016-03-28 18:33] toshan2014 commented on #133
Please comment and move to stg verified after confusion about this ticket has been cleared up.

[2016-03-28 19:21] spaulenoff commented on #125
@toshan2014 can you make the h2 tag 1.31em? We want to see how the h2 looks when it is smaller than the H1

[2016-03-28 19:35] toshan2014 commented on #125
Made CSS changes to margin and H2 size for better visual results:
https://develop2.akc.org/content/test/articles/tax-tips-for-dog-breeders/

[2016-03-28 19:38] spaulenoff commented on #125
@stevepessah Please QA and advise if this looks good to you

[2016-03-29 13:38] kylejbertelsen commented on #130
Clarification for Aspire: the only page that should have contained this styling was the home page -- it's not applied anywhere else. That will be changing today to a URL where the wrapper is being consumed, as a client-site would.

A testable URL will soon follow in a comment from @skt2

[2016-03-29 15:38] spaulenoff opened #149 "Desktop Header"
subticket of #130

[2016-03-29 15:39] #149 closed, assigned to nobody

[2016-03-29 15:41] toshan2014 commented on #125
on stg : http://stage-ng.akc.org/content/westminster-dog-show/articles/tax-tips-for-dog-breeders/

[2016-03-29 15:45] toshan2014 commented on #138
@spaulenoff Time spent fixing view-count : 6h

[2016-03-29 15:47] spaulenoff commented on #63
Removing from 3/31 Sprint
Removing from #132
Need to research effects more

[2016-03-29 15:47] spaulenoff commented on #131
Removing from 3/31 Sprint
Removing from #132
Need to research effects more

[2016-03-29 15:53] skt2 commented on #116
@spaulenoff We don't want to delete {snip-header-microblog} until and unless we get rid of /learn/ section. FYI

[2016-03-29 15:58] spaulenoff commented on #125
Verified on stage

[2016-03-29 15:58] toshan2014 commented on #31
@spaulenoff Time spent so far: 3h

[2016-03-29 15:59] toshan2014 commented on #31
Reply from Gigya (03/29/2016):

Hi Toshan,

This is Joshua from Gigya following up with you on this matter. My apologies if I was unclear earlier, please include the sendemail function on the page and not in the markup of the screen-sets.

I've done a demonstration page for you that can be used as a reference: https://joshua.gigya-cs.com/Demos/raas/passwordResetSendEmail/
1. Click "Register" and c

[2016-03-29 16:00] toshan2014 commented on #31
Attempting solution now... I'll update soon

[2016-03-29 16:10] kylejbertelsen opened #150 "Mobile Footer tweaks"
#130 Subticket

Adjustments made to mobile footer, per feedback.
- Mobile Footer: ![mobile footer markup](https://cloud.githubusercontent.com/assets/13648969/14044710/f1035afe-f269-11e5-92aa-11dafc9859b0.png)

[2016-03-29 16:13] kylejbertelsen opened #151 "Desktop Footer Tweaks"
#130 Subticket

Tweaks to desktop-scaled footer, per feedback comments. Please add any feedback as comments below.

[2016-03-29 16:14] kylejbertelsen opened #152 "Desktop Header Tweaks"
#130 Subticket

Tweaks to desktop-scaled header, per feedback. Please add any feedback as comments below.

[2016-03-29 16:16] kylejbertelsen opened #153 "Mobile Header Tweaks"
#130 Subticket

Mobile Header Tweaks, per feedback.

![mobile header top level markup](https://cloud.githubusercontent.com/assets/13648969/14046282/ca5e8aba-f276-11e5-8d28-922d823f03b9.png)

Subnav Markup:

![mobile header subnav mark up](https://cloud.githubusercontent.com/assets/13648969/14046373/75ae1b42-f277-11e5-86ee-b22a02e4c220.png)

Sub subnav markup:

![mobile header sub subnav mark up](h

[2016-03-29 17:07] spaulenoff commented on #150
@kylejbertelsen Updated notes:
![mobile footer updates 3 29](https://cloud.githubusercontent.com/assets/13648969/14116719/28fc961c-f5af-11e5-967e-596381efee5b.png)

[2016-03-29 17:08] toshan2014 commented on #31
The above solution provided seems to work, meaning there's no JS errors anymore.

However to actually test out if the solution as a whole fixes the 'Reset Password' issue, we'll need to check with users who have been experiencing the problem.

@pps2010 Any idea if that's something we can do?

[2016-03-29 17:13] toshan2014 commented on #31
Time spent : 4.5h

[2016-03-29 17:43] toshan2014 commented on #138
@kylejbertelsen  Please ensure we have the following values in 'config.master.php'  (/var/www/config-develop2/config.master.php):
Note - $env_config['relaxed_track_views']         = 'y'; is a new variable

[code]

[2016-03-29 18:37] spaulenoff commented on #138
Seems to be working for me. Verified on dev2

[2016-03-29 18:51] kylejbertelsen commented on #150
Altered color of Back-to-top

[2016-03-29 18:56] spaulenoff commented on #153
@kylejbertelsen Second round of Feedback

Top Level Nav:
![mobile header top level nav 3 29](https://cloud.githubusercontent.com/assets/13648969/14119883/4f4d807e-f5be-11e5-97b4-8f6298cf6915.png)

Sub Nav:
![mobile header subnav fb3 29](https://cloud.githubusercontent.com/assets/13648969/14119888/566032da-f5be-11e5-9efd-6dc751b1854c.png)

Sub Sub Nav:
![mobile header sub subnav fb 3 29](https://cl

[2016-03-29 18:58] spaulenoff commented on #150
@kylejbertelsen Colors are still different:

On Prod - #ff5f2d

On Develop - #bf692b

[2016-03-29 19:42] skt2 commented on #117
@kylejbertelsen  Snippets to delete: {snip-footer-dynamic}, {snip-footer-training} and {snip-footer-microblog}

[2016-03-30 13:05] kylejbertelsen commented on #150
Intentional. Limiting the color palette so there's fewer 'similar' colors.

[2016-03-30 13:11] kylejbertelsen commented on #153
Updated.

[2016-03-30 13:43] spaulenoff commented on #152
@aalattili Please add your notes regarding desktop header regression testing

[2016-03-30 13:43] spaulenoff commented on #150
@aalattili Please add any notes you may have for the mobile footer updates

[2016-03-30 13:44] spaulenoff commented on #153
@aalattili Please add any notes you may have for the mobile header updates

[2016-03-30 13:44] spaulenoff commented on #151
@aalattili Please add any notes you may have for the desktop footer updates

[2016-03-30 13:49] spaulenoff commented on #152
@kylejbertelsen Also Here are the notes in a Zip:
[Header issues.zip](https://github.com/akcdotorg/akc.org/files/195637/Header.issues.zip)

[2016-03-30 13:50] spaulenoff commented on #151
@kylejbertelsen Here are the footer notes in a zip:
[Footer issues.zip](https://github.com/akcdotorg/akc.org/files/195639/Footer.issues.zip)

[2016-03-30 13:52] spaulenoff commented on #151
And if you need the notes in written form (on the footer testing results tab)
[Footer and Header Issues-Develop.xlsx](https://github.com/akcdotorg/akc.org/files/195645/Footer.and.Header.Issues-Develop.xlsx)

[2016-03-30 13:53] spaulenoff commented on #152
And if you need the notes in written form (on the header testing results tab)
[Footer and Header Issues-Develop.xlsx](https://github.com/akcdotorg/akc.org/files/195645/Footer.and.Header.Issues-Develop.xlsx)

[2016-03-30 13:55] spaulenoff commented on #153
@kylejbertelsen Some notes from Aspire As well:
[Header issues.zip](https://github.com/akcdotorg/akc.org/files/195651/Header.issues.zip)

[2016-03-30 13:55] spaulenoff commented on #150
@kylejbertelsen Footer notes from Aspire:
![home page dev - improper line appears on footer](https://cloud.githubusercontent.com/assets/13648969/14144416/947c13d2-f65d-11e5-9133-eb9a32765cf3.png)

@spaulenoff: can you explain the above? Would also like to know what device/browser the screen caps are from.

[2016-03-30 14:13] aalattili commented on #152
**Desktop issues (FF 45 & GC 49):**
1-  Gigya login pop up design is different than what's in prod GC & FF

2-  Search issues: Search links will be highlighted when hovering upon link (Search link is highlighted when hovering.jpg)
![search link is highlighted when hovering](https://cloud.githubusercontent.com/assets/12289479/14144668/f70f544a-f690-11e5-8086-055b3e6b57b9.jpg)

3-  Header is shifted

[2016-03-30 14:14] AKCOsama commented on #150
Issues with iPad:
1. LHS Links are partially hidden                                                                                                                                          2. Caption Texts are overlapped                                                                                                         3. back to up hyperlink text appears improperly at buttom of footer

[2016-03-30 14:47] aalattili commented on #153
1-  Sign in link is missing (Mobile-Missing sign in link.jpg)
![mobile-missing sign in link](https://cloud.githubusercontent.com/assets/12289479/14145796/7b66521c-f695-11e5-881d-5a22176fe2ae.jpg)

2-  Menu nav issues (Mobile-Menu nav issues.avi):
- Search- text is light grey-colored
  ![mobile-search-font color](https://cloud.githubusercontent.com/assets/12289479/14146499/160a5ab4-f698-11e5-8bb1-7

[2016-03-30 15:00] AKCOsama commented on #151
1. 'Back up arrow div element' size develop = (100px X 74px) vs prod = (85.125px X 75.843px)                                     2. "Back To Top" hyperlink text appears improperly at buttom of footer                                                                                    3. 'Orange shorty container div element' size develop = (1441px X 74px) vs prod (1423px X 75.843px)

see snapshots:

[2016-03-30 15:29] toshan2014 commented on #31
looks to  be working stg

[2016-03-30 16:17] toshan2014 commented on #55
verified on pf

[2016-03-30 16:18] spaulenoff opened #154 "Right arrow is not centralized in /news/ and /akc-dog-lovers/ pages (Bottom Pagination)"
Right arrow is not centralized in /news/ and /akc-dog-lovers/ pages (Bottom Pagination)
http://www.akc.org/news/
http://www.akc.org/akc-dog-lovers/

![stage - right arrow](https://cloud.githubusercontent.com/assets/13648969/14149294/793f2be0-f671-11e5-91f1-f967669b64fa.jpg)

[2016-03-30 16:23] toshan2014 commented on #120
pf:
https://develop2.akc.org/content/test/
https://develop2.akc.org/content/westminster-dog-show/
https://develop2.akc.org/content/westminster-dog-show/live-coverage/

[2016-03-30 16:24] toshan2014 commented on #122
pf:
https://develop2.akc.org/content/westminster-dog-show/
https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/

[2016-03-30 16:27] toshan2014 commented on #123
pf:
https://develop2.akc.org/content/westminster-dog-show/
https://develop2.akc.org/content/westminster-dog-show/articles/

[2016-03-30 16:30] toshan2014 commented on #121
pf:
develop2.akc.org/content/westminster-dog-show/live-coverage/
develop2.akc.org/content/westminster-dog-show/

[2016-03-30 16:30] spaulenoff commented on #55
Verified on Pre-Flight

[2016-03-30 16:31] toshan2014 commented on #125
pf:

http://develop2.akc.org/content/westminster-dog-show/articles/masters-agility-and-obedience-results/

[2016-03-30 16:35] spaulenoff commented on #122
Verified on Pre-Flight

[2016-03-30 16:36] toshan2014 commented on #30
pf :
http://develop2.akc.org/zdfsfds/

[2016-03-30 16:38] spaulenoff commented on #121
Verified on Pre-flight with #120

[2016-03-30 16:39] spaulenoff commented on #123
Verified on Prefligt

[2016-03-30 16:40] toshan2014 commented on #133
pf - featured article (with its bg img) showing on top as expected:
https://develop2.akc.org/author/liz-donovan/
https://develop2.akc.org/news/

[2016-03-30 16:41] spaulenoff commented on #30
verified on preflight

[2016-03-30 16:42] spaulenoff commented on #133
verified on pre-flight

[2016-03-30 16:42] spaulenoff commented on #125
verified on pf

[2016-03-30 16:43] toshan2014 commented on #64
pf:
http://develop2.akc.org/dog-breeds/smallest-dog-breeds/
http://develop2.akc.org/dog-breeds/

[2016-03-30 16:44] spaulenoff commented on #120
Verified on PF

[2016-03-30 16:45] toshan2014 commented on #57
pf :
 http://develop2.akc.org/

[2016-03-30 16:47] spaulenoff commented on #64
Verified on PF

[2016-03-30 16:50] spaulenoff commented on #73
Header and footer seem to be working for me

[2016-03-30 17:42] toshan2014 commented on #113
pf :
https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/ ( has an ebook )

https://develop2.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-1/ ( has no ebook )

[2016-03-30 18:04] toshan2014 commented on #31
verified on pf: develop2.akc.org/

[2016-03-30 18:31] toshan2014 commented on #154
stg: http://stage-ng.akc.org/akc-dog-lovers/P8/

[2016-03-30 18:31] toshan2014 commented on #154
time spent : 20min

[2016-03-30 19:57] spaulenoff commented on #63
We want to update the Mockup to show All six social media icons in two rows of 3 each.

This will allow us to keep all social media log in options.
Will provide an updated mockup

[2016-03-30 19:59] spaulenoff commented on #131
We will keep options for all social media login available, so we do not run into issues via this improvement

[2016-03-30 20:09] toshan2014 commented on #154
pf : http://stage-ng.akc.org/akc-dog-lovers/P8/

[2016-03-30 20:10] skt2 commented on #75
Time Spent: 2h

[2016-03-30 20:15] skt2 commented on #118
Time Spent: 12h

[2016-03-30 20:27] toshan2014 commented on #55
Time spent: 1h

[2016-03-31 13:05] spaulenoff commented on #152
Additional Aspire Feedback:
![search and sign in links have different naming in develop](https://cloud.githubusercontent.com/assets/13648969/14176576/bb296cec-f71f-11e5-8fd7-e3c2efd72430.jpg)

[2016-03-31 13:06] spaulenoff commented on #151
Additional Aspire Feedback:
![copyright span element size develop 218 73px x 28px vs prod 269 98px x 34 29px](https://cloud.githubusercontent.com/assets/13648969/14176592/cd56cc52-f71f-11e5-918d-611e4618556f.png)

[2016-03-31 14:00] spaulenoff opened #155 "Add Marketplace links on Find A Match Results Page"
We want to add marketplace search results links to the find a match results page: http://www.akc.org/find-a-match/results/

We want the design and functionality of the buttons to be the same as the buttons on the compare breeds results page: www.akc.org/find-a-match/compare-breeds/results/?breedcompare=79%7C193%7C96%7C167%7C251

Simple mockup of styling:
![find-a-matych results mockup marketplace]

[2016-03-31 14:08] spaulenoff opened #156 "Add Marketplace Links to You vs Breed Page"
Can we add marketplace links and buttons to the you vs breed page similar to the mockup below:

http://www.akc.org/you-vs-breed/
![you vs breed find a puppy mockup marketplace](https://cloud.githubusercontent.com/assets/13648969/14178372/5185b828-f728-11e5-8801-049a6eaf6cd0.jpg)

Functionality of the button should be similar to the compare breeds results page and should obviously be dynamic based

[2016-03-31 14:47] skt2 commented on #57
Time Spent: 30m

[2016-03-31 16:25] spaulenoff opened #157 "Content Hubs: Remove Old Content Hub URL structures"
Need to remove old content url structures:
http://www.akc.org/media/
http://www.akc.org/article/
http://www.akc.org/media/article/{content title} - example: http://www.akc.org/media/article/ovulation-in-the-bitch
http://www.akc.org/media/view/{content title} - Example: http://www.akc.org/media/view/common-dangerous-foods-for-your-dog

[2016-03-31 16:33] spaulenoff commented on #7
Per @elieo Please include new content hub

[2016-03-31 16:38] kylejbertelsen commented on #153
Updated.

[2016-03-31 16:41] spaulenoff commented on #157
Also need to close the following URLs https://www.google.com/search?q=site%3Bhttp%3A%2F%2Fwww.akc.org%2Fmedia%2Farticle%2Fwait-until-you-hear-how-this-lab-snores%2F&oq=site%3Bhttp%3A%2F%2Fwww.akc.org%2Fmedia%2Farticle%2Fwait-until-you-hear-how-this-lab-snores%2F&aqs=chrome..69i57j69i58.1823j0j1&sourceid=chrome&ie=UTF-8#q=site:http://www.akc.org/media/&start=0

[2016-03-31 16:43] spaulenoff commented on #157
related to #7

[2016-03-31 16:52] spaulenoff commented on #153
Two more notes:
![open mobile header nav](https://cloud.githubusercontent.com/assets/13648969/14183654/549f94ae-f73f-11e5-90e6-4b8d4a03378a.png)

![closed mobile header](https://cloud.githubusercontent.com/assets/13648969/14183656/58f9e63a-f73f-11e5-8225-70a41953906d.png)

[2016-03-31 18:38] toshan2014 commented on #55
verified on prod

[2016-03-31 18:42] toshan2014 commented on #125
prod : http://www.akc.org/content/westminster-dog-show/articles/masters-agility-and-obedience-results/

[2016-03-31 19:56] spaulenoff commented on #73
Caused issues when pushed to production. Need to revisit to see if there is a better way to handle this ticket

[2016-03-31 20:37] spaulenoff commented on #137
Verified on Production

[2016-03-31 20:37] #137 closed, assigned to spaulenoff

[2016-03-31 20:37] spaulenoff commented on #101
Verified on Prod

[2016-03-31 20:37] #101 closed, assigned to spaulenoff

[2016-03-31 20:41] pps2010 commented on #11
It seems when you are already logged in and are not a delegate and you reach this page then it may seem weird to be able to click on "Login"  - maybe the text / link needs to be conditional?

[2016-03-31 20:44] spaulenoff commented on #126
Verified on Prod

[2016-03-31 20:44] #126 closed, assigned to spaulenoff

[2016-03-31 20:45] pps2010 commented on #27
Link provided leads to 404 error.

[2016-03-31 20:46] spaulenoff commented on #114
Verified on Prod

[2016-03-31 20:46] #114 closed, assigned to spaulenoff

[2016-03-31 20:47] spaulenoff commented on #138
Verified on Prod

[2016-03-31 20:47] #138 closed, assigned to spaulenoff

[2016-03-31 20:48] spaulenoff commented on #124
Verified on Prod

[2016-03-31 20:48] #124 closed, assigned to spaulenoff

[2016-03-31 20:50] spaulenoff commented on #128
Verified on Prod

[2016-03-31 20:50] #128 closed, assigned to spaulenoff

[2016-03-31 20:53] skt2 commented on #73
Preliminary investigation: Minimee is not compatible with Varnish cache.

[2016-03-31 20:53] spaulenoff commented on #127
Verified on Prod

[2016-03-31 20:53] #127 closed, assigned to spaulenoff

[2016-03-31 20:54] spaulenoff commented on #57
Verified on Prod

[2016-03-31 20:54] #57 closed, assigned to spaulenoff

[2016-03-31 20:55] toshan2014 commented on #122
verified on prod - @spaulenoff please double check

[2016-03-31 20:56] toshan2014 commented on #113
verified on prod - @spaulenoff please double check

[2016-03-31 21:00] toshan2014 commented on #120
verified on prod - @spaulenoff please double check

[2016-03-31 21:01] spaulenoff commented on #113
Verified on Prod

[2016-03-31 21:01] #113 closed, assigned to spaulenoff

[2016-03-31 21:01] toshan2014 commented on #121
verified on prod - @spaulenoff please double check

[2016-03-31 21:02] toshan2014 commented on #64
verified on prod - @spaulenoff please double check
http://www.akc.org/dog-breeds/smallest-dog-breeds/

[2016-03-31 21:03] spaulenoff commented on #122
Verified on Prod

[2016-03-31 21:03] #122 closed, assigned to spaulenoff

[2016-03-31 21:04] toshan2014 commented on #154
verified on prod - @spaulenoff please double check:
www.akc.org/akc-dog-lovers/

[2016-03-31 21:08] toshan2014 commented on #123
prod http://www.akc.org/content/westminster-dog-show/

[2016-03-31 21:09] toshan2014 commented on #30
prod http://www.akc.org/hhh

[2016-03-31 21:09] spaulenoff commented on #120
Verified on Prod

[2016-03-31 21:09] #120 closed, assigned to spaulenoff

[2016-03-31 21:11] spaulenoff commented on #121
Verified on Prod

[2016-03-31 21:11] #121 closed, assigned to spaulenoff

[2016-03-31 21:11] spaulenoff commented on #55
Verified on Prod

[2016-03-31 21:11] #55 closed, assigned to spaulenoff

[2016-03-31 21:12] toshan2014 commented on #31
Verified that the forgot password functionality is working and that the solution provided by Gigya is present on Production.
Remains to be seen if the actual issue is resolved -
@pps2010 @spaulenoff

[2016-03-31 21:12] spaulenoff commented on #123
Verified on Prod

[2016-03-31 21:12] #123 closed, assigned to spaulenoff

[2016-03-31 21:13] toshan2014 commented on #133
verified on prod

[2016-03-31 21:13] spaulenoff commented on #125
Verified on Prod

[2016-03-31 21:13] #125 closed, assigned to spaulenoff

[2016-03-31 21:14] spaulenoff commented on #30
Verified on Prod

[2016-03-31 21:14] #30 closed, assigned to spaulenoff

[2016-03-31 21:15] spaulenoff commented on #64
Verified on Prod

[2016-03-31 21:15] #64 closed, assigned to spaulenoff

[2016-03-31 21:16] spaulenoff commented on #154
Verified on Prod

[2016-03-31 21:16] #154 closed, assigned to spaulenoff

[2016-03-31 21:19] spaulenoff commented on #133
Verified on Prod

[2016-03-31 21:19] #133 closed, assigned to spaulenoff

[2016-03-31 21:19] spaulenoff commented on #74
Verified on Prod

[2016-03-31 21:19] #74 closed, assigned to spaulenoff

[2016-03-31 21:20] spaulenoff commented on #75
Verified on Prod

[2016-03-31 21:20] #75 closed, assigned to spaulenoff

[2016-03-31 21:21] pps2010 commented on #7
I have a tool that can generate the sitemap....we should review the output and make sure it looks good before we implement. May have to limit which images show up in the sitemap. here's an example for one page. (attached).
[sitemap.txt](https://github.com/akcdotorg/akc.org/files/198601/sitemap.txt)

[2016-04-01 14:07] spaulenoff opened #158 "Remove Mobile Ads on Several Page Types"
We need to remove mobile ads on thew following page types (most pages with a left side rail on desktop).
Generic - http://www.akc.org/events/field-trials/pointing-breeds/gun-dog-championships/ (300x600 and 2 300x250s)
Generic2 -http://www.akc.org/downloadable-forms/ (300x600)
Browse All Breeds Page - http://www.akc.org/dog-breeds/ (300x600s and 300x250)
SEO Breed Pages - http://www.akc.org/dog-bre

[2016-04-01 14:08] spaulenoff opened #159 "Project: Research ways to implement more ad units on mobile"
related to #158

[2016-04-01 14:56] skt2 commented on #73
Issue related links:
https://devot-ee.com/add-ons/support/minimee/viewthread/2379
https://devot-ee.com/add-ons/support/minimee/viewthread/4914

[2016-04-01 15:27] spaulenoff opened #160 "Research Front-End Lazy Loading for ads on Mobile"

[2016-04-01 15:29] spaulenoff opened #161 "Research: Look into Minime removing timestamps from file name"
Related to #73

[2016-04-01 16:44] kylejbertelsen commented on #135
Note: 12 hour estimate is dependent on the gallery working precisely like the ones that are already a part of the Category Pages. If you want it to look/work like it currently does, I'll have to ask Toshan how long he thinks that would take.

[2016-04-01 16:46] kylejbertelsen commented on #107
Missing requirements. Can't schedule.

[2016-04-01 16:49] kylejbertelsen commented on #19
Doesn't #135 make this ticket pointless? If we're using the photo-galleries, they don't get populated via Social Aggregator.

[2016-04-01 16:58] stevepessah opened #162 "Breed Page In-Content Video"

[2016-04-01 17:01] kylejbertelsen commented on #11
I agree with Purvi. As part of this ticket, let's hide the usual AKC login link when adding this CTA.

[2016-04-01 17:14] #150 closed, assigned to kylejbertelsen

[2016-04-01 17:14] #151 closed, assigned to kylejbertelsen

[2016-04-01 17:14] #153 closed, assigned to kylejbertelsen

[2016-04-01 17:14] #152 closed, assigned to kylejbertelsen

[2016-04-01 17:20] kylejbertelsen commented on #135
Clarification (on C above):
1. replace UGC on breed page with Category-page-style gallery.
2. create a new page (/dog-breeds/$breedname/pictures/) which contains the pre-existing UGC.

Regarding the slow rollout, add a new (select/checkbox) field to the content type that toggles between using the Gallery or the UGC, defaulting to UGC.

Make sure there's a 'pictures' anchor link (< a name="pictures

[2016-04-01 17:23] kylejbertelsen commented on #134
Kickoff meeting 2016-04-06. Will re-evaluate after meeting.

[2016-04-01 17:26] stevepessah commented on #27
@elieo can you send over a new link?

[2016-04-01 17:31] #131 closed, assigned to nobody

[2016-04-01 17:32] spaulenoff commented on #131
Not Needed

[2016-04-01 18:00] stevepessah opened #163 "/dog-breeds/[breedname]/pictures/ page"
This is related to #135

We would like to include the following on this page:
- H1 copy (to be provided)
- New photo gallery module (separate from /dog-breeds/[breedname]/ gallery)
- UGC module below

[2016-04-01 18:41] kylejbertelsen commented on #7
Look in JIRA for previous tickets involving the sitemap -- there are likely to be tips in there for generating/changing this.

[2016-04-01 18:44] kylejbertelsen commented on #158
Find examples of these, and discuss strategy with Kyle. We may want to delete the calls to the ads, or we may want to comment them out. If the former, lets add comments where the previous code was, ala
`// removed 320x50 ad x19 on 2016-04-04`

[2016-04-01 18:45] kylejbertelsen commented on #159
Suggestion: in the mobile top-nav, under the nav links.

[2016-04-01 18:45] kylejbertelsen commented on #160
Ask questions.

[2016-04-01 18:46] kylejbertelsen commented on #161
Add link here to your minimee support-request as well. And add any notes you have so far.

[2016-04-01 18:58] kylejbertelsen commented on #162
If this is the request Elie discussed earlier: set it up as a global variable (Template Manager), and they can be turned-on/off site wide right there.

[2016-04-01 18:58] skt2 commented on #161
https://devot-ee.com/add-ons/support/minimee/viewthread/15703

[2016-04-01 19:03] kylejbertelsen commented on #163
See toggle on #135. If set to UGC, redirect back to breed page at pictures anchor.

[2016-04-01 19:11] kylejbertelsen commented on #157
404 'em

[2016-04-01 19:17] spaulenoff commented on #159
Blocked by #160

[2016-04-01 19:30] spaulenoff commented on #132
Sprint Recap at following link https://docs.google.com/document/d/1LvXTil8UCwOQjzz7iPmTvuFnBeA7vfbJ_RNhrVCiWIg/edit#

[2016-04-01 19:30] #132 closed, assigned to nobody

[2016-04-01 19:53] toshan2014 commented on #160
@spaulenoff  Are we referring to a  way to implement ads with lazy loading on mobile **as opposed to how they are loading at the moment?**

[2016-04-01 20:01] stevepessah commented on #162
@kylejbertelsen yes, here are the details:
- Ability to toggle on/off
- Mockup below (grey box between 'Learn More' and 'At-A-Glance')
  ![teads on breed pages](https://cloud.githubusercontent.com/assets/1063028/14218573/07af75c6-f823-11e5-9e4c-b2d1a719a555.png)

[2016-04-01 20:03] stevepessah opened #164 "SEO page In-Content Video"
- Ability to toggle on/off for each specific page
- If page already has video, the in-content ad video should replace JW player video (should still be below text).
  ![e98b6bae-f4e9-11e5-80e1-575fdd6dc68f](https://cloud.githubusercontent.com/assets/1063028/14218596/35075b24-f823-11e5-8a66-8ebbe1a3780a.png)

[2016-04-01 20:05] elieo commented on #27
http://www.akc.org/social/veteran-service-dog-team-personify-the-importance-of-perseverance/

[2016-04-01 20:09] elieo commented on #27
To clarify, we just want the ability to list this template style in the news section. http://www.akc.org/news/

The article should also be listed in the Google news sitemap. http://www.akc.org/blog/sitemap/

[2016-04-01 20:13] spaulenoff commented on #162
@skt2 Please provide a time estimate

[2016-04-01 20:13] spaulenoff commented on #164
@skt2 Please provide a time estimate

[2016-04-01 20:14] spaulenoff commented on #160
@toshan2014 Correct, We only want ads to load once the user scrolls down to that part of the page where the ads show

[2016-04-01 20:50] skt2 commented on #76
Some of the important HTML Tags are prohibited like script, form, input, option and we already using it in our HTML. see full list here: https://github.com/ampproject/amphtml/blob/master/spec/amp-html-format.md#html-tags
So, let's discuss more on Monday. @spaulenoff @kylejbertelsen

[2016-04-01 20:54] stevepessah commented on #27
@elieo so for any article in the /news/ section, you want the ability to use either the current template or this new Featured Story template?

[2016-04-01 21:35] stevepessah opened #165 "Event Calendar updates"
The existing Event Calendar needs improvements to make it finding events more intuitive for consumers.
- Update URL structure to enable deep linking to specific event types, locations, and dates.
- Update search UI/UX
- Update calendar functionality
  - Calendar should always start on Sunday
  - Need to indicate the current date on the calendar
  - Add ability to toggle between calendar/list view

[2016-04-04 13:03] stevepessah commented on #63
@spaulenoff in the mockup, can you change the first field name to "Email Address or My AKC Username"

[2016-04-04 13:13] stevepessah commented on #19
@spaulenoff what req are missing here?

[2016-04-04 13:23] elieo commented on #160
There are a couple open source solutions out there that I found:
- https://github.com/krux/postscribe/
- https://github.com/madgex/lazy-ads
- http://jqueryad.web2ajax.fr/

[2016-04-04 13:29] stevepessah commented on #160
@toshan2014 @spaulenoff @kylejbertelsen this should be done first before #158

[2016-04-04 13:48] spaulenoff commented on #160
Blocking #158

[2016-04-04 13:52] spaulenoff commented on #19
@stevepessah No requirements are missing. I will assign to Shailesh

[2016-04-04 13:53] spaulenoff commented on #158
This is blocked by #160

[2016-04-04 13:54] spaulenoff commented on #160
#158 is now blocked by this ticket

[2016-04-04 14:57] spaulenoff commented on #63
@stevepessah To confirm, you just want to swap what is currently in the mockup?
![image](https://cloud.githubusercontent.com/assets/13648969/14252131/f6dbbf4c-fa53-11e5-9faf-44348e7ea8e4.png)

[2016-04-04 15:02] stevepessah commented on #142
@kylejbertelsen @spaulenoff do you want me to kick this project off? Did they deliver a feature set for their platform?

[2016-04-04 15:23] kylejbertelsen commented on #76
Pulled from sprint. May not be compatible to our needs.

[2016-04-04 15:28] kylejbertelsen commented on #7
Look through old JIRA tickets for times we'd edited the sitemap in the past. See if there's tips to be had in there.

[2016-04-04 15:30] spaulenoff commented on #118
This was implented into Prod

[2016-04-04 15:30] #118 closed, assigned to nobody

[2016-04-04 15:40] kylejbertelsen commented on #19
Questions:

A. What is currently happening? If one is whitelisted, do they automatically publish? If one is not whitelisted, do they automatically publish? (test: find a non-whitelisted user, (maybe create one) and test whether their tweets appear automatically. If demonstrably not, then whitelist, and see if NOW they do)

B. What is the desired behavior? @spaulenoff: Please confirm or amend the f

[2016-04-04 16:31] kylejbertelsen commented on #136
We'll need to find an alternative -- or a way to make this compatible with, for instance ce:image

[2016-04-04 17:21] skt2 commented on #148
Time Spent: 2h
Time Spent: 30m(7 Apr)
Time Spent: 30m(8 Apr)

@spaulenoff
Similar template is used for Group, Size and Characteristic pages and according to the requirement we only want to show "Search For Puppies" button on "Characteristic page".
however I am able to put condition for not to show buttons on "Group Pages" as the url is different for them but I didn't find any way to separate "Size

[2016-04-04 18:31] pps2010 commented on #7
I also noticed that a lot of the pages have images defined in the background - my tool is not picking those up. e.g on the homepage
<li class="slide" style="background: url(http://cdn.akc.org/akcdoglovers/Norwich_Terrier_163X140.jpg) no-repeat center center; background-size: cover; -ms-behavior: url(/bower_components/background-size-polyfill/backgroundsize.min.htc);">
                    <a href="

[2016-04-04 18:36] spaulenoff commented on #148
@skt2 Confirmed to proceed

[2016-04-04 19:39] spaulenoff commented on #27
@kylejbertelsen Is any more information needed here?
@spaulenoff: not that I can see, no.

[2016-04-04 19:47] skt2 commented on #164
Time Spent: 1h(4th Apr)
Time Spent: 5h(5th Apr)
Time Spent: 2h(7th Apr)
Time Spent: 2h(18th Apr)

**CMS Changes:**
CMS > Admin > Channel Field > SEO Pages > Create new Field
Field Type: Select Dropdown
Field Label: Use In-content Video Ad
Field Name: use_in_content_video_ad_seo_page
Populate the menu manually:
Yes
No

[2016-04-04 20:25] pps2010 commented on #7
I have discussed with Elie and he is aware of the issue with background images. He is ok with us not generating the images for the sitemap. I am also updating the description of this issue with another section he does not want us to generate a sitemap for viz. AKC News (http://www.akc.org/news/)

[2016-04-04 21:38] spaulenoff commented on #148
@stevepessah This looked good to me but please QA on dev2 to confirm. On mobile and desktop:
http://develop2.akc.org/dog-breeds/
http://develop2.akc.org/dog-breeds/best-guard-dogs/
http://develop2.akc.org/dog-breeds/smartest-dogs/
http://develop2.akc.org/dog-breeds/hypoallergenic-dogs/
http://develop2.akc.org/dog-breeds/medium-sized-dogs/

[2016-04-05 13:17] stevepessah commented on #130
Main requirement for this is that it matches the current header/footer.

[2016-04-05 15:24] kylejbertelsen commented on #11
As per Steve, if You're logged-in as a delegate, this page will forward you on elsewhere, so don't worry about conditionals whether to show the link or not.

[2016-04-05 15:33] spaulenoff commented on #159
Added recommendations on the following google doc on the 2 tab:
https://docs.google.com/spreadsheets/d/1qzg2I9Y040IyGfEMbZZQEeVYMzd26BMdekmXGerxJZY/edit#gid=29819941

[2016-04-05 18:55] skt2 commented on #164
Test Page: http://develop2.akc.org/dog-breeds/smartest-dogs/
Before you test this on any other breed page, please make sure SEO video field is empty.

[2016-04-05 19:10] skt2 commented on #162
Time Spent: 3h(6th Apr)
Time Spent: 3h(8th Apr)

[2016-04-05 20:09] toshan2014 commented on #11
Please QA : http://develop2.akc.org/delegate/delegates-portal/

"Login Here" is below just because of the space allocated for these lines. We can increase the width of the area if we absolutely need it on the same line.

[2016-04-05 20:15] spaulenoff commented on #160
Removing from 4/14 sprint

[2016-04-05 20:17] spaulenoff commented on #158
Temporary hold until Steve, Elie and Simon review

[2016-04-06 14:06] stevepessah commented on #31
@spaulenoff @pps2010 any update on this?

[2016-04-06 14:21] skt2 commented on #162
**CMS Changes**
CMS > Add-ons > Modules
Republic Variables > Install

CMS > Add-ons > Modules > Republic Variables
Add new Group if you want(I have added group name breed)
Add new variable:
Choose group: breed
Variable Name: rp-breed-pages-teads (started with rp, just to seprate from normal global variables)
Parse variable early: Yes (must set to yes)
Variable value: Yes/No (case-sensitive)

[2016-04-06 14:56] kylejbertelsen commented on #164
@skt2: I think you're misunderstanding this ticket, to wit:

To me, this means that the Teads video appears whether there's a JW player video or not -- that the ad _replaces_ the SEO video, when activated. @spaulenoff please confirm.

[2016-04-06 15:01] spaulenoff commented on #164
@kylejbertelsen @skt2 I have spoke with Elie, and while it would be preferable to not remove the JW player videos, it is ok to have the incontent ad replace the JW player when incontent ads is set to yes. Please let me know if this needs any additional clarification

[2016-04-06 15:07] spaulenoff commented on #11
@toshan2014 Can we please include the login here on the first line? Additionally, when i click sign in and login via the Gigya modal, it takes a few seconds to register and clears the space where enter my username and password. It ends up working after a few seconds.

[2016-04-06 15:16] spaulenoff commented on #134
Ad Audit document https://docs.google.com/spreadsheets/d/1qzg2I9Y040IyGfEMbZZQEeVYMzd26BMdekmXGerxJZY/edit#gid=162269446

[2016-04-06 15:22] spaulenoff commented on #159
Related to #134

[2016-04-06 15:24] skt2 commented on #73
https://devot-ee.com/add-ons/support/minimee/viewthread/15703 -- Please see the reply.

[2016-04-06 15:25] skt2 commented on #161
Please see reply on thread we have posted.

[2016-04-06 15:32] spaulenoff commented on #158
Part of #134

[2016-04-06 15:38] skt2 commented on #164
Replacing might be difficult and more time consuming since we already running in issues with this for styling and playing it consistent. I already spent double time on this and still while trying to fix style of in content video, it stops loading.

[2016-04-06 15:48] skt2 commented on #27
Time spent: 3h(6th Apr)
Time spent: 4h(12th Apr)
Time spent: 1h(14th Apr)

@spaulenoff : Need more clarification.

What I have understand so far is we want to show featured story(only one at a time) on /news/ template and design of the featured story should be like http://www.akc.org/social/veteran-service-dog-team-personify-the-importance-of-perseverance/

In above link it display the article wit

[2016-04-06 16:05] skt2 commented on #19
@kylejbertelsen
A) - Any idea where can I see white listed users and where their tweets are appearing currently, page link might help?

B) - is whitelist user condition working anywhere else except production? I think this is not working locally(it was directly showing the posts when I worked on westmemester long before).

C) - On westmemester it was triggered during page load and there are cache

[2016-04-06 16:35] stevepessah commented on #148
@spaulenoff can we change the position of the button to the sidebar?

![pasted image at 2016_04_06 11_10 am](https://cloud.githubusercontent.com/assets/1063028/14324744/1857e7f8-fbf4-11e5-8211-8ad32e84c40c.png)

[2016-04-06 16:51] spaulenoff commented on #148
@skt2 Can you please make this update?

[2016-04-06 17:33] kylejbertelsen commented on #164
We'll not replace it. If it's optional, we're not doing it.

[2016-04-06 17:39] spaulenoff commented on #27
@skt2 We just want to add a new template in the CMS that matches the format for the above linked story. That means font size, style, social button, images, etc. the above link was customly made by the content team but we want to make it easier for them to publish content formatted like this in the future.

[2016-04-06 17:44] spaulenoff opened #166 "4/19 Sprint Log"
**Planned for this Sprint:**
#148     --> Add Button to SEO pages that links to Marketplace puppy search
#164     --> SEO page In-Content Video
#11       --> Add CTA to Delegates Portal page so if a delegate is logged out, they can click that link                  to log in
#162     --> Breed Page In-Content Video
#63       --> Implement new Gigya modal
#27       --> PROJECT: Feature Story Templat

[2016-04-06 18:09] skt2 commented on #27
Talked with @spaulenoff, It seems we need to create a new channel and new template for this.
@kylejbertelsen can you please confirm?

[2016-04-06 18:25] kylejbertelsen commented on #27
Incorrect. As I see it (and @stevepessah and @elieo should confirm), all we want is a new generic template, selectable from the Structure tab, and any piece of content could use this newly-styled display.

[2016-04-06 18:36] skt2 commented on #27
After talking with @kylejbertelsen and @spaulenoff, Adding new template under blog group named: .featured-story and focusing on news and akc-dog-lovers article to display under this newly created template when selected.

[2016-04-06 19:22] toshan2014 commented on #11
Added "Login Here" on first line. For the lagging, please compare with main Sign In and let me know. Both are calling the same function so there can't be any difference normally.

[2016-04-06 19:24] toshan2014 commented on #11
Time spent: 1h15min

[2016-04-06 19:27] spaulenoff commented on #11
@stevepessah Please QA on develop2. This looks good to me, please confirm http://develop2.akc.org/delegate/delegates-portal/

[2016-04-06 19:33] spaulenoff opened #167 "Make Delegates Portal Login Page responsive on Mobile"
Currently the following page isn't responsive on mobile: http://www.akc.org/delegate/delegates-portal/

Prod
![image](https://cloud.githubusercontent.com/assets/13648969/14330050/9c4a1956-fc0c-11e5-97f9-6b8e5f52b95e.png)

Dev2
![image](https://cloud.githubusercontent.com/assets/13648969/14330096/e31b7276-fc0c-11e5-98af-7a8006c06fe3.png)

Can we make this responsive responsive. Related to #11

[2016-04-06 19:45] spaulenoff commented on #3
IS this a duplicate of #65?

[2016-04-06 19:46] spaulenoff commented on #65
Time Spent: 1.5h(22 Apr)

Is this the same as #3?

[2016-04-06 20:06] toshan2014 commented on #11
Should be fixed on mobile now

[2016-04-06 20:51] toshan2014 commented on #31
Had a discussion with Purvi as to why this is not working for Marketplace. Turns out that Marketplace is still using the original screen in the Gigya Console. I'll make the change on the original screen ( Login-Web ) so that both AKC.org and Marketplace use the same screen.
I'll update this ticket once done.

[2016-04-06 20:54] kylejbertelsen commented on #73
Time-tracking, Kyle: 2016-04-06  -- 1 hour

[2016-04-06 20:58] kylejbertelsen commented on #161
@shailesh: when referring for information elsewhere, please summarize (in case that page goes away), and provide the link -- even if you've already provided the link elsewhere.

Example:

Please see reply on support thread we have posted. (https://devot-ee.com/add-ons/support/minimee/viewthread/15703)
The developer does not intend to provide this functionality for our version of EE. Possibly for t

[2016-04-06 20:58] kylejbertelsen commented on #161
Time-tracking, Kyle:
2016-04-06  -- 1 hour (researching, editing minimee plug-in)
2016-04-07 -- 1.5 hour (recreating minimee implementation from #73)

[2016-04-06 21:09] toshan2014 commented on #31
@pps2010 the following function needs to be added to Marketplace otherwise Login-Web will come up with a JS error. Please refer to view-source in akc.org line 2860 for example:

`<script type='text/javascript'>
    // Gigya's fix for reset password email does not get sent out to an unverified email address
    function sendemail(val) {
        document.getElementById('emailID').value = val;
    }

[2016-04-06 21:11] spaulenoff commented on #73
@aalattili @AKCOsama Please check over stage-ng to ensure site is stable

[2016-04-06 21:33] toshan2014 commented on #31
Quick update -
Keeping "Login-web-2" for AKC.org
Gabriel from the marketplace team will do the changes on their side. No more changes required for AKC.org for this ticket.

[2016-04-07 05:28] toshan2014 commented on #63
@spaulenoff The changes are ready to be pushed. Please confirm if we'll be using the new modal for both desktop and mobile.

[2016-04-07 11:36] aalattili commented on #73
@spaulenoff ,Stage-ng site seems stable and working fine

[2016-04-07 12:54] kylejbertelsen commented on #146
Note:

Example: Field Trials in Arizona, in June, 2016.

https://www.apps.akc.org/apps/event_calendar/index_mobi1.cfm?month=&year=&d
ay=&getEvents=Get+Events&mobile=Y&action=month&event_grouping=S&state=AZ

Options:

action:
action=month (show month calendar)
action=week (show week list)
action=day (show day list)

event_grouping:
CONF = AB and Group Conf.
OPNC = Open Show Conformation
BPUP = 4-6

[2016-04-07 12:55] kylejbertelsen commented on #146
We'll want to contact ISD about whether it's possible to send params to the page that loads the iframe, so the iframe can load with the submitted params.

[2016-04-07 12:57] kylejbertelsen commented on #130
Closing this to start a new ticket from the current starting-point.

[2016-04-07 12:57] #130 closed, assigned to kylejbertelsen

[2016-04-07 12:59] kylejbertelsen opened #168 "Wrapper CSS"
Continuation of #130
- Implementing Aspire-sourced alterations to wrapper css.
- Allowing Aspire to review/refine their alterations
- Receiving their final alterations, and implementing them into the new scss.

[2016-04-07 13:03] kylejbertelsen commented on #158
@spaulenoff @stevepessah @elieo -- please review by CoB today -- I'd like to make sure this gets assigned to a developer asap.

[2016-04-07 13:07] skt2 commented on #27
Test Link: http://develop2.akc.org/news/war-dog-handler-reunite/

[2016-04-07 13:14] kylejbertelsen commented on #19
@skt2  -- PLEASE take advantage of Slack. These questions could have been cleared-up pretty easily there yesterday.

A) AddOns > Modules > Social Aggregator > View Social Users (button at top)

B) I don't know. You're a developer, and can certainly determine whether it's working or not in a given environment, given the answer in (A) above.

C) I think my (C) above is pretty clear the kind of infor

[2016-04-07 13:29] kylejbertelsen commented on #134
@stevepessah -- I think it was you who mentioned that we have a free version of DFP for the moment -- if you could, please get me the login credentials and URL, so I can look over how the tags work.

[2016-04-07 13:37] stevepessah commented on #134
@kylejbertelsen not I.. @elieo?

[2016-04-07 14:07] kylejbertelsen commented on #168
Time tracking:

Shailesh:
 2016-04-05 - 0.5 hours (received initial alterations from Aspire, inserted into templates)

Kyle:
2016-04-07 - 1 hours (converted into feature branch, repaired persistent secondary-menu)
2016-04-12 - 1 hours

[2016-04-07 14:27] spaulenoff commented on #148
@stevepessah I am now seeing it like it shows on the mockup. However, On Mobile it now shows up at the bottom of the page, under the list of breeds. Should we move up the button on mobile?
http://develop2.akc.org/dog-breeds/best-dogs-for-apartments/

[2016-04-07 14:29] kylejbertelsen commented on #134
Time tracking:

Kyle: 2016-04-07: 2 hours (tutorial videos, exploration of dfp site)

[2016-04-07 14:39] spaulenoff commented on #162
@stevepessah This is working for me on dev2. Please QA. It will show up under the Learn More button like the mockup above
http://develop2.akc.org/dog-breeds/glen-of-imaal-terrier/
http://develop2.akc.org/dog-breeds/affenpinscher/

[2016-04-07 14:42] spaulenoff commented on #27
@stevepessah Please QA on Dev2. I checked the following pages and they seem to be looking good to me: http://develop2.akc.org/news/oscar-the-dachsie-dazzles/
http://develop2.akc.org/news/war-dog-handler-reunite/

[2016-04-07 14:43] spaulenoff commented on #63
@stevepessah Please confirm if the new modal should be used on both desktop and mobile, or just on Desktop.

[2016-04-07 15:10] kylejbertelsen opened #169 "How to smoketest in a load-balanced server group"
See https://akcorg.atlassian.net/wiki/display/BEV/smoketesting for instructions

[2016-04-07 15:15] kylejbertelsen commented on #161
Please ask Aspire to re-test. As of yesterday, the only places minimee was implemented was on /learn pages.

Testing:
See smoketesting instructions: See https://akcorg.atlassian.net/wiki/display/BEV/smoketesting for instructions
When loading several kinds of pages, View Source, and find the js files listed between '' and ''
Open those files, and make sure they exist and have contents. Don't bother

[2016-04-07 15:17] kylejbertelsen commented on #73
Closing this ticket, in favor of the more-recent #161. Testing should occur within that ticket.

[2016-04-07 15:17] #73 closed, assigned to nobody

[2016-04-07 15:18] spaulenoff commented on #161
@aalattili Please re-test stage per Kyle's instructions above.

[2016-04-07 15:31] #116 closed, assigned to nobody

[2016-04-07 15:32] #117 closed, assigned to nobody

[2016-04-07 15:32] toshan2014 commented on #63
@stevepessah @spaulenoff @kylejbertelsen   We need to let the Marketplace team know that there will be changes to the login gigya screen as they use the same screen as akc.org. They prob will need to test out on their side too before we push to production.

[2016-04-07 15:32] #31 closed, assigned to nobody

[2016-04-07 15:43] skt2 commented on #164
Test link: http://develop2.akc.org/dog-breeds/hypoallergenic-dogs/

[2016-04-07 15:50] elieo commented on #134
login: AKCram2@gmail.com
Password: Dixiejune24!

[2016-04-07 15:51] spaulenoff commented on #134
@kylejbertelsen ^

[2016-04-07 16:19] kylejbertelsen commented on #134
@elieo: URL?

[2016-04-07 16:25] toshan2014 commented on #155
Please QA : http://develop2.akc.org/find-a-match/

[2016-04-07 16:25] toshan2014 commented on #155
Time: 30min

[2016-04-07 16:33] kylejbertelsen commented on #134
Okay, looks like it's going to be a bit of a pain in the butt, but in short, on an position-by-position basis, there will be javascripts to be copied from the DFP interface, and pasted into the page templates. Once we've determined what the positions are, and where they'll live, it could be done all at once.

[2016-04-07 16:37] spaulenoff commented on #155
@stevepessah Please QA on Dev2. http://develop2.akc.org/find-a-match/results/

Looks good to me and functions properly
![dev2 new find a match marketplace links](https://cloud.githubusercontent.com/assets/13648969/14358967/6558c026-fcbd-11e5-96d8-d99c93500de4.png)

[2016-04-07 17:29] spaulenoff commented on #164
I am seeing the code in the source code and intermittently seeing the ad appear. Please push to stage so we can see if that fixes the issue.

[2016-04-07 17:33] kylejbertelsen commented on #19
@spaulenoff: PLEASE verify ASAP:

Desired behavior:
When new user is grabbed from Social Aggregator, that user should be neither whitelisted, nor blacklisted. (@skt2: is there a user status that is neither whitelisted nor blacklisted? Please document this as well)
When new image is grabbed from Social Aggregator, it should be A) queued, if user is neither whitelisted nor blacklisted; B) Unpublishe

[2016-04-07 17:33] spaulenoff commented on #162
@skt2 Now i am not seeing teads code on breed pages
Please check http://develop2.akc.org/dog-breeds/affenpinscher/

[2016-04-07 17:34] spaulenoff commented on #19
@kylejbertelsen confirmed

[2016-04-07 17:37] skt2 commented on #19
@kylejbertelsen User is either Whitelisted or Blacklisted. There is no third status.

[2016-04-07 17:38] toshan2014 commented on #157
Instead of creating redirections, I've removed the template groups "media" and "article". This ensures that's there no redundant templates. I've discussed this approach with Kyle and he's OK with it.

Although this should not affect any Mayday content on "/content", please double check at least an article, photo-gallery and video page are displaying within "/content".

please QA
http://develop2.ak

[2016-04-07 17:39] spaulenoff commented on #19
@skt2 There should be three status Whitelisted, neither whitelisted or blacklisted, blacklisted

[2016-04-07 17:45] spaulenoff commented on #63
@toshan2014 Please use new modal on desktop and mobile

[2016-04-07 17:49] stevepessah commented on #11
@toshan2014 on mobile, please put the "Login Here" link on a separate line below the previous copy.

[2016-04-07 17:58] stevepessah commented on #148
@spaulenoff mobile is fine to include it on the bottom, just needs to be moved up to be closer to the bottom tile.

[2016-04-07 17:59] spaulenoff commented on #148
@skt2 Please make the update steve has mentioned. Can you also please move the button and sidebar down so that the top of the button, aligns with the top of the first tile on desktop?

[2016-04-07 18:02] stevepessah commented on #155
I'm not a big fan of the design.. what do you think?

[2016-04-07 18:06] spaulenoff commented on #155
I think its fine as it is consistent with the design on the compare breeds app. If you want another design we can discuss and create a new ticket for the new design.

[2016-04-07 18:09] stevepessah commented on #27
@spaulenoff pages look good. Did you check out the other parts:
- we just want the ability to list this template style in the news section. http://www.akc.org/news/
- the article should also be listed in the Google news sitemap. http://www.akc.org/blog/sitemap/

[2016-04-07 18:10] spaulenoff commented on #155
Compare breeds results for comparison
![compare breeds results](https://cloud.githubusercontent.com/assets/13648969/14361758/7c8782a2-fcca-11e5-9f30-a279d6cf975b.png)

[2016-04-07 18:12] spaulenoff commented on #27
@stevepessah
1. It is only an option in the news article
2. @skt2 can you confirm?

[2016-04-07 18:14] stevepessah commented on #155
@spaulenoff true, ok. We'll have to re-look at that once we get a designer ;)

Verified on dev2.

[2016-04-07 18:42] toshan2014 commented on #157
Time : 3h

[2016-04-07 18:48] spaulenoff opened #170 "Article Page on microsite"
## Sample URLs:
- http://www.akc.org/content/dog-breeding/articles/tax-tips-for-dog-breeders/
- http://www.akc.org/content/entertainment/articles/9-photos-of-german-shepherds-to-brighten-your-day/
- http://www.akc.org/content/westminster-dog-show/articles/westminster-group-results-day-2/
## Desktop
1. Remove top hero image and place it under the title of the article (this means we only have to cre

[2016-04-07 18:50] spaulenoff commented on #170
This is a high priority request that came from Elie, @kylejbertelsen Can you please review and add a time . We can discuss later today with @elieo, and @stevepessah

[2016-04-07 19:03] toshan2014 commented on #11
please check : http://develop2.akc.org/delegate/delegates-portal/

[2016-04-07 19:04] spaulenoff commented on #158
Removing from #166 4/14 sprint and replacing with #170

[2016-04-07 19:05] toshan2014 commented on #11
Time spent: 1h30min

[2016-04-07 19:13] stevepessah commented on #27
@spaulenoff @skt2 if there is an ad in the sidebar on desktop, don't display on mobile.

[2016-04-07 19:30] spaulenoff commented on #157
Verified on Dev2

[2016-04-07 19:47] spaulenoff commented on #170
@kylejbertelsen Please see the additional information you requested
1. Ad Calls - Desktop: Banner ad  (x03 728x90), Sidebar ads - x35(300x250), x37 (300x600)
   Mobile: Banner Ad - x10 (320x50), In content 300x250 - x35 (300x250)
2. This will only affect Article pages in the content hub
3. Sample URLs - http://www.akc.org/content/dog-breeding/articles/tax-tips-for-dog-breeders/, http://www.akc.org

[2016-04-07 19:56] spaulenoff commented on #11
Seeing this on Develop 2 Verified.

[2016-04-08 04:26] toshan2014 commented on #63
There are a total of 10 screens: 8 of which I've *_temporarily *_ put a link to in the Sign In menu for testing purposes + Login and Registration screens. Those 8 screens will obviously not process any data passed  upon Submit as their functionality depends on the status of the member's account but their field inputs can be tested.

Please QA: http://develop2.akc.org/

Time spent : 12h

[2016-04-08 12:41] kylejbertelsen commented on #170
I fail to see how this is urgent enough to warrant breaking the cycle of our sprint, but in a moment of weakness I agreed to it, so I'll follow-through. However, this habit has to be broken: Next time, without a compelling business or technical reason, this would wait until the following sprint.

I don't want to rant, but this has the appearance of being a very ad-hoc change. Let's put together an

[2016-04-08 12:49] kylejbertelsen commented on #170
@spaulenoff: Regarding OptinMonster (#4 in screenshot), should that be removed throughout, or only for the /content article pages?

[2016-04-08 13:07] spaulenoff commented on #170
I believe that should be removed on /content article, photo-gallery and video pages. @stevepessah and/or @elieo can you please confirm if there is anywhere else that the OptinMonster be removed?

[2016-04-08 13:13] spaulenoff commented on #63
Thank you @toshan2014 Can we remove those links up top? Can you please also confirm if this is the modal that is also used on Marketplace?

[2016-04-08 13:23] skt2 commented on #19
@spaulenoff What is the term we want to use for neither whitelisted or blacklisted, as of now I am using Anonymous.

[2016-04-08 13:28] kylejbertelsen commented on #170
@spaulenoff Another complication: when there is no 'banner image' for an article, it defaults to the category hero. Either we have to make the banner image required, or we'll have to change the category hero. Decide quickly.

[2016-04-08 13:30] skt2 commented on #148
![screen shot 2016-04-08 at 9 30 10 am](https://cloud.githubusercontent.com/assets/16002526/14385072/8c78f0cc-fd6c-11e5-97b5-d8bd14bdea17.png)

[2016-04-08 13:35] spaulenoff commented on #19
@skt2 not anonymous, can we just say unassigned?

[2016-04-08 13:36] spaulenoff commented on #170
@kylejbertelsen Banner image will be required

[2016-04-08 13:43] spaulenoff commented on #162
I see the teads code in the source. Please push to stage so we can better test to see if the incontent is working correctly

[2016-04-08 13:59] spaulenoff commented on #148
@skt2 Looks good on desktop.

Can we remove the blank space highlighted below on the SEO page: EG. http://develop2.akc.org/dog-breeds/hypoallergenic-dogs/

![blankspace mobile](https://cloud.githubusercontent.com/assets/13648969/14385868/804ec93a-fd70-11e5-979b-d5962f847145.png)

[2016-04-08 14:01] kylejbertelsen commented on #170
CMS alterations:
Channel Fields > Article > Banner Image: change description to 'Large image for an article. Recommended Image Size 819x545' (not required)

[2016-04-08 15:19] spaulenoff commented on #166
Sprint extended to 4/19 due to addition of #170

[2016-04-08 15:34] toshan2014 commented on #63
As per Simon's comment, URLs to other screens have been removed. Please QA

Marketplace will have to test their modal on new screen : "Login-web-2-new "

[2016-04-08 15:51] skt2 commented on #19
@spaulenoff This is taking longer then expected as we want to add new Status(Unassigned) for newly added social user and change the status of image file based on user status.

[2016-04-08 16:08] toshan2014 commented on #155
stage : http://stage-ng.akc.org/find-a-match/results/

[2016-04-08 16:10] toshan2014 commented on #157
stg:
http://stage-ng.akc.org/media/
http://stage-ng.akc.org/article/
http://stage-ng.akc.org/article/akc-training/
http://stage-ng.akc.org/media/view/test-photo-gallery/

[2016-04-08 16:12] toshan2014 commented on #11
stg: http://stage-ng.akc.org/delegate/delegates-portal/

[2016-04-08 16:25] spaulenoff commented on #63
Verified on Dev2

[2016-04-08 17:33] spaulenoff commented on #11
Verified on Stage @stevepessah Please confirm it looks good to you as well

[2016-04-08 17:58] skt2 commented on #162
It's working for me on: http://stage-ng.akc.org/dog-breeds/affenpinscher/

[2016-04-08 18:02] skt2 commented on #164
Working for me on: http://stage-ng.akc.org/dog-breeds/smartest-dogs/

[2016-04-08 20:20] skt2 commented on #162
Added new add-ons: http://republiclabs.com/expressionengine/republic-variables

[2016-04-11 06:54] AKCOsama commented on #58
Hi @spaulenoff, here are some issues compatible on stage environment and looks good on develop2:
1. Learn - Article size isn't standardized, the size of article depends on how long the title is [see Learn - Articles size.png snapshot.]
   ![learn - articles size](https://cloud.githubusercontent.com/assets/16208336/14418921/be6357ca-ffca-11e5-9e0a-d73cbc419f7c.png)
2. Learn - Drop down list have no

[2016-04-11 11:47] aalattili commented on #161
@spaulenoff , @kylejbertelsen
This ticket was not tested since we are blocked by tunnel issues, all of the IP addresses listed in confluence are not accessable from our side.

[2016-04-11 14:25] kylejbertelsen commented on #170
Time tracking:
2016-04-08: kjb: 3 hours
2016-04-11: kjb: 4 hours
2016-04-12: kjb: 4 hours
2016-04-13: kjb: 3 hours
2016-04-14: kjb: 1.5 hours

[2016-04-11 14:26] spaulenoff commented on #164
Its working on pages with videos, however, I am not seeing the incontent video play when there is no video http://stage-ng.akc.org/dog-breeds/hypoallergenic-dogs/

[2016-04-11 15:59] toshan2014 commented on #63
Please qa on stage

[2016-04-11 16:03] skt2 commented on #19
Tested here: http://develop2.akc.org/dog-breeds/affenpinscher/
@spaulenoff  For now you can test:
1) when any new social user added in database, his/her status should be "Unassigned"
CMS > Add-ons > Modules > Social Aggregator > View Social Users(button on top-right corner)
2) when any new post added for existing user and if his/her status is "Whitelisted" and then new post should be "Published" b

[2016-04-11 16:04] skt2 commented on #19
Time spent today: 3h

[2016-04-11 16:06] spaulenoff commented on #63
Looks good tome @stevepessah Please QA on Stage on desktop and mobile

[2016-04-11 18:55] stevepessah commented on #107
http://www.armitageonline.co.uk/insights/how-to-create-an-image-slider-for-expression-engine

[2016-04-11 19:30] stevepessah commented on #63
Can we move the content up a bit so you can fully see the option to Sign Up?

@spaulenoff also check on iPhone 5 and tablet for those experiences.

![img_4749](https://cloud.githubusercontent.com/assets/1063028/14439674/5d227484-fffa-11e5-9d78-5062c0e632a1.PNG)